<div ui-view="header"></div>

<div class="lists-wrap container-fluid">
	<div class="row hidden-menu" ng-show="listMenuShow">
      <div class="col-md-10 col-md-offset-1 padding-left-right-none">
        <div class="searchbar">
          <input type="text" placeholder='Search...' name='listSearchModel' ng-model="listSearchModel" class="customInput">
        </div>
      </div>
    </div>

    <div class="row hidden-menu" ng-show="listMenuShow">
      <div class="col-md-10 col-md-offset-1 search-btn-wrap padding-left-right-none">
        <input type="button" value="Create list" class="reset-all-btn create-list-btn" id="createListBtn" ng-click="callCreateListItem()">
        <!-- <input type="button" value="Save Search" class="reset-all-btn"> -->
        <!-- <input type="button" value="Import Keywords" class="reset-all-btn"> -->
        <!-- <input type="button" value="Add to alerts" class="reset-all-btn"> -->
      </div>
    </div>

    <div class="row hidden-menu" id="listMenu" ng-show="listMenuShow">
      <div class="list-menu col-md-10 col-md-offset-1">
        <h2 class="page-title">Lists</h2>
        <div class="menu-wrap">
          <div class="sort-select-wrap">
            <div class="sort-selects">
              <span class="arrows-icon"><i class="fa fa-exchange"></i></span>
              <select ui-select2="{positionDropdown : true}" id="listSortByDate" ng-model="sortByDateListModel" ng-change="sortByDate()" data-placeholder="Sort by Date">
                <option value=""></option>
                <option value="created">Recent first</option>
                <option value="-created">Old first</option>
              </select>
            </div>
        </div>

        <div class="sort-select-wrap">
         <div class="sort-selects">
            <span class="arrows-icon"><i class="fa fa-exchange"></i></span>
            <select ui-select2="{positionDropdown : true}" id="listSortByName" ng-model="sortByNameListModel" ng-change="sortByName()" data-placeholder="Sort by Name">
              <option value=""></option>
              <option value="-name">A - Z</option>
              <option value="name">Z - A</option>
            </select>
          </div>
        </div>
        
        <!-- <span class="view-option grid-view"><i class="fa fa-th"></i></span>
        <span class="view-option list-view"><i class="fa fa-bars"></i></span> -->
        
        <input type="button" id="clearAllFilters" value="Reset All" class="reset-all-btn" ng-click="resetAll()">
        </div> <!-- menu-wrap -->
      </div>
    </div> <!-- row -->

    <div class="list-preloader-wrap" ng-show="listPreloader">
      <div class="preloader-wrap">
        <img src="../../dist/images/green-preloader.gif" class="green-preloader">
      </div>
    </div>

    <div class="list-preloader-wrap" ng-show="listNoListMsg">
      <div class="pre-info-block">
        <p class="pre-info-text">No list here.</p>
        <input type="button" value="Create list" class="reset-all-btn create-list-btn" id="createListBtn" ng-click="callCreateListItem()" style="float: none;">
      </div>
    </div>

    <div class="row" ng-show="listsItemList">
      <div class="list-container-wrap col-md-10 col-md-offset-1" id="listContainerWrap">
 
        <a href="lists/{{item.id}}" class="list-detailed-link" ng-repeat="item in listsData | reverse | filter:listSearchModel">
            <div class="locations-item lists-item">
              <div class="item-image">
                <!--<img class="map-screenshot" src="images/google-maps-img.png" alt="Google Maps Image">-->
              </div>
              <div class="item-info">
                  <div class="item-title">{{item.name}}</div>
                  
                  <div class="list-icon-wrap">
                      <!-- <i class="fa fa-exclamation" aria-hidden="true"></i> active
                      <i class="fa fa-list-alt" aria-hidden="true"></i> -->
                      <i class="fa fa-trash-o" id="deleteList" ng-click="calldeleteListItem($event, item.id); $event.preventDefault();" aria-hidden="true"></i>
                  </div>
              </div> <!-- item-info -->
              <div class="item-menu">
                  <div class="item-date-created">{{item.created | formatDate}} {{item.created | formatTime}}</div>
                  <div class="item-date">Total posts saved <span class="total-count">{{ item.posts_count }}</span></div>
                  <!-- <div class="item-date"><i class="fa fa-list-alt list-icon" aria-hidden="true"></i>Posts with annotations <span class="total-count  critical">0</span></div> active
                  <div class="item-date"><i class="fa fa-exclamation list-icon" aria-hidden="true"></i>Critical posts <span class="total-count anontiations">0</span></div> -->
              </div> <!-- item-menu -->
            </div>
        </a>

        <div class="list-preloader-wrap no-list-item" ng-show="(listsData|filter:listSearchModel).length == 0">
          <div class="pre-info-block">
            <p class="pre-info-text">No items found!</p>
          </div>
        </div>
       
      </div> <!-- locations-list -->
    </div> <!-- row -->

</div>

<div ui-view="footer"></div>