<div class="container-fluid header-container">
  <div class="trainer-page-wrap">
    <div class="header row">
      <div class="container">
        <div class="col-md-6">
          <div class="trainer-logo-wrap">
            <img class="trainer-logo" src="../../dist/images/trainer/TrainerLogo.png" alt="Logo">
          </div>
        </div>
        <div class="col-md-6">
          <nav class="navbar navbar-light">
            <ul class="header-right">
              <li class="user-info" id="popupToggle">
                <a href="">
                  <img class="user-image" src="">
                  <span class="user-name"></span>
                </a>
                <div class="user-popup" id="headerPopup">
                  <a href="#" id="logout">Sign out</a>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div> <!-- header -->
    <div class="container">
      <div class="row trainer-menu">
        <div class="col-md-6 no-side-paddings">
          <div class="select-category-wrap">
            <span class="select-cat">Select Category</span>
            <div class="sort-selects">
              <select ui-select2="{positionDropdown : true}" ng-model="select2" data-placeholder="Select Category">
                <option value=""></option>
                <option value="DRUGS">DRUGS</option>
                <option value="VIOLENCE">VIOLENCE</option>
                <option value="TRAFFICKING">TRAFFICKING</option>
                <option value="TERRORISM">TERRORISM</option>
                <option value="SHOOTING">SHOOTING</option>
                <option value="DISASTER">DISASTER</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <a href="#" class="yellow-link help-btn">Help</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Trainer list here -->
        </div>
      </div>
    </div>
    <div class="loader-wrapper loaded">
      <div class="prealoader-container">
          <img src="../../dist/images/green-preloader.gif" class="preloader-gallery-img">
      </div>
    </div>
  </div>
</div> <!-- container -->
