<div class="container-fluid header-container">
      <div class="header row">
        <div class="col-md-3 text-center">
          <a href="/" target="_blank" class="main-link">
           <img class="header-logo" src="../dist/images/Blackbird-logo-header.png" alt="Logo" draggable="false">
          </a>
        </div>
        <div class="col-md-7">
          <nav class="navbar navbar-light">
            <ul class="nav navbar-nav">
              <li class="nav-item">
                <a class="nav-link" ng-click="openInNewTab('/info')" ng-class="getClass('/info')">Dashboard<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ng-click="openInNewTab('/locations')" ng-class="getClass('/locations')">Locations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ng-click="openInNewTab('/lists')" ng-class="getClass('/lists')">Lists</a>
              </li>
              <li class="nav-item">
				  <a class="nav-link" ng-click="openInNewTab('/alerts')" ng-class="getClass('/alerts')">Alerts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ng-class="getClass('/demo')" ng-click="openInNewTab('/demo')">Demo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ng-class="getClass('/loop-demo')" ng-click="openInNewTab('/loop-demo')">Looped Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ng-class="getClass('/dashboard')" ng-click="openInNewTab('/dashboard')">Streaming</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-2 nav-left">
          <nav class="navbar navbar-light">
            <ul class="header-right">
              <li class="notif-popup-wrap">
                <a class="nav-link" id="notifPopupToggle" ng-click="showNotificationPopup = !showNotificationPopup; showSignOutPopup = false; $event.stopPropagation();">Notifications</a>
                <div class="yellow-oval" id="notification-count"><span>7</span></div>
                <div class="notif-popup" id="notifPopup" ng-class="{'active': showNotificationPopup}">
                  <div id="unreadNotificationWrap">
                    <a>My new alert</a>
                    <a>My new alert</a>
                    <a>My new alert</a>
                    <a>My new alert</a>
                    <a class="no-alerts-popup">No unread notifications.</a>
                  </div>
                  <a ui-sref="notifications" class="notif-popup-btn" id="not-btn">See all notifications</a>
                </div>
              </li>
              <li class="user-info" ng-click="showSignOutPopup = !showSignOutPopup; showNotificationPopup = false; $event.stopPropagation();">
                <a href="">
                  <img class="user-image" src="../../dist/images/user.png">
                  <span class="user-name">Settings</span>
                </a>
                <div class="sign-out-popup" ng-class="{'active': showSignOutPopup}">
                  <a ng-click="callInstagramPopUp($event)">Add Instagram</a>
                  <a href="/login" id="logout">Sign out</a>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div> <!-- header -->
</div> <!-- container -->

<div class="dashboard-wrap container-fluid">
	<div class="social-line">
		<div class="social-check-wrap">
			<div class="social-line-separator">
				<div class="social-check twitter-check">
					<input type="checkbox" name="checkboxG5" id="twitToggleCheckbox" class="css-checkbox" ng-model="checkTwitterPins" ng-click="displayTwitterPins($event)">
					<label for="" class="css-label"></label>
					<div class="social-icon">
						<img src="../../dist/images/twitterPlatform.png" alt="">
					</div>
					<span class="social-name css-label">Twitter</span>
				</div>
				<!--<div class="social-check instagram-check">
					<input type="checkbox" name="checkboxG5" id="twitToggleCheckbox" class="css-checkbox" ng-model="checkInstagramPins" ng-click="displayInstagramPins($event)">
					<label for="" class="css-label"></label>
					<div class="social-icon">
						<img src="../../dist/images/instagramPlatform.png" alt="">
					</div>
					<span class="social-name css-label">Instagram</span>
				</div>
				<div class="social-check facebook-check">
					<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkFacebookPins" ng-click="displayFacebookPins($event)">
					<label for="" class="css-label"></label>
					<div class="social-icon">
						<img src="../../dist/images/facebook.png" alt="">
					</div>
					<span class="social-name css-label">Facebook</span>
				</div>-->
			</div>
			<div class="social-line-separator">
				<div class="social-check news-check" ng-mouseover="socialNewsPopup = true" ng-mouseleave="socialNewsPopup = false">
					<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPins" ng-click="displayNewsPins($event)">
					<label for="" class="css-label"></label>
					<div class="social-icon">
						<img src="../../dist/images/news.png" alt="">
					</div>
					<span class="social-name css-label">News</span>

					<div class="news-popup" ng-show="socialNewsPopup" ng-mouseover="socialNewsPopup = true" ng-mouseleave="socialNewsPopup = false">
						<div class="social-check cctv-check">
							<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop1Pins" ng-click="checkNewsPop1Pins($event)">
							<label for="" class="css-label"></label>
							<div class="social-icon">
								<img src="../../dist/images/cnn.jpg" alt="">
							</div>
						</div>
						<div class="social-check cctv-check">
							<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop2Pins" ng-click="checkNewsPop2Pins($event)">
							<label for="" class="css-label"></label>
							<div class="social-icon">
								<img src="../../dist/images/wapo.jpg" alt="">
							</div>
						</div>
						<div class="social-check cctv-check">
							<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop3Pins" ng-click="checkNewsPop3Pins($event)">
							<label for="" class="css-label"></label>
							<div class="social-icon">
								<img src="../../dist/images/npr.jpg" alt="">
							</div>
						</div>
						<div class="social-check cctv-check">
							<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop4Pins" ng-click="checkNewsPop4Pins($event)">
							<label for="" class="css-label"></label>
							<div class="social-icon">
								<img src="../../dist/images/nytimes.jpg" alt="">
							</div>
						</div>
						<div class="social-check cctv-check">
							<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop5Pins" ng-click="checkNewsPop5Pins($event)">
							<label for="" class="css-label"></label>
							<div class="social-icon">
								<img src="../../dist/images/msnbc.jpg" alt="">
							</div>
						</div>
						<div class="social-check cctv-check">
							<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop6Pins" ng-click="checkNewsPop6Pins($event)">
							<label for="" class="css-label"></label>
							<div class="social-icon">
								<img src="../../dist/images/bbc.jpg" alt="">
							</div>
						</div>
						<div class="social-check cctv-check">
							<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop7Pins" ng-click="checkNewsPop7Pins($event)">
							<label for="" class="css-label"></label>
							<div class="social-icon fox-news-icon">
								<img src="../../dist/images/fox.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="social-check cctv-check">
					<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkCctvPins" ng-click="displayCctvPins($event)">
					<label for="" class="css-label"></label>
					<div class="social-icon">
						<img src="../../dist/images/CCTV.png" alt="">
					</div>
					<span class="social-name css-label">CCTV</span>
				</div>
				<div class="social-check deepweb-check">
					<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkDeepwebPins" ng-click="displayDeepwebPins($event)">
					<label for="" class="css-label"></label>
					<div class="social-icon">
						<img src="../../dist/images/darkweb.png" alt="">
					</div>
					<span class="social-name css-label">Deep Web</span>
				</div>
			</div>
		</div>
		<div class="toggleWrapper">
			<label class="label_stream" for="streamToggleCheck"><span class="data-on" ng-class="{'active': streamToggleCheck}">Data<br>On</span><span class="data-off" ng-class="{'active': !streamToggleCheck}">Data<br>Off</span></label>
			<label class="switch">
				<input type="checkbox" id="toggleStream" ng-model="$root.streamToggleCheck" ng-change="toggleStreamChange()">
				<div class="slider round"></div>
			</label>
		</div>
		<md-button class="today-date-button" id="todayDate">Today, {{ nowDate | date:'MM/dd/yyyy' }}</md-button> <!-- ng-click="callDatePickerModal($event)" -->
	</div> <!-- social-line -->

	<div class="map-gallery-wrap pagination-margin-dashboard">
		<div class="row">
			<div class="col-md-12">
				<div class="gallery-navbar">
					<div class="navbar-tabs">
						<span class="tab-item" ng-click="callMapShowFull(); callChangeTab('map')" ng-class="{'active': tabIndex == 'map'}"><img src="../../dist/images/map-tab.png" class="tab-item-img">Map</span>
						<span class="tab-item" ng-click="callGalleryShowFull(); callChangeTab('gallery')" ng-class="{'active': tabIndex == 'gallery'}"><img src="../../dist/images/layout.png" class="tab-item-img">Gallery</span>
						<span class="tab-item" ng-click="callSplitView(); callChangeTab('split-view')" ng-class="{'active': tabIndex == 'split-view'}"><img src="../../dist/images/split-browser.png" class="tab-item-img">Split view</span>
						<span class="tab-item" ng-click="callExamineView(); callChangeTab('examine')" ng-class="{'active': tabIndex == 'examine'}">Examine</span>
						<a class="tab-item" ng-click="goToRecorded()" ng-class="{'disabled-recorded': recordedDisabled}">Recorded</a> <!-- ng-click="stopStreamDataToRecorded();" -->
							<!-- ng-click="goToRecorded()" -->
					</div>
					<div class="record-status">
						LIVE MODE <span class="status-dot green"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row oversized-row">
			<div ng-class="mapShow" ng-show="mapShowStatus" class="map-show-wrap">
				<ng-map class="map-wrap" id="mapDashboard">
					<div class="overmap" id="over-map" ng-class="{'small': makeOvermapSmall}">
						<div class="col-md-12 zero-right-padding">
							<div class="col-md-8 col-sm-8 minus-padding">
								<input id="locationNameInput" placeholder="Find Location" class="locationbar" type="text" ng-change="findLocation()" ng-model='locationNameInput'/>
							</div>
							<div class="col-md-4 col-sm-4 zero-right-padding plus-min-relative">
								<div class="over-pl-ms-block">

								</div>
								<div class="zoom_btn_wrap">
									<button id="mapMinus" class="zoom_btn" ng-click="radiusMapMinus()" ng-disabled="minusDisabled" ng-class="{'disabled': minusDisabled}">
										<i class="fa fa-minus btn_rotate_left" aria-hidden="true"></i>
									</button>
									<div class="radius-size-wrap">
										<span class="circle_zoom"><i class="fa fa-circle-thin" aria-hidden="true"></i></span>
										<p class="radius-size"><span id="radiusSize">{{ radiusValue }}</span><span class="radius-unit">{{ radiusUnit }}</span></p>
									</div>
									<button id="mapPlus" class="zoom_btn" ng-click="radiusMapPlus()" ng-disabled="plusDisabled" ng-class="{'disabled': plusDisabled}">
										<i class="fa fa-plus btn_rotate_right" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</div>
						<div class="over_map_bottom">
							<div class="map_icon_overmap">
								<div class="map_img_wrap">
									<img src="../../dist/images/location-pin_tiny@2x.png">
								</div>
							</div>
							<div class="overmap_bottom_wrap">
								<p class="map_location_text">Address Match Found:</p>
								<p class="map_location_name"><span id="address">{{addressName}}</span></p>
							</div>
							<div class="btn_control_container">
								<input type="button" value="Save Location" class="yellow-button" ng-click="callSaveLocationModal($event)">
								<input type="button" value="Set Radius" class="yellow-button" ng-disabled="setRadiusDisabled" ng-class="{'setRadiusDisable': setRadiusDisabled}" ng-click="callCircleActive(); getStreamDataInit();">
								<input type="button" value="Move Radius" class="yellow-button" ng-show="showMoveRadius" ng-click="activeMoveRadius(); clearAnalyticsReloadInterval();">
							</div>
						</div>
					</div>
				</ng-map>
			</div>

			<div ng-class="galleryShow" ng-show="galleryShowStatus" class="gallery-show-wrap">
				<span class="show-posts-btn" scroll-to-top ng-class="{'active': showNewPostsButton}" ng-click="toggleStreamChange()">Show new posts</span>
				<div class="gallery-wrap" gallery-scroller>
					<div class="preloader-wrap" ng-class="{'preloader-wrap-active': galleryPreloaderWrap}">
						<img src="../../dist/images/green-preloader.gif" class="green-preloader">
					</div>
					<div class="pre-info-wrap" ng-class="{'pre-info-wrap-active': galleryPreInfo}">
						<div class="pre-info-block">
							<p class="pre-info-text">No posts yet. <br> Set radius to see feed.</p>
						</div>
					</div>
					<div class="pre-info-wrap" ng-show="radiusMoreFive">
						<div class="pre-info-block">
							<p class="pre-info-text">{{radiusLimitError}}!<br> Please try again.</p>
						</div>
					</div>
					<div class="pre-info-error" ng-class="{'pre-info-error-active': galleryPreInfoError}">
						<div class="pre-info-block">
							<p class="pre-info-text">Error occurred. <br> Please try again later.</p>
						</div>
					</div>
					<div class="pre-info-wrap" ng-show="excededStreaming">
						<div class="pre-info-block">
							<p class="pre-info-text">You have exceeded the number of locations to monitor.<br>Stop one of the locations first before streaming a new one.</p>
						</div>
					</div>
					<div class="galleryFeed">

						<!-- ////////////////// -->
						<!-- GALLERY ITEMS HERE -->
						<!-- ////////////////// -->
						
						<div class="gallery-item" ng-repeat="item in streamDataArray" ng-class="{'small': smallGalleryItem}">
							<div class="ad-window ad-image">
								<div class="post-category-wrapper">
									<span class="category-label">Sounds like:</span>
									<div class="post-category" ng-if="item.category == ''">
										<span class="category-text category-text-generic">Generic</span>
									</div>
									<div class="post-category" ng-if="item.category == 'Generic'">
										<span class="category-text category-text-generic">{{ item.category }}</span>
									</div>
									<div class="post-category" ng-if="item.category != 'Generic'">
										<span class="category-text">{{ item.category }}</span>
										<div class="category-icon">
											<img ng-if="item.category != 'Generic'" ng-hide="item.category == ''" src="../../dist/images/{{item.category}}.png" img-error="../../dist/images/empty-img.png" class="post-category-img">
										</div>
									</div> <!-- post-category -->
								</div> <!-- post-category-wrapper -->
								<div class="post-date">
									<img src="../../dist/images/calendar-icon.png" alt="" class="calender-icon">
									<span class="time">{{ item.timestamp_db | formatTime }}</span>
									<span class="date">{{ item.timestamp_db | formatDate }}</span>
								</div>

								<div ng-if="item.media_url.length > 1" class="post-image-wrap">
									<a href="#">
										<i class="fa fa-search full-img-icon" aria-hidden="true" ng-click="showFullImg('', item.media_url, item.text)"></i>
										<img src="{{item.media_url}}">
									</a>
								</div>

								<div ng-if="item.media_url.length > 1" class="post-content with-img" ng-bind-html="item.text | removeSymbols">
									<!-- {{ item.text }} -->
								</div>

								<div ng-if="item.media_url.length < 1" class="post-content" ng-bind-html="item.text | removeSymbols">
									<!-- {{ item.text }} -->
								</div>
								
								<div class="post-info-and-rate">
									<div class="user-info-wrap">
										<div ng-if="item.platform == 'twitter'" class="user-avatar-wrap-twitter">
											<img class="user-avatar blur" src="{{ item.user_profile_image_url }}" img-error="../../dist/images/no-user-img.png">
										</div>
										<div ng-if="item.platform == 'instagram'" class="user-avatar-wrap-instagram">
											<img class="user-avatar blur" src="{{ item.user_profile_image_url }}" img-error="../../dist/images/no-user-img.png">
										</div>
										<div class="post-user-info">
											<div class="post-user-name">
												<div class="TweetAuthor-name Identity-name customisable-highlight">Twitter User</div> <!-- {{item.user_screen_name | limitTo: 14 }} -->
												<div class="TweetAuthor-screenName Identity-screenName">@twitter_user</div> <!-- {{ item.user_name | limitTo: 17 }} -->
											</div>
										</div>
									</div> <!-- user-info-wrap -->


									<div class="post-rate">
										<div class="circle-mark-wrap">
											<div ng-if="item.sentiment > '0.5'">
												<div class="circle positive"></div>
												<div class="mark positive">
													{{ item.sentiment | number : 1 }}
												</div>
											</div>
											<div ng-if="item.sentiment < '-0.5'">
												<div class="circle negative"></div>
												<div class="mark negative">
													{{ item.sentiment | number : 1 }}
												</div>
											</div>
											<div ng-if="item.sentiment > '-0.5' && item.sentiment < '0.5'">
												<div class="circle neutral"></div>
												<div class="mark neutral">
													{{ item.sentiment | number : 1 }}
												</div>
											</div>
										</div>
										<div class="message positive" ng-if="item.sentiment_tag == 'positive'">
											POSITIVE
										</div>
										<div class="message negative" ng-if="item.sentiment_tag == 'negative'">
											NEGATIVE
										</div>
										<div class="message neutral" ng-if="item.sentiment_tag == 'neutral'">
											NEUTRAL
										</div>
									</div> <!-- post-rate -->
								</div> <!-- post-info-and-rate -->

								<div class="post-menu">
									<a class="showPinOnMapBtn" ng-click="showPinOnMap(item.post_id, 'mapDashboard')"><i class="fa fa-map-marker bigger-icon" aria-hidden="true"></i></a>
									<a class="showPin" ng-click="zoomToPostPin(item.location, 'mapDashboard')"><i class="fa fa-map-pin"></i></a>
									<a class="resetMap" ng-click="zoomToMap('mapDashboard')"><i class="fa fa-map"></i></a>
									<!-- <a class="annotation-btn" ng-click="annotatePost()"><span class="annotation-icon">!</span></a> -->
									<div class="menu-select">
										<select ng-model="dasboardUserList" ng-change="addPostToList(item.post_id, dasboardUserList)" ng-click="getListData()">
											<option style="color: #000" ng-repeat="list in $root.userListData" value="{{list.id}}">{{list.name}}</option>
										</select>
									</div>
								</div>
	
								<!-- <div class="hover-overlay">
									<div class="hover-menu-wrap">
										<div class="hover-menu">
											<a class="showPinOnMapBtn" ng-click="showPinOnMap(item.post_id, 'mapDashboard')"><i class="fa fa-map-marker" aria-hidden="true"></i>Show pin</a>
											<div class="pin-zoom-wrap">
												<a class="showPin" ng-click="zoomToPostPin(item.location, 'mapDashboard')"><i class="fa fa-map-pin"></i></a>
												<a class="resetMap" ng-click="zoomToMap('mapDashboard')"><i class="fa fa-map"></i></a>
											</div>
											<a class="annotation-btn" ng-click="annotatePost()">Annotate</a>
											<div class="hover-select">
												<select ng-model="dasboardUserList" ng-change="addPostToList(item.post_id, dasboardUserList)">
													<option value="" disabled selected>Add to list...</option>
													<option ng-repeat="list in $root.userListData" value="{{list.id}}">{{list.name}}</option>
												</select>
											</div>
										</div>
									</div>
								</div> -->
								
							</div>
						</div> <!-- gallery-item -->

					</div>
				</div>
			</div>

			<!-- Examine view -->
			<div ng-include="'views/examine/examine.html'"></div>

		</div>
	</div> <!-- gallery-map-wrap -->

	<div class="preloader-wrap-bottom" ng-class="{'active' : preloaderBottom}">
      <div class="preloader-container">
        <img src="../../dist/images/green-preloader.gif">
      </div>
    </div>

</div> <!-- dashboard-wrap -->

<div ui-view="footer"></div>