<div ui-view="header"></div>

<div class="list-detailed-wrap container-fluid">
	<div class="row">
		<div class="lists-catalog-wrap">
	        <div class="lists-catalog">
	          <div class="lists-header">
	            <div class="lists-title breadcrumbs-list"><a href="/lists">Lists</a> &nbsp; > &nbsp; <a href="#" class="list-name"></a>{{listName}}</div>

	            <div class="list-buttons">
	              <button id="pagePrint" ng-click="printPage()" class="reset-all-btn list-print">Print</button>
	              <!-- <button id="saveToPDF" ng-click="saveToPDF()" class="reset-all-btn list-to-pdf">Save to PDF</button>
	              <button id="sharePage" class="reset-all-btn list-share">Share</button> -->
	            </div>

	            <div class="lists-summary">
	              <div class="total-saved">
	                Total posts saved<span class="total-bubble saved">{{postsCount}}</span>
	              </div>


	              <div class="critical-posts">
	                Critical posts<span class="total-bubble critical-posts" id="totalCritical">0</span>
	              </div>

	              <div class="annotations-posts">
	                Posts with annotations
	                <span class="total-bubble annotations" id="totalAnnotations">0</span>
	              </div>
	            </div> <!-- lists-summary -->

	          </div> <!-- lists-header -->

	          <div class="lists-items" id="listItemsWrap">

		         <div class="list-preloader-wrap" ng-show="itemListPreloader">
				  <div class="preloader-wrap">
				    <img src="../../dist/images/green-preloader.gif" class="green-preloader">
				  </div>
				</div>

				<div class="list-preloader-wrap" ng-show="noItemMsg">
				  <div class="pre-info-block">
				    <p class="pre-info-text">No posts here.</p>
				  </div>
				</div>

				<div class="itemListWrap" ng-show="itemList">
					<div class="lists-item" ng-repeat="item in listItemFull | reverse">
	                    <div class="item-image">
	                        <a target="_blank"><img src="{{item.media_url}}" img-error="../../dist/images/post-no-img.png"></a>
	                    </div>
	                    <p class="item-content"><i class="fa fa-exclamation " aria-hidden="true"></i> {{item.text}}</p>
	                    <div class="item-menu">
	                        <div class="item-date">Created on: <span class="created-date">{{item.timestamp | formatDate}}, {{item.timestamp | formatTime}}</span></div>
	                        <div class="menu-buttons">
	                            <input type="button" value="Annotation" id="annotationBtn" class="reset-all-btn annotation-list-btn"> <!--active-->
	                            <input type="button" value="Delete" id="deleteSavedItem" class="reset-all-btn delete-post" ng-click="callDeletePostFromList($event, item.post_id)">
	                        </div>
	                    </div>
	                </div>
				</div>

	          </div>

	        </div> <!-- lists-catalog -->
	    </div> <!-- catalog-wrap -->

	    <!-- <div class="pagination-btn-wrap active">
	            	<div class="over-feed-btn over-feed-left" id="leftPaginationBtn"><img src="../../dist/images/left-arrow.png" class="feed-arrow"></div>
	            	<div class="over-feed-btn over-feed-right" id="rightPaginationBtn"><img src="../../dist/images/right-arrow.png" class="feed-arrow"></div>
	          	</div> -->
	</div>

	<div class="preloader-wrap" ng-class="{'active' : preloaderActive}">
		<div class="preloader-container">
			<img src="../../dist/images/green-preloader.gif">
		</div>
	</div>
</div>

<div ui-view="footer"></div>