<div ui-view="header"></div>

<div class="saved-locations-wrap container-fluid">

  <div class="preloader-wrap loading-items" ng-show="preloader">
    <img src="../../dist/images/green-preloader.gif" class="green-preloader">
  </div>

  <div class="loading-items" ng-show="noLocations">
    <div class="pre-info-block">
      <p class="pre-info-text">No saved locations.</p>
    </div>
  </div>

	<div class="row" ng-show="saveLocationShow">
      <div class="list-menu col-md-10 col-md-offset-1">
        <h2 class="page-title">Locations</h2>
        <div class="menu-wrap">
          <div class="sort-select-wrap">
            <div class="sort-selects">
              <span class="arrows-icon"><i class="fa fa-exchange"></i></span>
              <select ui-select2="{positionDropdown : true}" ng-model="sortByDateSavedLoc" ng-change="sortByDateSavedLocation()" data-placeholder="Sort by Date" id="savedLocationSortDate">
                <option value=""></option>
                <option value="created">Recent first</option>
                <option value="-created">Old first</option>
              </select>
            </div>
          </div>

          <div class="sort-select-wrap">
            <div class="sort-selects">
              <span class="arrows-icon"><i class="fa fa-exchange"></i></span>
              <select ui-select2="{positionDropdown : true}" ng-model="sortByNameSavedLoc" ng-change="sortByNameSavedLocation()" data-placeholder="Sort by Name" id="savedLocationSortName">
                <option value=""></option>
                <option value="-note">A - Z</option>
                <option value="note">Z - A</option>
              </select>
            </div>
          </div>
        
        <input type="button" ng-click="resetAll()" value="Reset All" class="reset-all-btn">
        </div> <!-- menu-wrap -->
      </div>
    </div> <!-- row -->

	<div class="row">
      <div class="locations-list col-md-10 col-md-offset-1" ng-show="saveLocationShow">

          <a class="location-wrap-link" ng-repeat="location in savedLocationList | reverse">
            <div class="locations-item" style="user-select: none;">
                <div class="item-image" ng-click="datailedActive = !datailedActive; $event.preventDefault();">
                  <img src="//maps.googleapis.com/maps/api/staticmap?center={{ location.lat }},{{ location.lng }}&zoom=15&size=210x146&maptype=satellite&key=AIzaSyBrVvh-fxPXkqjFl1sA8NAbjYeNTkOpEZg" alt="">
                </div> <!-- item-image -->
                <div class="item-info">
                    <div class="item-title">{{location.note}}</div>
                    <div class="item-location">
                      <span><img class="pin-icon" src="../../dist/images/location-pin_tiny@2x.png" alt=""></i>Location</span>
                      <div class="address">{{location.location_name}}</div>
                    </div>
                    <div class="info-total">
                      <div class="total-posts">Total posts
                        <span class="total-bubble posts">{{location.posts_count}}</span>
                      </div>
                      <span class="reset-all-btn" ng-click="goToLive(location.radius, location.uom, location.lat, location.lng, location.zoom, location.id, location.is_active)" style="margin-right: 5px;">View Live</span>
                      <span class="reset-all-btn" ng-click="goToRecorded(location.id);">View Recorded</span>
                        <!-- <div class="total-hotspots">Total hotspots
                        <span class="total-bubble hotspots">0</span>
                        </div> -->
                    </div> <!-- info-total -->
                </div> <!-- item-info -->
                <div class="item-menu">
                    <div class="recording-state">
                      <span ng-if="location.is_active == false" class="recording-paused active"><img src="../../dist/images/grey-circle.png">Paused</span>
                      <span ng-if="location.is_active == true" class="recording-started active"><img src="../../dist/images/red-circle.png">Recording</span>
                    </div>
                    <div class="item-date">Created on: <span>{{location.created | formatDate}} {{location.created | formatTime}}</span></div>
                    <div class="menu-buttons">
                        <span class="recording-toggle">
                          <img ng-if="location.is_active == false" src="../../dist/images/rec-icon.png" class="recording-start active" ng-click="callStartMonitoring($event, location.id, location.location_name); $event.preventDefault();">
                          <img ng-if="location.is_active == true" src="../../dist/images/pause-icon.png" class="recording-stop active" ng-click="callStopMonitoring($event, location.id, location.location_name); $event.preventDefault();">
                        </span>
                        <span class="delete-button" ng-click="callDeleteSavedLocation($event, location.id); $event.preventDefault();"><i class="fa fa-trash"></i></span>
                    </div>
                </div> <!-- item-menu -->
                <div class="full-info-savalocation" ng-class="{'active': datailedActive}">
                  <p>Detailed info:</p>
                  <ul>
                    <li><span>Latitude: </span>{{location.lat}}</li>
                    <li><span>Longitude: </span>{{location.lng}}</li>
                    <li><span>Radius: </span>{{location.radius}} {{location.uom}}</li>
                    <li><span>Zoom: </span>{{location.zoom}}</li>
                    <li><span>Location ID: </span>{{location.zoom}}</li>
                  </ul>
                </div>
            </div>
          </a>

      </div> <!-- locations-list -->
    </div> <!-- row -->

    <div class="preloader-wrap-bottom" ng-class="{'active' : preloaderBottom}">
      <div class="preloader-container">
        <img src="../../dist/images/green-preloader.gif">
      </div>
    </div>

</div>

<div ui-view="footer"></div>