<div ui-view="header"></div>

<div class="notifications-wrap container-fluid">
	<div class="row" id="notificationsMenu">
      <div class="list-menu col-md-10 col-md-offset-1">
        <h2 class="page-title">Notifications</h2>
        <div class="menu-wrap">
          <div class="sort-select-wrap">
            <div class="sort-selects">
              <span class="arrows-icon"><i class="fa fa-exchange"></i></span>
              <select ui-select2="{positionDropdown : true}" ng-model="select1" data-placeholder="Sort by Date">
                <option value=""></option>
                <option value="rec-frst">Recent first</option>
                <option value="old-frst">Old first</option>
              </select>
            </div>
        </div>

        <div class="sort-select-wrap">
          <div class="sort-selects">
            <span class="arrows-icon"><i class="fa fa-exchange"></i></span>
            <select ui-select2="{positionDropdown : true}" ng-model="select2" data-placeholder="Sort by Name">
              <option value=""></option>
              <option value="z-a">A - Z</option>
              <option value="a-z">Z - A</option>
            </select>
          </div>
        </div>
        
        <!-- <span class="view-option grid-view"><i class="fa fa-th"></i></span>
        <span class="view-option list-view"><i class="fa fa-bars"></i></span> -->
        
        <input type="button" id="clearAllFilters" value="Reset All" class="reset-all-btn">
        </div> <!-- menu-wrap -->
      </div>
    </div> <!-- row -->

    <div class="row notifications-wrap" id="notificationsCount">
      <div class="col-md-10 col-md-offset-1">
        <p class="notifications-p"><span class="total-notification">Total notifications: </span><span class="total-count" id="totalCount">7</span><span class="unread-notification">Unread notifications: </span><span class="total-count unread-count" id="unreadCount">5</span></p>
      </div>
    </div>

	<div class="row">
      <div class="notifications-list col-md-10 col-md-offset-1">
        
        <div class="locations-item" id="">
            <div class="item-info">
                <div class="item-title"><div class="yellow-unread-dot"></div>New Notification</div>
                <div class="item-location">
                  <div><img class="pin-icon" src="../../dist/images/location-pin_tiny@2x.png" alt=""></i>Location:  <span class="address" id="savedAddress">112 Sinatra Dr Hoboken</span></div>
                </div>
                <div class="info-total">
                    <div class="not-item-wrap">
                      <div class="not-item">
                        <div><img src="../../dist/images/search_big@2x.png"><span>Keywords: </span><span class="white-word-span"> </span></div>
                      </div>
                      <div class="not-item">
                        <div><img src="../../dist/images/set_post.png" class="post-notif-icon"><span>Posts: </span><span class="white-word-span">20</span></div>
                      </div>
                      <div class="not-item">
                        <div><img src="../../dist/images/location-pin-icon@3x.png" class="notif-search-icon"><span>Hotspots: </span><span class="white-word-span">3</span></div>
                      </div>
                      <div class="not-item">
                        
                        <div class="category-wrap"><img src="../../dist/images/category-block-icon.png"><span>Category:</span></div><!--<div class="category-item" category-value="weather">Weather</div>-->
                      </div>
                    </div>
                </div> <!-- info-total -->
            </div> <!-- item-info -->
            <div class="item-menu">
                <div class="item-date">Created on: <span id="savedDate">05/16/2017, 12:38AM</span></div>
                <div class="item-date">Notification on: <span id="savedDate">05/16/2017, 3:58PM</span></div>
                <div class="menu-buttons">
                    <a class="view-alert-btn" id="showAlertMessage">View alert</a>
                    <a class="view-alert-btn" href="#" id="showAlertPosts">View in Dashboard</a>
                </div>
            </div> <!-- item-menu -->
        </div>

        <div class="locations-item" id="">
            <div class="item-info">
                <div class="item-title"><div class="yellow-unread-dot"></div>New Notification</div>
                <div class="item-location">
                  <div><img class="pin-icon" src="../../dist/images/location-pin_tiny@2x.png" alt=""></i>Location:  <span class="address" id="savedAddress">112 Sinatra Dr Hoboken</span></div>
                </div>
                <div class="info-total">
                    <div class="not-item-wrap">
                      <div class="not-item">
                        <div><img src="../../dist/images/search_big@2x.png"><span>Keywords: </span><span class="white-word-span"> </span></div>
                      </div>
                      <div class="not-item">
                        <div><img src="../../dist/images/set_post.png" class="post-notif-icon"><span>Posts: </span><span class="white-word-span">20</span></div>
                      </div>
                      <div class="not-item">
                        <div><img src="../../dist/images/location-pin-icon@3x.png" class="notif-search-icon"><span>Hotspots: </span><span class="white-word-span">3</span></div>
                      </div>
                      <div class="not-item">
                        
                        <div class="category-wrap"><img src="../../dist/images/category-block-icon.png"><span>Category:</span></div><!--<div class="category-item" category-value="weather">Weather</div>-->
                      </div>
                    </div>
                </div> <!-- info-total -->
            </div> <!-- item-info -->
            <div class="item-menu">
                <div class="item-date">Created on: <span id="savedDate">05/16/2017, 12:38AM</span></div>
                <div class="item-date">Notification on: <span id="savedDate">05/16/2017, 3:58PM</span></div>
                <div class="menu-buttons">
                    <a class="view-alert-btn" id="showAlertMessage">View alert</a>
                    <a class="view-alert-btn" href="#" id="showAlertPosts">View in Dashboard</a>
                </div>
            </div> <!-- item-menu -->
        </div>

      </div> <!-- locations-list -->
    </div> <!-- row -->

</div>