<div ui-view="header"></div>

<div class="saved-locations-wrap container-fluid">

	<div class="row">
      <div class="list-menu col-md-10 col-md-offset-1">
        <h2 class="page-title">Events</h2>
        <!-- <div class="menu-wrap" style="opacity: 0">
          <div class="sort-select-wrap">
            <div class="sort-selects">
              <span class="arrows-icon"><i class="fa fa-exchange"></i></span>
              <select ui-select2="{positionDropdown : true}" ng-model="sortByDateSavedLoc" ng-change="sortByDateSavedLocation()" data-placeholder="Sort by Date" id="savedLocationSortDate">
                <option value=""></option>
                <option value="created">Recent first</option>
                <option value="-created">Old first</option>
              </select>
            </div>
          </div>
        
          <div class="sort-select-wrap">
            <div class="sort-selects">
              <span class="arrows-icon"><i class="fa fa-exchange"></i></span>
              <select ui-select2="{positionDropdown : true}" ng-model="sortByNameSavedLoc" ng-change="sortByNameSavedLocation()" data-placeholder="Sort by Name" id="savedLocationSortName">
                <option value=""></option>
                <option value="-name">A - Z</option>
                <option value="name">Z - A</option>
              </select>
            </div>
          </div>
        
        <input type="button" ng-click="resetAll()" value="Reset All" class="reset-all-btn">
        </div> menu-wrap -->
      </div>
    </div> <!-- row -->

	<div class="row">
      <div class="locations-list col-md-10 col-md-offset-1">

		      <a href="/event/Manchester%20Bombing" class="location-wrap-link" target="_blank">
            <div class="locations-item">
                <div class="item-image" ng-click="datailedActive = !datailedActive; $event.preventDefault();">
                  <img src="//maps.googleapis.com/maps/api/staticmap?center=53.488139,-2.242778&zoom=15&size=210x146&maptype=satellite&key=AIzaSyBrVvh-fxPXkqjFl1sA8NAbjYeNTkOpEZg" alt="">
                </div> <!-- item-image -->
                <div class="item-info">
                    <div class="item-title">Manchester Bombing</div>
                    <div class="item-location">
                      <span><img class="pin-icon" src="../../dist/images/location-pin_tiny@2x.png" alt=""></i>Location</span>
                      <div class="address">1 Hunts Bank, Manchester M3 1UN, UK</div>
                    </div>
                    <div class="info-total">
                        <div class="total-posts">Total posts
                        <span class="total-bubble posts">29252</span>
                        </div>
                    </div> <!-- info-total -->
                </div> <!-- item-info -->
            </div>
          </a>

          <a href="/event/San%20Bernadino%20Attack" class="location-wrap-link" target="_blank">
            <div class="locations-item">
              <div class="item-image" ng-click="datailedActive = !datailedActive; $event.preventDefault();">
                <img src="//maps.googleapis.com/maps/api/staticmap?center=34.061193
,-117.278243&zoom=15&size=210x146&maptype=satellite&key=AIzaSyBrVvh-fxPXkqjFl1sA8NAbjYeNTkOpEZg" alt="">
              </div> <!-- item-image -->
              <div class="item-info">
                <div class="item-title">San Bernardino Attack</div>
                <div class="item-location">
                  <span><img class="pin-icon" src="../../dist/images/location-pin_tiny@2x.png" alt=""></i>Location</span>
                  <div class="address">2200 South Waterman Ave E, San Bernardino, CA 92408, USA</div>
                </div>
                <div class="info-total">
                  <div class="total-posts">Total posts
                    <span class="total-bubble posts">5370</span>
                  </div>
                </div> <!-- info-total -->
              </div> <!-- item-info -->
            </div>
          </a>

          <a href="/event/Boston%20Bombing" class="location-wrap-link" target="_blank">
            <div class="locations-item">
              <div class="item-image" ng-click="datailedActive = !datailedActive; $event.preventDefault();">
                <img src="//maps.googleapis.com/maps/api/staticmap?center=42.349392
,-71.081037&zoom=15&size=210x146&maptype=satellite&key=AIzaSyBrVvh-fxPXkqjFl1sA8NAbjYeNTkOpEZg" alt="">
              </div> <!-- item-image -->
              <div class="item-info">
                <div class="item-title">Boston Bombing</div>
                <div class="item-location">
                  <span><img class="pin-icon" src="../../dist/images/location-pin_tiny@2x.png" alt=""></i>Location</span>
                  <div class="address">755 Boylston St, Boston, MA 02116, USA</div>
                </div>
                <div class="info-total">
                  <div class="total-posts">Total posts
                    <span class="total-bubble posts">15511</span>
                  </div>
                </div> <!-- info-total -->
              </div> <!-- item-info -->
            </div>
          </a>

          <a href="/event/Ohio%20State%20University%20Rampage" class="location-wrap-link" target="_blank">
            <div class="locations-item">
              <div class="item-image" ng-click="datailedActive = !datailedActive; $event.preventDefault();">
                <img src="//maps.googleapis.com/maps/api/staticmap?center=40.003198
,-83.01085&zoom=15&size=210x146&maptype=satellite&key=AIzaSyBrVvh-fxPXkqjFl1sA8NAbjYeNTkOpEZg" alt="">
              </div> <!-- item-image -->
              <div class="item-info">
                <div class="item-title">Ohio State University Rampage</div>
                <div class="item-location">
                  <span><img class="pin-icon" src="../../dist/images/location-pin_tiny@2x.png" alt=""></i>Location</span>
                  <div class="address">755 Boylston St, Boston, MA 02116, USA</div>
                </div>
                <div class="info-total">
                  <div class="total-posts">Total posts
                    <span class="total-bubble posts">753</span>
                  </div>
                </div> <!-- info-total -->
              </div> <!-- item-info -->
            </div>
          </a>

      </div> <!-- locations-list -->
    </div> <!-- row -->

    <div class="preloader-wrap-bottom" ng-class="{'active' : preloaderBottom}">
      <div class="preloader-container">
        <img src="../../dist/images/green-preloader.gif">
      </div>
    </div>

</div>

<div ui-view="footer"></div>