.alerts-list {
  display: none;
  &.active {
    display: block;
  }
  .reset-all-btn {
    display: none;
  }
}
.modal-dialog {
  margin-top: 20%;
  .modal-content {
    position: relative;
  }
}
.alert-pick-list {
  display: none;
  &.active {
    display: block;
  }
}
.add-alert-title {
  display: none;
  &.active {
    display: block;
  }
}
.alert-options {
  display: none;
  &.active {
    display: block;
  }
}
.yellow-link.disabled {
  transition: .3s ease;
  border: 1px solid #777777 !important;
  color: #777777 !important;
  background-color: rgba(0,0,0,.2) !important;
  cursor: not-allowed !important;
  &:hover {
    border-color: #944545 !important;
    color: #944545 !important;
  }
}
.alerts-wrap {
    .view-not {
      margin-top: 3px;
      margin-right: 15px;
      width: 151px !important;
      height: 39px !important;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f5e100 !important;
      &:hover {
        color: #000 !important;
      }
    }
    .category-alert-icon {
      width: 26px;
      height: 26px;
      margin-top: -3px;
    }
    -webkit-font-smoothing: subpixel-antialiased !important;
    .header {
      border-bottom: 1px solid transparentize(#ff9200, .5);
    }
    .before_galery_wrap .create-alert {
      float: none;
      display: inline-block;
    }
    .category-wrap {
      margin-left: -15px;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .block-icon {
      img {
        width: 34px;
      }
    }
    .alert-buttons {
      margin-top: auto;
      display: inline-flex;
      align-items: center;
      .edit-button {
        margin-right: 15px;
        img {
          width: 25px;
          height: 25px;
        }
        cursor: pointer;
      }
      .delete-button {
        font-size: 30px;
        color: #fff;
        cursor: pointer;
      }
    }

    #alertsList {
      padding: 20px;
      padding-bottom: 0;
      margin-top: 30px;
      margin-bottom: 50px;
      background: rgba(0, 0, 0, 0.15);
      .alerts-preloader {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
        .no-alerts-text {
          font-family: "Ubuntu-Regular", Arial, sans-serif;
          font-size: 20px;
          color: #fff;
        }
      }
    }

    #alertsMenu {display: block;}
    .alerts-list-menu {
      display: none;
      margin-top: 30px;
      padding: 0;
      align-items: center;
      &.active {
        display: inline-block;
      }
      .menu-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 15px 20px;
        background-color: rgba(0, 0, 0, .2);
      }
      .page-title {
        font-family: $Ubuntu-Regular;
        display: inline-block;
        font-size: 37px;
        color: #fff;
        margin: 0 20px 0 0;
        line-height: 30px;
      }
      .sort-select-wrap {
        display: inline-block;
        margin-right: 30px;
        display: none;
      }
      .create-alert {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
      }
      .view-option {
        font-size: 35px;
        color: #fff;

        line-height: 35px;
        &.grid-view {
          margin-right: 25px;
          margin-left: 15px;
        }
        &.list-view {
          margin-right: 50px;
        }
      }
      .arrows-icon {
        font-size: 25px;
        color: #fff;
        position: relative;
        top: 5px;
        margin-right: 5px;
        i {
          transform: rotate(90deg);
        }
      }
      .sort-select {
        width: 233px !important;
      }
    }

    .alerts-item {
      position: relative;
      transition: .3s ease;
      margin: 0 auto;
      width: 100%;
      display: flex;
      color: #fff !important;
      text-decoration: none !important;
      font-size: 18px;
      padding: 20px;
      min-height: 187px;
      background-color: rgba(0, 0, 0, .3);
      border: solid 1px rgba(93, 93, 93, .4);
      margin-bottom: 18px;
      font-family: $OpenSans-Light;
      &:hover {
        background-color: rgba(0, 0, 0, .5);
        border: solid 1px rgba(93, 93, 93, .8);
        a {
         color: #fff;
         text-decoration: none;
       }
       color: #fff;
       text-decoration: none;
     }
     .alerts-item-image {
      flex-basis: 100%;
      max-width: 210px;
      height: 146px;
      border: solid 1px rgba(93,93,93,.4);
      .alerts-map-screenshot {
        width: 100%;
        height: 100%;
      }
    }
    .alerts-item-info {
      padding-left: 20px;
      min-width: 369px;
      .title-wrap {
        position: relative;
        display: inline-flex;
        .alerts-item-title {
          text-transform: uppercase;
          font-family: $Ubuntu-Regular;
          line-height: 16px;
          margin-bottom: 20px;
        }
        .tooltip-button {
          margin-left: 6px;
          cursor: pointer;
          img {
            width: 22px;
            margin-top: -10px;
          }
        }
        .hidden-tooltip {
          border: 1px solid rgba(255, 255, 255, .2);
          background: rgba(0, 0, 0, 0.7);
          min-width: 400px;
          padding: 10px 40px;
          min-height: 40px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: -455px;
          top: -35%;
          opacity: 0;
          transition: .3s ease;
          &.active {
            opacity: 1;
            transform: translateX(-40px);
          }
          .tooltip-text {
            margin: 0;
          }
          &::before {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            left: -6px;
            background: rgba(0, 0, 0, 0.8);
            border: 1px solid rgba(255, 255, 255, .2);
            border-top: none;
            border-right: none;
            z-index: 3;
          }
        }
      }
      .alerts-item-location,
      .alerts-item-categories,
      .alerts-item-query {
        span {
          display: block;
          font-size: 15px;
          color: rgba(255, 255, 255, 0.65);
          margin-bottom: 11px;
        }
        .pin-icon {
          width: 14.3px;
          height: 21.2px;
          margin-right: 7px;
          position: relative;
          top: -2px;
        }
        .address {
          font-size: 18px;
          font-family: $Ubuntu-Light;
        }
      }
      .alerts-item-categories, .alerts-item-query {
        .pin-icon {
          width: 14.3px;
          height: auto;
        }
      }
      .alerts-info-total {
        color: rgba(255, 255, 255, 0.65);
        font-size: 16px;
        margin-top: 30px;
        .alerts-total-posts,
        .alerts-total-notifications {
          display: inline-block;
        }
        .alerts-total-posts {
          margin-right: 42px;
        }
        .alerts-total-bubble {
          display: inline-flex;
          align-items: center;
          font-size: 18px;
          color: #000 !important;
          height: 28px;
          padding: 0 10px;
          text-align: center;
          font-family: $Ubuntu-Bold;
          border-radius: 14px;
          margin-left: 10px;
          &.alerts-posts {
            background-color: #e1e1e1;
          }
          &.alerts-notifications {
            background-color: #fff568;
          }
        }
      }
    }
    .alerts-item-menu {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
      margin-left: auto;
      text-align: right;
      min-width: 243px;
      .alerts-item-date {
        font-size: 15px;
        color: rgba(255, 255, 255, 0.65);
        span {
          font-size: 18px;
          color: #fff;
          font-family: $Ubuntu-Light;
          margin-left: 15px;
          white-space: nowrap;
        }
      }
    }
  }
  .sort-selects {
    margin-bottom: 0;
    .select2-container {
      width: 200px;
    }
  } 
}

//select location page
.alert-select-list {
  .sort-selects {
    margin-bottom: 0;
    .select2-container {
      width: 100%;
    }
  }
}

.alert-select-list, .alert-create-title {
  .buttons-row {
    margin-top: 65px;
    .next-btn-wrap {
      text-align: right;
    }
    .back-btn-wrap {
      text-align: left;
    }
  }
  .loc-select-wrap {
    margin-top: 200px;
    display: flex;
    align-items: center;
  }
  .select-loc-title {
    color: #fff;
    margin-top: 5px;
  }
  .top-nav-container {
    margin-top: 30px;
  }
  .selectLocationHelpText {
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
  }
}

.alert-title {
  line-height: 21px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  color: rgba(255, 255, 255, .7);
  a {
    cursor: pointer;
    text-decoration: none;
    font-family: Arial;
    color: rgba(255, 255, 255, .7);
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.location-name-wrap {
  display: block;
  text-align: right;
  color: #fff;
  font-family: $Ubuntu-Regular;
  font-size: 18px;
  line-height: 20px;
}
.pin-shape {
  float: left;
}
.address-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 254px !important;
  margin-bottom: -4px;
} 
.location-date {
  display: block;
  margin-top: 15px;
}

//create title page
.alert-create-title {
  .top-nav-container {
    margin-top: 30px;
  }
  .search-wrap {
    margin-top: 200px;
  }
  .search-box {
    height: auto;
    border-radius: 0 !important;
    font-size: 30px;
    color: #fff;
    font-family: $Ubuntu-Light;
    box-shadow: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    transition: .3s ease;
    background: transparent;
    padding: 5px 10px;
  }
}

.alert-options-wrap {
  margin-top: 25px;
  .yellow-link {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .options-wrap {
    margin-top: 70px;
  }
  .options-item {
    position: relative;
    border-left: 4px solid #424242;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
    line-height: 100px;
    height: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    .close-option {
      color: #ccc;
      position: absolute;
      font-size: 16px;
      top: 10px;
      right: 10px;
      height: 10px;
      line-height: 10px;
      cursor: pointer;
      transition: .3s ease;
      &:hover {
        color: #999;
      }
    }
    .option-text {
      font-family: Arial;
      font-size: 18px;
      color: #fff;
      margin-bottom: 0;
      .orange-text {
        color: #FF7800;
      }
      b {
        margin-left: 10px;
      }
    }
    .icon-wrap {
      text-align: center;
      width: 70px;
      margin-right: 25px;
    }
    .option-selects-wrap {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      margin-left: 40px;
    }
    .select-wrap {
      display: inline-block;
      position: relative;
      margin-right: 30px;
      &::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: #000 transparent transparent transparent;
        position: absolute;
        top: 50%;
        right: 20px;
        z-index: 10;
        transform: translateY(-50%); 
      }
    }
    .option-select {
      border-radius: 100px;
      font-size: 18px;
      line-height: normal;
      text-align: center;
      font-family: $Ubuntu-Light;
      -webkit-appearance: none;
      appearance: none;
      background: #C8C8C8;
      border: none;
      color: #000;
      padding-left: 20px;
      cursor: pointer;
      height: 33px;
      min-width: 130px;
      position: relative;
      &:focus {
        outline: none;
      }
    }
    .keywords-input {
      width: 80%;
      .selectize-input {
        height: 44px;
        margin-top: 0;
        width: 100%;
      }
    }
    .if-word {
      display: inline-block;
      height: 26px;
      background-color: rgba(239, 239, 239, 0.11);
      border-radius: 15px;
      color: #fff;
      text-transform: uppercase;
      line-height: 20px;
      padding: 3px 15px;
      font-size: 18px;
      font-family: $Ubuntu-Regular;
      margin-right: 50px;
    }
    .option-icon {
      display: inline-block;
      img {
        max-width: 100%;
        height: auto;
        pointer-events: none;
        user-select: none;
      }
    }
    .input-wrap {
      margin-left: 40px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      input[type="number"] {
        width: 100px;
        line-height: 100%; // line-height fallback for Safari
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 14.5px!important;
        height: 29px;
        border: 1px solid rgba(151,151,151,.42)!important;
        padding-left: 5px;
        font-family: $Roboto-Regular;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        text-align: center;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type="email"] {
        padding: 0 10px;
        line-height: 40px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 300px;
        font-size: 18px;
        border: 1px solid rgba(151,151,151,.42)!important;
        height: 40px;
        color: #fff;
        font-family: $Roboto-Light;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
    &.interval-option {
      .option-icon {
        width: 33px;
      }
    }
    &.posts-number-option {
      .option-icon {
        width: 28px;
      }
    }
    &.keywords-option {
      border-left: 4px solid #30D9FF;
      .option-icon {
        width: 24px;
      }
    }
    &.hotspots-count-option {
      border-left: 4px solid #FF7800;
      .option-icon {
        width: 15px;
      }
      .input-wrap {
        margin: 0 30px;
      }
    }
    &.category-option {
      border-left: 4px solid #F8E71C;
      .option-icon {
        width: 34px;
      }
      .category-wrap {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        .category-item {
          user-select: none;
          border-radius: 30px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: auto;
          padding: 0 10px;
          margin-right: 0;
          margin-left: 10px;
          font-size: 15px;
          height: 40px;
          border: solid 2px #f5e100;
          color: #f5e100;
          cursor: pointer;
          font-family: $Ubuntu-Regular !important;
          background-color: transparent;
          transition: .3s ease;
          &:hover {
            background-color: transparentize(#ccc, .8);
          }
          &.active-item {
            box-shadow: 0px 0px 0 2px #f5e100;
            border-color: #000;
            background-color: #f5e100;
            color: #000;
          }
          img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }
        }
      }
    }
  }
  .nav-btn-wrap {
    margin-top: 10px;
    height: 80px;
    .plus-icon {
      width: 15px;
      height: 15px;
      user-select: none;
    }
    .menu-item-icon {
      width: 27px;
      height: 27px;
      outline: none !important;
      user-select: none;
    }
      //vars
      $fg:#e98703;
      $bg:#000;
      $pi:3.14;

      //config
      $menu-items:3;
      $open-distance:105px;
      $opening-angle:$pi*2;
      %ball {
        background:$fg;
        border-radius:100%;
        width:50px;
        height:50px;
        margin-left:-40px;
        position:absolute;
        top:20px;
        color:white;
        text-align:center;
        line-height:53px;
        transform:translate3d(0,0,0);
        transition:transform ease-out 200ms;
      }
      .menu-open {
        display:none;
      }
      .menu-item {
        @extend %ball;
      }
      .hamburger {
        $width:25px;
        $height:3px;
        width:$width;
        height:$height;
        background:white;
        display:block;
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-$width/2;
        margin-top:-$height/2;
        transition:transform 200ms;
      }
      $hamburger-spacing:8px;
      .hamburger-1 {
        transform:translate3d(0,-$hamburger-spacing,0);
      }
      .hamburger-2 {
        transform:translate3d(0,0,0);
      }
      .hamburger-3 {
        transform:translate3d(0,$hamburger-spacing,0);
      }
      .menu-open:checked+.menu-open-button {
        .hamburger-1 {
          transform:translate3d(0,0,0) rotate(45deg); 
        }
        .hamburger-2 {
          transform:translate3d(0,0,0) scale(0.1,1);
        }
        .hamburger-3 {
          transform:translate3d(0,0,0) rotate(-45deg); 
        }
      }
      .menu {
        $width:250px;
        $height:150px;
        position:absolute;
        left:52%;
        margin-left:-80px;
        padding-top:20px;
        padding-left:80px;
        width:$width;
        height:$height;
        box-sizing:border-box;
        font-size:20px;
        text-align:left;
      }


      .menu-item {
        display: flex;
        align-items: center;
        justify-content: center;
        @for $i from 1 through $menu-items {
          &:nth-child(#{$i+2}){
            transition-duration:180ms;
          }
        }
      }

      .menu-open-button {
        background-color: #0d0d0d;
        border: none;
        @extend %ball;
        z-index:2;
        transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
        transition-duration:400ms;
        transform:scale(1.1,1.1) translate3d(0,0,0);
        cursor:pointer;
        transition: .3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          cursor: pointer;
        }
      }
      .menu-open-button:hover {
        background-color: #262626;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
      }
      .menu-open:checked+.menu-open-button {
        transition-timing-function:linear;
        transition-duration:200ms;
        transform:scale(0.8,0.8) translate3d(0,0,0);
      }

      .menu-open:checked~.menu-item {
        transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
        @for $i from 1 through $menu-items {

          &:nth-child(#{$i+2}) {
            transition-duration:90ms+(100ms*$i);
            transform:translate3d(75px*$i,0,0);
          }
        }
      }

    
      $fg-left:#e98703;
      $bg-left:#000;
      $pi-left:3.14;

      //config
      $menu-items-left:3;
      $open-distance-left:105px;
      $opening-angle-left:$pi-left*2;

      %ball-left{
        background:$fg;
        border-radius:100%;
        width:50px;
        height:50px;
        margin-left:-40px;
        position:absolute;
        top:20px;
        color:white;
        text-align:center;
        line-height:53px;
        transform:translate3d(0,0,0);
        transition:transform ease-out 200ms;
      }
      .menu-open-left{
        display:none;
      }
      .menu-item-left{
        @extend %ball-left;
      }
      .hamburger-left{
        $width:25px;
        $height:3px;
        width:$width;
        height:$height;
        background:white;
        display:block;
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-$width/2;
        margin-top:-$height/2;
        transition:transform 200ms;
      }
      $hamburger-spacing:8px;
      .hamburger-1-left{
        transform:translate3d(0,-$hamburger-spacing,0);
      }
      .hamburger-2-left{
        transform:translate3d(0,0,0);
      }
      .hamburger-3-left{
        transform:translate3d(0,$hamburger-spacing,0);
      }
      .menu-open-left:checked+.menu-open-button-left{
        .hamburger-1-left{
          transform:translate3d(0,0,0) rotate(45deg); 
        }
        .hamburger-2-left{
          transform:translate3d(0,0,0) scale(0.1,1);
        }
        .hamburger-3-left{
          transform:translate3d(0,0,0) rotate(-45deg); 
        }
      }
      .menu-left{
        $width:250px;
        $height:150px;
        position:absolute;
        left:46%;
        margin-left:-80px;
        padding-top:20px;
        padding-left:80px;
        width:$width;
        height:$height;
        box-sizing:border-box;
        font-size:20px;
        text-align:left;
      }


      .menu-item-left{
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
          /* background:white;
          color:$fg; */
        }
        @for $ileft from 1 through $menu-items-left{
          &:nth-child(#{$ileft+2}){
            transition-duration:180ms;
          }
        }
      }

      .menu-open-button-left{
        background-color: #0d0d0d;
        border: none;
        @extend %ball-left;
        z-index:2;
        transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
        transition-duration:400ms;
        transform:scale(1.1,1.1) translate3d(0,0,0);
        cursor:pointer;
        transition: .3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: #262626;
          box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)
        }
      }
      .menu-open-left:checked+.menu-open-button-left{
        transition-timing-function:linear;
        transition-duration:200ms;
        transform:scale(0.8,0.8) translate3d(0,0,0);
      }

      .menu-open-left:checked~.menu-item-left{
        transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
        @for $i from 1 through $menu-items-left{

          &:nth-child(#{$i+2}){
            transition-duration:90ms+(100ms*$i);
            transform:translate3d(-75px*$i,0,0);
          }
        }
      }

  }
}
@media screen and (max-width: 1300px) {
  .reset-all-btn {
    width: 130px;
  }
}
@media screen and (max-width: 1150px) and (min-width: 991px) {
  .alerts-wrap .alerts-list-menu .sort-select-wrap {
    margin-right: 10px;
  } 
  .alerts-wrap .sort-selects .select2-container {
    width: 160px;
  }
}
@media screen and (max-width: 991px) {
  .alerts-wrap {
    padding: 0 40px;
  }
  .alerts-wrap .sort-selects .select2-container {
    width: 185px;
  }
  .reset-all-btn {
    margin-right: 9px;
  }
  .alert-select-list .sort-selects {
    width: 458px;
  }
  .alert-options-wrap .nav-btn-wrap .menu-left {
    margin-left: -50px;
  }
  .alert-options-wrap .nav-btn-wrap .menu {
    margin-left: -40px;
  }
  .alert-options-wrap .options-item .option-select {
    min-width: 145px;
    padding-left: 30px;
  }
  .alert-options-wrap .options-item .keywords-input {
    width: 70%;
  } 
  .alert-options-wrap .options-item.category-option .category-wrap {
    max-width: 515px;
    overflow-y: scroll; 
  }
  .alert-options-wrap .options-item.category-option .category-wrap::-webkit-scrollbar { 
    display: none; 
  }
}