.dashboard-wrap {
	width: 100%;
	height: 100%;

	.oversized-row {
		height: calc(100vh - 238px);
		.map-show-wrap {
			height: 100%;
			.map-wrap {
				height: 97%;
			}
		}
		.gallery-show-wrap {
			height: 100%;
			.gallery-wrap {
				height: calc(100vh - 250px);
			}
		}
	}

	.social-line-separator {
	  display: inline-block;
	  margin: 2px 0;
	}

	.preloader-wrap-bottom {
    	position: fixed;
    	left: 0;
    	right: 0;
    	width: 100%;
    	text-align: center;
    	display: block;
    	transition: .3s ease;
    	bottom: -100%;
    	opacity: 0;
		&.active {
			bottom: 0;
			opacity: 1;
		}
    	.preloader-container {
		    width: 400px;
		    height: 60px;
		    min-height: 60px !important;
		    margin: 0 auto;
		    padding: 7px 0;
		    background: rgba(0, 0, 0, 0.4);
		    border: 2px solid #4bb543;
		    border-bottom: none;
		    border-radius: 10px 10px 0 0;
		    img {
		    	width: 40px;
    			height: 40px;
		    }
    	}
    }

	@media screen and (min-width: 2000px) {
		.gallery-wrap {
			height: calc(100vh - 260px);
		}
	}
}