.examine-page {
	.examine-container {
		height: calc(100vh - 123px);
		overflow: hidden;
	}
	.map-gallery-wrap {
		height: auto !important;
	}
	.flip-clock-label {
		display: none;
	}
	#FlipClock {
		&.active {
			display: block;
		}
		display: none;
		width: 300px;
		margin: 0 auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		text-align: center;
		transform: translateY(-50%);
		img {
			width: 50px;
			height: 50px;
		}
		p {
			font-family: $Ubuntu-Regular;
			font-size: 16px;
			color: #fff;
			margin-top: 20px;
		}
	}
	background: #1a1a1a !important;
	.no-padding {
		padding: 0;
	}
	.yellow-bold {
		color: #FCF701;
		font-family: $Ubuntu-Bold;
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.top-title {
		display: block;
		color: #fff;
		font-family: $Roboto-Regular;
		font-size: 16px;
		font-weight: 500;
		line-height: 19px;
		margin-bottom: 10px;
	}
	.map-marker {
		margin-top: 8px;
		margin-right: 5px;
		display: inline-block;
		width: 18px;
		height: 27px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.keyword,
	.link,
	.mention,
	.conv-category-title {
		display: inline-block;
		width: 82%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.link {
		font-family: $Ubuntu-Light;
	}
	.link:hover,
	.link:focus {
		color: #fff;
	}
	.keywords-and-links,
	.top-influencers {
		margin-bottom: 50px;
	}
	.top-list {
		padding-left: 5px;
		overflow: hidden;
		height: 130px;
		&.full {
			height: auto;
			max-height: 285px;
			overflow: scroll;
		}
		.top-list-item {
			display: flex;
			color: #fff;
			font-family: $Ubuntu-Light;
			font-size: 14px;
			font-weight: 300;
			line-height: 16px;
		}
		.top-count {
			width: 45px;
			color: #FF5678;
			font-family: $Roboto-Regular;
			font-size: 12px;
			font-weight: 500;
			line-height: 16px;	
			text-align: center;
			&.positive-count {
				color: #66F06A;
			}
		}
	}
	.examine-container {
		.examine-top-nav {
			width: 100%;
			height: auto;
			display: inline-block;
			margin: 20px 5px 10px 5px;
			li {
				display: inline-block;
				margin-right: 30px;
				&:last-child {
					margin-right: 0;
				}
				a {
					padding-bottom: 2px;
					color: #fff;	
					font-family: $Ubuntu-Light;	
					font-size: 16px;		
					line-height: 18px;
					text-transform: uppercase;
					border-bottom: 1px solid transparent;
					text-decoration: none;
					&:hover {
						border-bottom: 1px solid #FCF701;
					}
					&.active {
						border-bottom: 1px solid #FCF701;
					}
				}
			}
		}
		.location-info-wrap {
			margin-bottom: 15px;
			width: 100%;
			height: auto;
			display: flex;
			justify-content: space-between;
			background-color: rgba(0,0,0,0.8);
			border: 1px solid #979797;
			margin-top: 10px;
			.location-info-left {
				padding: 10px 15px;
				i {
					color: #fff;
					font-size: 30px;
					margin-top: 7px;
					margin-right: 5px;
				}
				p {
					display: inline-block;
					color: #fff;	
					font-family: $Ubuntu-Regular;	
					font-size: 18px;	
					line-height: 27px;
					vertical-align: top;
					margin-top: 9px;
				}
			}
			.location-info-right {
				padding: 10px 15px;
				p {
					display: inline-block;
					color: #fff;	
					font-family: $Ubuntu-Regular;	
					font-size: 18px;	
					line-height: 27px;
					vertical-align: top;
					margin-top: 9px;
				}
			}
		}
		.total-count-wrap {
			width: 100%;
			height: auto;
			display: inline-flex;
			align-items: center;
			padding: 20px 0;
			p {
				color: #fff;	
				font-family: $Ubuntu-Bold;	
				font-size: 30px;		
				line-height: 35px;
				margin-bottom: 0;
				margin-left: 10px;
				span {
					font-family: $Ubuntu-Light;
					font-style: italic;
					font-size: 18px;
				}
			}
		}
		.top-keywords-wrap {
			padding-left: 15px;
			.top-view-more {
				border: none;
				appearance: none;
				background: transparent;
				color: #FCF701;
				font-family: $Roboto-Regular;
				font-size: 14px;
				line-height: 16px;
				display: none;
				margin-left: 48px;
				margin-top: 5px;
				transition: border-color .3s ease;
				padding: 0;
				border-bottom: 1px solid transparent;
				&.active {
					display: inline-block;
				}
				&:hover {
					border-color:  #FCF701;
				}
			}
		}
		.top-conv-wrap {
			.top-conversations {
				margin-bottom: 25px;
				padding-left: 20px;
			}
			.conv-list {
				display: flex;
				max-height: 700px;
				overflow-y: auto;
				padding-bottom: 20px;
				&::-webkit-scrollbar { 
					display: none; 
				}
				.conv-column-1,
				.conv-column-2 {
					width: 49%;
					margin-left: 1%;
				}
				.conv-item {
					display: inline-block;
					width: 100%;
					background-color: rgba(0,0,0,.66);
					height: auto;
					margin-bottom: 10px;
					.conv-item-header {
						background-color: rgba(42,42,42,.8);
						padding: 0 20px;
						display: flex;
						align-items: center;
						height: 60px;
						.conv-title {
							color: #fff;
							font-family: $Ubuntu-Regular;
							font-size: 21px;
							font-weight: 500;
							line-height: 25px;
							margin: 0;
							display: inline-block;
							width: 100%;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							text-transform: uppercase;
						}
					}
					.conv-item-body {
						padding: 0 15px;
						.conv-count-wrap {
							display: flex;
							align-items: center;
							justify-content: space-between;
							padding: 20px 0;
							border-bottom: 1px solid #424242;
							.posts-count {
								color: #fff;
								display: inline-block;
								font-family: $Ubuntu-Light;
								font-style: italic;
								font-size: 18px;
								margin: 0;
							}
							.count-number {
								font-family: $Ubuntu-Bold;
								font-size: 30px;
								font-weight: bold;
								line-height: 35px;
								font-style: normal;
							}
							.conv-avatars {
								display: inline-flex;
								align-items: center;
								margin-left: 8px;
								.plus-sign {
									color: #fff;
									font-size: 35px;
									margin-left: 10px;
									margin-top: -10px;
								}
								.conv-avatar-wrap {
									border-radius: 50%;
									overflow: hidden;
									display: inline-flex;
									height: 46px;
									width: 46px;
									border: 2px solid #00AEEF;
									margin-left: -25px;
									&:first-child {
										margin-left: 0;
									}
									.user-avatar {
										width: 100%;
										height: auto;
									}
								}
							}
						}
						.conv-item-info {
							padding: 25px 0 20px;
							.conv-category-wrap {
								display: flex;
								align-items: center;
								margin-bottom: 20px;
								padding-left: 3px;
								.conv-category-icon {
									width: 19px;
									height: 19px;
									.conv-category-img {
										display: block;
										width: 100%;
										height: auto;
									}
								}
								.conv-category-title {
									display: inline-block;
									color: #fff;
									font-family: $Ubuntu-Light;
									font-size: 18px;
									margin: 0 0 0 30px;
								}
							}
						}
						.conv-item-images {
							display: flex;
							justify-content: center;
							border-top: 1px solid #424242;
							padding: 20px 0;
							flex-flow: row wrap;
							.conv-images-wrap {
								display: inline-block;
								width: 65px;
								height: 65px;
								margin-right: 3px;
								overflow: hidden;
								margin-bottom: 3px;
								.conv-image {
									width: 100%;
									height: 100%;
								}
							}
						}
					}
				}
			}
		}
		.top-influencers-wrap {
			/* display: none; */
			.top-feed {
				display: flex;
				flex-flow: row wrap;
				max-height: 350px;
				overflow-y: auto;
				justify-content: space-between;
				padding-bottom: 20px;
				&::-webkit-scrollbar { 
					display: none; 
				}
				.feed-item {
					display: inline-flex;
					align-items: center;
					width: 100%;
					max-width: 285px;
					margin-bottom: 40px;
					.item-user-avatar {
						position: relative;
						display: inline-block;
						width: 82px;
						height: 82px;
						border: 2px solid #00AEEF;
						border-radius: 50%;
						margin-right: 15px;
						margin-bottom: 7px;
						&::after {
							content: "";
							display: block;
							width: 24px;
							height: 24px;
							background: url(../images/twitterPlatform.png) center center no-repeat;
							position: absolute;
							bottom: -4px;
							right: 0px;
							background-size: 100%;
						}
						.user-avatar {
							width: 100%;
							height: auto;
							border-radius: 50%;
							filter: blur(1px);
						}
					}
					.item-username {
						color: #FEFFFF;
						font-family: $Ubuntu-Medium;
						font-size: 14px;
						margin-bottom: 5px;
					}
					.item-content {
						$font-size: 10px;
						$line-height: 11px;
						$lines-to-show: 4;
						color: #FEFFFF;
						font-family: $Roboto-Thin;
						font-size: $font-size;
						font-weight: 300;
						line-height: $line-height;
						display: -webkit-box;
						max-width: 185px;
						height: 44px;
						-webkit-line-clamp: $lines-to-show;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					.item-social-counters {
						margin-top: 10px;
						.social-counter-wrap {
							display: inline-flex;
							align-items: center;
							margin-right: 15px;
							.social-icon {
								display: inline-flex;
								width: 13px;
								height: 13px;
								border-radius: 50%;
								overflow: hidden;
								margin-right: 4px;
								img {
									width: 100%;
									height: auto;
								}
							}
							.social-count {
								color: #FEFFFF;
								font-family: $Roboto-Regular;
								font-size: 10px;
								line-height: 12px;

							}
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: 1375px) {
		.conv-avatar-wrap {
			margin-left: -35px !important;
		}
		.plus-sign {
			margin-left: 5px !important;
		}
	}	
}

.examine-show-wrap {
	color: white;
	padding-bottom: 30px;

	.histogram-row {
		margin-bottom: 30px;
		position: relative;
	}

	.histogram-wrap {
		vertical-align: top;
		display: inline-block;
	}

	.total-wrap {
		vertical-align: top;
		display: inline-block;
		margin-left: 30px;
	}

	.hidden {
		display: none;
	}
}

#totalPosts, #totalUsers {
	color: yellow;
}

#histogramLegendTitle {
	margin-top: 30px;
}

#histogramLegend {
	font-size: 20px;

	ul {
		padding-left: 0;
	}

	li {
		list-style: none;

		span:first-of-type {
			width: 30px;
			height: 20px;
			display: inline-block;
			vertical-align: text-top;
			margin-right: 10px;
		}

		.legend-count {
			margin-left: 10px;
			color: yellow;
		}
	}
}

.pre-info-container, .preloader-container {
	position: relative;
	min-height: 300px;
}

.pre-info-container.pre-info-container-hidden,
.info-wrap.info-wrap-hidden {
	display: none;
}
