/*——————————————————————————————————————————————*/
/*——————————————— HelveticaNeue ————————————————*/
/*——————————————————————————————————————————————*/

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue/HelveticaNeue.ttf')  format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('../fonts/HelveticaNeue/HelveticaNeue-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue-Thin';
  src: url('../fonts/HelveticaNeue/HelveticaNeue-Thin.ttf')  format('truetype');
}


/*—————————————————————————————————————————*/
/*——————————————— OpenSans ————————————————*/
/*—————————————————————————————————————————*/

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
       url('../fonts/OpenSans/OpenSans-Regular-webfont.ttf')  format('truetype'),
       url('../fonts/OpenSans/OpenSans-Regular-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/OpenSans/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/OpenSans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans/OpenSans-Semibold-webfont.woff') format('woff'),
       url('../fonts/OpenSans/OpenSans-Semibold-webfont.ttf')  format('truetype'),
       url('../fonts/OpenSans/OpenSans-Semibold-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url('../fonts/OpenSans/OpenSans-LightItalic-webfont.eot');
  src: url('../fonts/OpenSans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans/OpenSans-LightItalic-webfont.woff') format('woff'),
       url('../fonts/OpenSans/OpenSans-LightItalic-webfont.ttf')  format('truetype'),
       url('../fonts/OpenSans/OpenSans-LightItalic-webfont.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans/OpenSans-Light-webfont.woff') format('woff'),
       url('../fonts/OpenSans/OpenSans-Light-webfont.ttf')  format('truetype'),
       url('../fonts/OpenSans/OpenSans-Light-webfont.svg#svgFontName') format('svg');
}


/*———————————————————————————————————————*/
/*——————————————— Roboto ————————————————*/
/*———————————————————————————————————————*/

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.eot');
  src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Regular.ttf')  format('truetype'),
       url('../fonts/Roboto/Roboto-Regular.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto/Roboto-Light.eot');
  src: url('../fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto/Roboto-Light.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Light.ttf')  format('truetype'),
       url('../fonts/Roboto/Roboto-Light.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/Roboto/Roboto-Thin.eot');
  src: url('../fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto/Roboto-Thin.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Thin.ttf')  format('truetype'),
       url('../fonts/Roboto/Roboto-Thin.svg#svgFontName') format('svg');
}


/*———————————————————————————————————————*/
/*——————————————— Ubuntu ————————————————*/
/*———————————————————————————————————————*/

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf')  format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../fonts/Ubuntu/Ubuntu-Light.ttf')  format('truetype');
}
