.header-container {
	padding-left: 0;
	padding-right: 0;
}
.header {
  display: inline-flex;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #424242;
  align-items: center;
  margin: 0;
  border-bottom: 1px solid rgba(255,146,0,.5);
  .main-link {cursor: pointer;}
  #notifPopupToggle {
    cursor: pointer;
  }
  .no-alerts-popup {
    font-family: $Ubuntu-Regular;
    font-size: 18px;
    color: rgba(#fff, .7);
    padding: 7px 0;
    letter-spacing: -0.4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 240px;
    transition: .3s ease;
    text-align: center;
    &:hover {
      color: #fff;
    }
  }
  .user-info {
    position: relative;
    .sign-out-popup {
      transition: all .3s ease;
      text-align: center;
      padding: 10px 0;
      width: 140px;
      background-color: #252525;
      position: absolute;
      bottom: -60px;
      left: -48px;
      z-index: 100;
      border: solid 1px #959595;
      box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.8);
      visibility: hidden;
      opacity: 0;
      &.active {
        bottom: -75px;
        visibility: visible;
        opacity: 1;
      }
      a {
        font-family: $Ubuntu-Light;
        font-size: 16px;
        transition: .3s ease;
        border-bottom: 1px solid transparent;
        padding-bottom: 2px;
        &:hover {
          border-color: #fff;
        }
      }
      &::before {
        content: "";
        display: block;
        background-color: #252525;
        width: 14px;
        height: 14px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: -8px;
        right: 29px;
        border: solid 1px #959595;
        border-bottom: none;
        border-right: none;
      }
    }
  }
  .header-logo {
    width: 100%;
    max-width: 555px;
  }
  .nav-link {
    font-family: $Roboto-Thin;
    transition: .3s ease;
    outline: none;
    user-select: none;
    padding: 10px;
    &.active {
      font-family: $Roboto-Regular;
      &:hover {
        color: #fde900;
      }
    }
  }
  .header-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    li {
      text-align: center;
      display: inline-block;
      line-height: 27px;
      display: inline-flex;
      align-items: center;
      padding: 10px 10px;
      &.notif-popup-wrap {
        display: none;
        position: relative;
        .notif-popup {
         padding: 20px;
         display: flex;
         flex-direction: column;
         position: absolute;
         min-width: 250px;
         height: auto;
         opacity: 0.9;
         background-color: #252525;
         box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.8);
         border: solid 1px #959595;
         z-index: 110;
         top: 130%;
         left: 50%;
         visibility: hidden;
         opacity: 0;
         transition: .3s ease;
         transform: translate(-50%);
         text-align: left;
         &.active {
          top: 110%;
         	visibility: visible;
          opacity: 1;
         }
         a {
         	display: block;
         	font-family: $Ubuntu-Regular;
         	font-size: 18px;
         	color: rgba(#fff, .7);
         	padding: 7px 0;
         	letter-spacing: -0.4px;
         	overflow: hidden;
         	text-overflow: ellipsis;
         	white-space: nowrap;
         	max-width: 240px;
         	transition: .3s ease;
         	&:hover {
         		color: #fff;
         	}
         }
         .notif-popup-btn {
            margin: 10px auto 0 auto;
         		appearance: none;
         		background-color: transparent;
         		border: none;
         		display: inline-block;
         		color: rgba(245, 225, 0, 0.8);
         		font-family: $Ubuntu-Regular;
         		font-size: 14px;
            padding-bottom: 2px;
         		transition: .3s ease;
            outline: none;
            text-align: center;
         		&:hover {
         			color: rgba(245, 225, 0, 1);
         		}
         }
         &::before {
          content: "";
          display: block;
          background-color: #252525;
          width: 14px;
          height: 14px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          top: -8px;
          left: 50%;
          margin-left: -7px;
          border: solid 1px #959595;
          border-bottom: none;
          border-right: none;
         }
        }
      }
      a {
        transition: all .3s ease;
        line-height: 15px;
        font-size: 14px;
        font-family: $HelveticaNeue-Thin;
        letter-spacing: 1px;
      }
      .yellow-oval {
        width: 21px;
        height: 21px;
        position: relative;
        line-height: 21px;
        top: -7px;
        left: -15px;
        box-shadow: 0px 0px 2px 1px #fffc7f;
        background-color: #fffc7f;
        border-radius: 100%;
        font-size: 11px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        display: block;
        span {
          max-width: 24px;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .user-info {
        margin-left: 10px;
      }
      .user-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #d4d4d4;
      }
      .user-name {
        width: 90px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        color: #fff;
        opacity: .8;
        text-align: center;
        margin-top: 5px;
      }
    }
  }
}
.criticalText {
  text-align: left;
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 0;
  display: inline-block;
  label {
    font-weight: normal;
  }
}
.critical-checkbox {
  vertical-align: middle;
  margin-top: 1px !important;
  margin-left: 5px !important;
}
.bootbox-input-textarea {
  height: 120px !important;
  resize: none;
}

.logo {
    width: 80px;
    height: 50px;
}

.blackbird {
    font-family: $Ubuntu-Regular;
    font-size: 10px;
    color: #fffc7f;
}

.description{
    font-family: $Ubuntu-Regular;
    font-size: 9px;
    line-height: 1.1;
    color: #ffffff;
    margin-bottom: 7px;
}

.popup_content_wrap {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 9999;
}
.popup_content {
    width: 550px;
    height: auto;
    display: inline-block;
    text-align: center;
    background-color: rgba(36, 36, 36, 0.9);
    border: solid 1px #979797;
    padding: 20px 35px;
    margin-top: 100px;
}
.popup_content h3 {
    color: #fff;
    font-family: 'Ubuntu-Regular';
    font-size: 22px;
    margin: 20px 0 30px 0;
    line-height: 1.4em;
}
.yes_no_wrap {
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
}
.yes_no_btn {
    display: inline-block;
    background-color: transparent;
    border: solid 1px #f5e100;
    font-family: 'Ubuntu-Regular';
    font-size: 18px;
    color: #f5e100;
    padding: 10px 35px;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none !important;
}
.yes_no_btn:hover {
    background-color: #f5e100;
    color: #000;
}

#mainCol {
     margin-left: 0 !important;
    background-color: rgb(66,66,66);
}
.nav-item{
    text-transform: uppercase;
}
.nav-left {
    float: right;
}
.nav-left a {
    color: #ffffff;
    font-family: 'Lato-Light';
    font-size: 12px;
}
.location-listening {
    margin-left: 10px;
}
.nav-link {
    font-family:"Lato-Light";
    opacity: .8;
    font-size: 18px;
}

.nav li a {
  &:hover {
    background-color: transparent;
    color: #ccc;
  }
  &:focus {
    outline: none;
    background-color: transparent;
    color: #fff;
  }
}

.active-link{
    font-family:"Lato-Semibold";
    opacity: 1;
}
.active-link:hover {
    color: #fde900 !important;
    background-color: transparent;
}
.header-right {
    float: right;
}
.header-right li a{
    text-decoration: none;
}
a {
    color: #ffffff;
    font-family: 'Lato-Semibold';
    text-decoration: none;
}
.navbar {
    margin-bottom: 0;
    padding-top: 5px;
}

.footer-main-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 !important;
}
.footer-row-wrap {
  display: inline-flex;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #424242;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-top: 1px solid rgba(255, 146, 0, 0.5);
  p {
    color: #fff;
    font-family: $Ubuntu-Light;
    margin-top: 6px;
    font-size: 12px;
    a {
      font-family: $Ubuntu-Light;
      margin-left: 10px; 
      cursor: pointer;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
      &:visited {
        color: #fff;
      }
      &:focus {
        color: #fff;
      }
    }
  }
}


@media screen and (max-width: 1282px) {
  .cctv-check {
    margin-left: 13px;
  }
  .deepweb-check {
    margin-left: 36px;
  }
}
@media screen and (max-width: 1090px) {
  .nav-item {
    padding-right: 10px;
  }
}
@media screen and (max-width: 995px) {
  .nav-item {
    padding-right: 0px;
  }
  .nav-link {
    padding: 10px 10px;
    font-size: 16px;
  }
  .header-logo {
    max-width: 218px !important;
  }
  .header .header-right li .yellow-oval {
    left: -15px;
  }
}

