*:focus {
  outline: none;
}
body {
  background-image: radial-gradient(circle at 0 0, #393939, #181818), radial-gradient(circle at 0 0, #37383c, #1e2021);
  margin: 0;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // fix for angular-material influence system-fonts
  -webkit-font-smoothing: subpixel-antialiased;
  // -webkit-text-stroke: 0.5px;
}
a {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
input:focus {
  outline: none;
}
.today-date-button {
  transition: .3s ease;
  display: inline-block;
  line-height: 41px;
  background-color: rgba(0,0,0,.2);
  color: #feffff;
  font-family: $Ubuntu-Regular;
  height: 44px;
  width: 200px;
  padding: 0;
  font-size: 18px;
  border: 1px solid #777;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: rgba(0,0,0,.5);
    border-color: #999;
  }
  &:focus {
    outline: none;
  }
}

.selectize-control.plugin-remove_button [data-value] {
  padding-right: 32px !important;
}

.selectize-input {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  align-items: center;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .4);
  border: solid 1px #5a5a5a;
  font-family: $Ubuntu-Light;
  font-size: 20px;
  height: 60px;
  margin-top: 20px;
  padding-right: 12px !important;
  padding-left: 12px !important;
  &.dropdown-active::before {
    display: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  input {
    color: #ccc;
    font-family: $Ubuntu-Light;
    font-size: 20px;
    height: 100%;
    //width: 85px !important;
  }
  .item {
    font-family: $Ubuntu-Light;
    display: inline-flex;
    align-items: center;
    background: #4e4e4e !important;
    border: none !important;
    border-radius: 2px !important;
    height: 34px;
    padding: 2px 30px 2px 13px !important;
    margin-right: 5px !important;
    white-space: nowrap;
    &.special-tag {
      border-radius: 17px !important;
      text-transform: uppercase;
      font-family: $Ubuntu-Regular !important;
      &.or {
        background-color: #168e38 !important;
      }
      &.and {
        background-color: #138984 !important;
      }
    }
    .remove {
      width: 26px !important;
      font-size: 18px !important;
      padding: 0 5px !important;
      display: inline-flex !important;
      align-items: center;
      border-left: none !important;
    }
  }
}

.category-item {
  user-select: none;
  border-radius: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0 10px;
  margin-right: 10px;
  font-size: 15px;
  height: 40px;
  border: solid 2px #f5e100;
  color: #f5e100;
  cursor: pointer;
  font-family: $Ubuntu-Regular !important;
  background-color: transparent;
  transition: .3s ease;
  white-space: nowrap;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: transparentize(#ccc, .8);
  }
  &.active-item {
    box-shadow: 0px 0px 0 2px #f5e100;
    border-color: #000;
    background-color: #f5e100;
    color: #000;
  }
  img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background-color: transparent;
}

.selectize-dropdown {
  display: none !important;
  // opacity: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggleWrapper {
  margin-left: 50px;
  min-width: 112px;
  margin-right: 50px;
}

.label_stream {
  color: #fff;
  font-family: $Ubuntu-Light;
  vertical-align: top;
  font-weight: normal;
  font-size: 18px;
  margin-top: 3px;
  margin-right: 10px;
  .data-on,
  .data-off {
    display: none;
    text-align: center;
    &.active {
      display: inline-block;
    }
  }
}

.switch {
  margin-top: 10px;
}

.reset-all-btn {
  float: none;
  width: 195px;
  height: 44px;
  display: inline-block;
  background-color: transparent;
  border: solid 1px #f5e100;
  font-family: $Ubuntu-Regular;
  color: #f5e100;
  transition: .3s ease;
  font-size: 15px;
  &:hover {
    background: #f5e100;
    color: #000;
  }
  &:focus {
    outline: none;
  }
}

.sort-selects {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &.mini {
    max-width: 900px !important;
  }
  .select2-container {
    width: 32%;
    height: 44px;
    .select2-choice {
      height: 44px;
      box-shadow: none !important;
      width: 100%;
      display: inline-block;
      height: 44px;
      font-family: $Ubuntu-Regular;
      font-size: 18px;
      background-color: rgba(0, 0, 0, .2);
      background-image: none;
      border: 1px solid #4b4b4b;
      color: #efefef;
      padding: 0;
      border-radius: 0;
      padding: 8px 8px 8px 15px;
      .select2-chosen {
        height: 100%;
        width: 100%;
      }
      .select2-arrow {
        background-color: transparent;
        background-image: none;
        border-left: none;
        width: 22px;
        padding-top: 8px;
      }
    }
    &.select2-dropdown-open .select2-choice {
      border-color: #757575;
      background-color: rgba(0, 0, 0, .8);
      border-bottom: none !important;
      box-shadow: none !important;
    }
  }
}

.select2-drop {
  border: 1px solid #757575;
  border-top: none;
  background-color: rgba(0, 0, 0, .8);
  background-image: none;
  border-radius: 0;
  font-family: $Ubuntu-Regular;
  font-size: 18px;
  color: #efefef;
  .select2-search {
    display: none;
  }
}

.select2-results {
  li {
    background-color: transparent !important;
    &:hover {
      background-color: transparent;
    }
  }
}

.yellow-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  padding: 10px 40px;
  background-color: transparent;
  border: solid 1px #f5e100;
  font-family: $Ubuntu-Regular;
  color: #f5e100;
  transition: .3s ease;
  font-size: 15px;
  &:visited {
    color: #f5e100;
  }
  &:hover {
    background: #f5e100;
    color: #000;
  }
}


.list-menu {
  display: flex;
  margin-top: 30px;
  padding: 0;
  align-items: center;
  .menu-wrap {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, .2);
    margin-left: auto;
  }
  .page-title {
    font-family: $Ubuntu-Regular;
    display: inline-block;
    font-size: 37px;
    color: #fff;
    margin: 0 20px 0 0;
    line-height: 30px;
  }
  .sort-select-wrap {
    display: inline-block;
    margin-right: 30px;
  }
  .view-option {
    font-size: 35px;
    color: #fff;

    line-height: 35px;
    &.grid-view {
      margin-right: 25px;
      margin-left: 15px;
    }
    &.list-view {
      margin-right: 50px;
    }
  }
  .arrows-icon {
    font-size: 25px;
    color: #fff;
    position: relative;
    top: 5px;
    margin-right: 5px;
    i {
      transform: rotate(90deg);
    }
  }
  .sort-select {
    width: 250px !important;
  }
}

.no-side-paddings {
  padding-left: 0;
  padding-right: 0;
}

._md {
  background-color: transparent;
  box-shadow: none;
}

.modal-yellow-button {
  min-width: 120px;
  height: 40px;
  display: inline-block;
  text-align: center;
  border: solid 1px #f5e100;
  margin-right: 10px;
  border-radius: 0 !important;
  font-family: 'Ubuntu-Regular' !important;
  color: #f5e100;
  &:last-child {
    margin-right: 0;
  }
}

.modal-dialog {
  position: relative;
  width: 600px;
  height: 185px;
  word-wrap: break-word;
  &.show-full-image-wrap {
    height: 1000px;
    z-index: 200px;
    .post-content-text {
      margin-top: 15px;
      text-align: left;
    }
  }
  .modal-content {
    padding: 10px 10px;
    width: 100%;
    max-width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(36, 36, 36, 0.9);
    border: solid 1px #979797;
    border-radius: 0px;
    box-shadow: none;
    user-select: none;
    .list-select-wrapper {
      position: relative;
      &::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 3.5px 0 3.5px;
        border-color: #8a8a8a transparent transparent transparent;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .modal-list-select {
      display: block;
      width: 100%;
      -webkit-appearance: none;
      border-radius: 0;
      margin: 10px auto 0;
      height: 44px;
      font-family: "Ubuntu-Regular", Arial, sans-serif;
      font-size: 18px;
      background-color: rgba(0, 0, 0, 0.2);
      background-image: none;
      border: 1px solid #4b4b4b;
      color: #efefef;
      border-radius: 0;
      padding: 8px 8px 8px 15px;
      position: relative;
    }
    .annotation-desription {
      display: block;
      width: 100%;
      -webkit-appearance: none;
      border-radius: 0;
      margin: 10px auto 0;
      height: 80px;
      font-family: "Ubuntu-Light", Arial, sans-serif;
      font-size: 18px;
      background-color: rgba(0, 0, 0, 0.2);
      background-image: none;
      border: 1px solid #4b4b4b;
      color: #efefef;
      border-radius: 0;
      resize: none;
      box-sizing: border-box;
      padding: 10px;
    }
    .mark-critical-sign {
      font-size: 16px;
    }
    .modal-title {
      font-size: 22px;
      .map_img_wrap {
        display: inline-block;
        width: 20px;
        height: 25px;
        margin-top: 10px;
        img {
          max-width: 100%;
          height: auto;
          display: block;
        }
      }
    }
    #modal-address {
      display: inline-block;
      margin: 0 0 0 10px;
      font-family: Ubuntu-Light,Arial,sans-serif;
      font-size: 20px;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 387px;
      white-space: nowrap;
      vertical-align: middle;
    }
    .custom-location-title {
      font-size: 18px;
      font-family: $Ubuntu-Light;
    }
    .modal-header {
      border-bottom: none;
      font-family: $Ubuntu-Regular;
      color: #fff;
      padding-bottom: 0;
    }
    .modal-body {
      font-family: $Ubuntu-Light;
      font-size: 22px;
      text-align: center;
      color: #fff;
      position: static;
      .show-full-image-wrapper {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        .close-full-img-icon {
          position: absolute;
          top: -30px;
          right: -55px;
          cursor: pointer;
        }
        img {
          max-width: 100%;
          height: 400px;
        }
      }
      .add-instagram-wrapper {
        width: 100%;
        height: auto;
        margin-top: -15px;
        .inst-header {
          width: 100%;
          height: auto;
          text-align: center;
          h3 {
            color: #fff;
            font-size: 26px;
          }
        }
        .inst-container {
          width: 100%;
          height: auto;
          display: inline-block;
          text-align: left;
          .input-cont {
            label {
              font-family: $Ubuntu-Light;
              font-size: 18px;
              color: rgba(255, 255, 255, 0.9);
            }
            input {
              background-color: rgba(0, 0, 0, 0.2);
              font-family: $Ubuntu-Regular;
              font-size: 18px;
              border: 1px solid #777777;
              height: 44px;
              padding: 0 10px;
              display: block;
              margin-bottom: 15px;
              width: 100%;
              max-width: 415px;
              color: #fff;
            }
          }
        }
      }
    }
    .modal-input-wrap {
      width: 100%;
      height: auto;
      display: inline-block;
      .modal-input {
        width: 100%;
        display: block;
        background-color: rgba(0,0,0,.4);
        border: solid 1px #979797;
        border-radius: 0;
        padding: 6px 10px;
        margin-top: 20px;
        height: 40px;
        color: #fff;
        font-size: 18px;
        box-shadow: none;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      }
    }
    .save-location-body {
      text-align: left;
    }
    .modal-footer {
      width: 305px;
      margin: 0 auto;
      border-top: 0;
      text-align: center;
      padding: 5px;
      .modal-yellow-button {
        font-family: $Ubuntu-Regular;
        background-color: transparent;
        transition: .3s ease;
        &.right-btn {
          float: right;
        }
        &:hover {
          background-color: #f5e100;
          color: #333 !important;
        }
        &:focus {
          outline: none;
          color: #f5e100;
        }
      }
    }
  }
  .error-input {
    border: 1px solid #ff0d0d;
  }
}
.modal-save-location-two {
  height: 205px;
}
.md-dialog-is-showing {
  max-height: none !important;
}
.green-preloader {
  width: 42px;
  height: 42px;
}
.md-button {
  text-transform: capitalize !important;
}

.customInput {
  width: 100%;
  display: block;
  padding: 15px 12px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  border: solid 1px #5a5a5a;
  font-family: $Ubuntu-Light;
  font-size: 20px;
  color: #fff;
}

.filter-trigger {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  border: solid 1px #5a5a5a;
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: #737373;
  transition: .3s ease;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

//Custom styles for filters
.k-picker-wrap.k-state-default {
  border-color: #5a5a5a !important;
}
.k-picker-wrap .k-input {
  background: rgba(0, 0, 0, 0.8) !important;
  color: #fff !important; 
}
.k-picker-wrap.k-state-default>.k-select {
  border: none !important;
  background: rgba(0, 0, 0, 0.8) !important;
  color: #fff !important; 
}

.k-calendar .k-footer {
  display: none !important;
}

.k-calendar .k-header {
  background: #424242 !important;
}

.k-link:hover {
  background: transparent !important;
}

.k-calendar .k-today .k-link {
    color: #fff !important;
    background-color: #cbbb07 !important;
    border-radius: 50% !important;
}
.k-state-selected {
  color: #cbbb07 !important;
}
.k-calendar .k-state-selected>.k-link {
  background: #424242 !important;
  border-radius: 50% !important;
}

.k-link {
  font-family: $Ubuntu-Light !important;
}

.date-and-category-filter {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.date-filter-wrapper {
  position: relative;
  display: inline-block;
  .date-filter-popup {
   padding: 10px;
   display: block;
   text-align: center;
   position: absolute;
   width: 370px;
   height: auto;
   opacity: 0.9;
   background-color: #252525;
   box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.8);
   border: solid 1px #959595;
   z-index: 110;
   top: 130%;
   left: 50%;
   visibility: hidden;
   opacity: 0;
   transition: .3s ease;
   transform: translate(-50%);
   font-family: $Ubuntu-Light;
   &.active {
    top: 140%;
    visibility: visible;
    opacity: 1;
  }
  &::before {
    content: "";
    display: block;
    background-color: #252525;
    width: 14px;
    height: 14px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -7px;
    border: solid 1px #959595;
    border-bottom: none;
    border-right: none;
  }
  .filter {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    &.to {
      margin-top: 8px;
    }
  }
  .filter-label {
    font-family: $Ubuntu-Regular;
    color: #fff;
    font-size: 16px;
    margin-right: 5px;
  }
  .date-inputs-wrapper {
    width: 70%;
  }
  .filter-input {
    display: inline-flex;
    overflow-y: hidden;
    overflow-x: scroll;
    align-items: center;
    color: #fff;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.4);
    border: solid 1px #5a5a5a;
    font-family: "Ubuntu-Light", Arial, sans-serif;
    font-size: 18px;
    height: 40px;
    padding: 0 18px;
    width: 100%;
    &::-webkit-inner-spin-button, 
    &::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0;
    }
    &::placeholder {
      font-size: 16px;
      text-align: center;
    }
  }
  .filter-separator {
    color: #fff;
    font-size: 22px;
    margin: 0 4px;
  }
  .date-filter-popup-btn {
    padding: 8px 0;
    width: 100%;
    appearance: none;
    margin-top: 14px;
    background-color: transparent;
    border: 2px solid rgba(245, 225, 0, 0.8);
    display: inline-block;
    color: rgba(245, 225, 0, 0.8);
    font-family: "Ubuntu-Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: 1;
    transition: .3s ease;
    outline: none;
    text-align: center;
    &:hover {
      color: #000;
      background-color: rgba(245, 225, 0, 1);
      border-color: rgba(245, 225, 0, 1);
    }
  }
}
}

