.list-detailed-wrap {
	.list-buttons {
	  display: inline-block;
	  float: right;
	  button {
	    float: none;
	    margin-left: 10px;
	    transition: .3s ease;
	  }
	}
	.breadcrumbs-list {
	  display: inline-block;
	}
	.breadcrumbs-list a {
	  font-family: $HelveticaNeue;
	  color: rgba(255, 255, 255, .7);
	  font-size: 21px;
	  font-weight: 400;
	  line-height: 21px;
	  text-decoration: none;
	  transition: .3s ease;
	  &:hover {
	    color: #fff;
	    text-decoration: underline;
	  }
	}
	.lists-catalog {
	  margin: 0 auto;
	  max-width: 1280px;
	  padding-top: 30px;
	}

	.lists-header {
	  .lists-title {
	    width: 48%;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    margin-bottom: 45px;
	    color: rgba(255, 255, 255, .7);
	    font-size: 21px;
	  }
	  .lists-summary {
	    font-size: 15px;
	    color: rgba(255, 255, 255, 0.65);
	    font-family: $OpenSans-Light;
	    .total-saved,
	    .critical-posts,
	    .annotations-posts {
	      display: inline-block;
	      margin-right: 36px;
	    }
	    .critical-posts,
	    .annotations-posts {
	      color: rgba(253, 233, 0, 0.65);
	      font-family: $OpenSans-Semibold;
	    }
	    .total-bubble {
	      font-family: $Ubuntu-Bold;
	      font-size: 18px;
	      color: #000;
	      height: 28px;
	      padding: 0 13px;
	      border-radius: 14px;
	      display: inline-flex;
	      align-items: center;
	      margin: 0 0 0 13px;
	      text-align: center;
	      justify-content: center;
	      &.saved {
	        background-color: #e1e1e1;
	      }
	      &.critical-posts {
	        background-color: #fdba46;
	      }
	      &.annotations {
	        background-color: #ccee99;
	      }
	    }
	  }
	}

	.lists-items {
	  position: relative;
	  margin-top: 27px;
	  margin-bottom: 80px;
	  .lists-item {
	    font-family: $Ubuntu-Regular;
	    padding: 20px;
	    display: flex;
	    background-color: rgba(0, 0, 0, .4);
	    border: solid 1px rgba(93, 93, 93, .4);
	    margin-bottom: 20px;
	    .item-image {
	      flex-basis: 100%;
	      max-width: 225px;
	      height: 157px;
	      border: solid 1px rgba(93,93,93,.4);
	      overflow: hidden;
	      img {
	        max-width: 100%;
	        height: auto;
	      }
	    }
	    .item-date {
	      font-size: 18px;
	      color: rgba(255,255,255,.65);
	      margin-left: auto;
	      text-align: right;
	      .created-date {
	        font-size: 18px;
	        color: #fff;
	        font-family: $Ubuntu-Light;
	        margin-left: 10px;
	        white-space: nowrap;
	      }
	    }
	    .item-content {
	      font-family: $Roboto-Light;
	      font-size: 18px;
	      color: #cbcbcb;
	      line-height: 24px;
	      max-width: 670px;
	      margin-top: 20px;
	      margin-left: 54px;
	      word-wrap: break-word;
	      i {
	        color: #f5e100;
	        display: none;
	        &.active {
	          display: inline-block;
	        }
	      }
	    }
	  }
	  .item-menu {
	    margin-left: auto;
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-start;
	    .menu-buttons {
	      margin-top: auto;
	      text-align: right;
	      input {
	        display: inline-block;
	        width: 125px !important;
	        margin-left: 10px;
	      }
	    }
	    .annotation-list-btn {
	      display: none !important;
	      &.active {
	        display: inline-block !important;
	      }
	    }
	  }
	}
	.pagination-btn-wrap {
	  width: 100%;
	  height: auto;
	  text-align: center;
	  margin: 10px 0 20px 0;
	  display: none;
	  &.active {
	    display: inline-block;
	  }
	  .over-feed-btn {
	    img {
	        user-select: none;
	      }
	    margin: 0 10px;
	    display: inline-flex;
	    transition: .2s ease;
	    width: 60px;
	    height: 60px;
	    border: solid 2px #707070;
	    background-color: rgba(0, 0, 0, .8);
	    justify-content: center;
	    align-items: center;
	    z-index: 170;
	    border-radius: 50%;
	    cursor: pointer;
	    &:hover {
	      background-color: #000;
	      border-color: lighten(#707070, 40%);
	      transform: scale(1.2);
	    }
	    &:active {
	      transform: scale(1.05);
	    }
	    .feed-arrow {
	      margin-top: 0;
	    }
	  }
	}
	.list-preloader-wrap {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
    	align-items: center;
    	position: absolute;
    	left: 0;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	padding-top: 200px;
	}

    .pre-info-block {
      width: 550px;
      height: auto;
      display: inline-block;
      text-align: center;
      background-color: rgba(0,0,0,.4);
      padding: 20px 35px;
      border: 1px solid #636363;
      .pre-info-text {
        color: #fff;
        font-family: $Ubuntu-Regular;
        font-size: 24px;
        margin: 20px 0 30px 0;
        line-height: 1.4em;
      }
    }
    .preloader-wrap {
    	position: fixed;
    	left: 0;
    	right: 0;
    	width: 100%;
    	text-align: center;
    	display: block;
    	transition: .3s ease;
    	bottom: -100%;
    	opacity: 0;
		&.active {
			bottom: 0;
			opacity: 1;
		}
    	.preloader-container {
		    width: 400px;
		    height: 60px;
		    min-height: 60px !important;
		    margin: 0 auto;
		    padding: 7px 0;
		    background: rgba(0, 0, 0, 0.4);
		    border: 2px solid #4bb543;
		    border-bottom: none;
		    border-radius: 10px 10px 0 0;
		    img {
		    	width: 40px;
    			height: 40px;
		    }
    	}
    }
}
@media screen and (max-width: 1350px) {
	.list-detailed-wrap {
		padding: 0 40px;
	}
	.list-detailed-wrap .lists-header .lists-title {
		width: 23%;
	}
}