.lists-wrap {
   width: 100%;
   height: 100%;
  .total-count {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    color: #000 !important;
    height: 28px;
    padding: 0 10px;
    text-align: center;
    font-family: $Ubuntu-Bold !important;
    border-radius: 14px;
    margin-left: 10px;
    background-color: #e1e1e1;
    &.anontiations {
      background-color: #fdba46;
    }
    &.critical {
      background-color: #ccee98;
    }
  }
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: left;
  position: relative;
  .lists-item {
    max-height: 191px !important;
  }
  .padding-left-right-none {
    padding-right: 0;
    padding-left: 0;
  }
  .notifications-p {
    width: 100%;
    font-family: $Ubuntu-Regular;
    font-size: 18px;
    color: #fff;
    margin: 0;
    padding: 30px 0 0 0;
  }
  .search-input-wrap {
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    .selectize-control,
    .lists-search {
      border: 1px solid #777777;
      font-family: $Ubuntu-Light;
      font-size: 22px;
      color:  rgb(105, 115, 121);
      width: 100%;
      height: 60px;
      margin-top: 20px;
      background-color: #212121;
      padding: 0 20px;
    }
  }
  .list-container-wrap {
    position: relative;
    padding-top: 20px;
    margin-bottom: 80px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.15);
    .item-menu {
      .item-date {
        margin: 10px 0;
        i {
          color: #696969;
          font-size: 21px;
          margin-right: 14px;
          &.active {
            color: #f5e100;
          } 
        }
      }
    }
  }
  .list-location-title {
    font-size: 19px;
    font-family: $Ubuntu-Light;
    margin-bottom: 15px;
    margin-left: 7px;
    line-height: 21px;
    max-width: 500px;
    line-height: 1.4em;
    color: #fff;
  }
  .location-text {
    color: rgba(255, 255, 255, 0.65);
    font-size: 17px;
  }
  .list-icon-wrap {
    margin-top: 113px;
    i {
      color: #696969;
      font-size: 21px;
      margin-right: 20px;
      &.active {
        color: #f5e100;
      }
      &:focus {
      	outline: none;
      }
    }
  }
  .search-btn-wrap {
    margin-top: 15px;
  }
  .list-detailed-link {
    text-decoration: none;
  }
  .item-date-created {
    margin-top: 0;
  }
  #deleteList {
    z-index: 999;
    transition: .3s ease;
    &:hover {
      color: #f5e100;
    }
  }
  .item-image {
    border: 
    solid 1px rgba(93,93,93,.4);
  }
  .create-list-btn {
    float: left;
    margin-left: 0;
  }
  .hidden-menu {
    /* display: none;
    &.active {
      display: block;
    } */
  }
  .create-list-popup {
    float: none;
  } 
	.location-wrap-link {
		text-decoration: none;
	}
	.locations-list {
	  padding: 20px;
	  padding-bottom: 0;
	  margin-top: 30px;
	  margin-bottom: 50px;
	}

	.locations-item {
	  position: relative;
	  transition: .3s ease;
	  margin: 0 auto;
	  width: 100%;
	  display: flex;
	  color: #fff !important;
	  text-decoration: none !important;
	  font-size: 18px;
	  padding: 20px;
	  min-height: 187px;
	  background-color: rgba(0, 0, 0, .3);
	  border: solid 1px rgba(93, 93, 93, .4);
	  margin-bottom: 18px;
	  font-family: $OpenSans-Light;
	  cursor: pointer;
	  &:hover {
	    background-color: rgba(0, 0, 0, .5);
	    border: solid 1px rgba(93, 93, 93, .8);
	    a {
	     color: #fff;
	     text-decoration: none;
	   }
	   color: #fff;
	   text-decoration: none;
	 }
	 .item-image {
	  flex-basis: 100%;
	  max-width: 210px;
	  height: 146px;
	  border: solid 1px rgba(93,93,93,.4);
	  .map-screenshot {
	    width: 100%;
	    height: 100%;
	  }
	}
	.item-info {
	  padding-left: 20px;
	  max-width: 380px; 
	  .item-title {
	    text-transform: uppercase;
	    font-family: $Ubuntu-Regular;
	    line-height: 16px;
	    margin-bottom: 20px;
	    width: 450px;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	    display: block !important;
	  }
	  .item-location {
	    span {
	      display: block;
	      font-size: 15px;
	      color: rgba(255, 255, 255, 0.65);
	      margin-bottom: 11px;
	    }
	    .pin-icon {
	      width: 20px;
	      width: 14.3px;
	      height: 21.2px;
	      margin-right: 7px;
	      position: relative;
	      top: -2px;
	    }
	    .address {
	      font-size: 18px;
	      font-family: $Ubuntu-Light;
	      margin-bottom: 30px;
	    }
	  }
	  .info-total {
	    color: rgba(255, 255, 255, 0.65);
	    font-size: 16px;
	    .total-posts,
	    .total-hotspots {
	      display: inline-block;
	    }
	    .total-posts {
	      margin-right: 42px;
	    }
	    .total-bubble {
	      display: inline-flex;
	      align-items: center;
	      font-size: 18px;
	      color: #000;
	      height: 28px;
	      padding: 0 10px;
	      text-align: center;
	      font-family: $Ubuntu-Bold;
	      border-radius: 14px;
	      margin-left: 10px;
	      &.posts {
	        background-color: #e1e1e1;
	      }
	      &.hotspots {
	        background-color: #fff568;
	      }
	    }
	  }
	}
	.item-menu {
	  display: flex;
	  flex-flow: column nowrap;
	  align-items: flex-end;
	  margin-left: auto;
	  min-width: 238px;
	  .recording-state {
	    text-transform: uppercase;
	    font-size: 24px;
	    line-height: 24px;
	    font-family: $Ubuntu-Medium;
	    img {
	      display: inline-block;
	      width: 37px;
	      height: 37px;
	      margin-right: 5px;
	    }
	    .recording-paused {
	      display: none;
	      &.active {
	        display: block;
	      }
	    }
	    .recording-started {
	      display: none;
	      color: red;
	      &.active {
	        display: block;
	      }
	    }
	  }
	  .menu-buttons {
	    margin-top: auto;
	    i {
	      display: inline-block;
	      font-size: 33px;
	      line-height: 33px;
	      user-select: none;
	      position: relative;
	      top: 7px;
	      color: #fff;
	    }
	    .recording-toggle {
	      margin-right: 10px;
	      cursor: pointer;
	      .recording-start {
	        display: none;
	        &.active {
	          display: inline-block;
	        }
	      }
	      .recording-stop {
	        display: none;
	        &.active {
	          display: inline-block;
	        }
	      }
	      img {
	        display: inline-block;
	        width: 37px;
	        height: 37px;
	        transition: .3s ease;
	        &:hover {
	        transform: scale(1.1);
	        }
	      }
	    }
	    .delete-button {
	      cursor: pointer;
	    }
	  }
	  .item-date {
	    font-size: 15px;
	    color: rgba(255, 255, 255, 0.65);
	    span {
	      font-size: 18px;
	      color: #fff;
	      font-family: $Ubuntu-Light;
	      margin-left: 15px;
	    }
	  }
	}
	.full-info-savalocation {
	  display: none;
	  position: absolute;
	  left: 0;
	  bottom: 0;
	  margin-bottom: -135px;
	  vertical-align: bottom;
	  width: 300px;
	  height: auto;
	  background-color: rgba(36,36,36,.9);
	  border: solid 1px #979797;
	  padding: 10px 25px 5px 25px;
	  z-index: 9999;
	  &::after {
	    content: '';
	    position: absolute;
	    left: 10%;
	    top: 0;
	    margin-top: -6px;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 0 5px 6px 5px;
	    border-color: transparent transparent #979797 transparent;
	  }
	  &.active {
	    display: inline-block !important;
	  }
	  p {
	    font-family: $Ubuntu-Regular;
	  }
	  ul {
	    display: inline-block;
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    li {
	      span {
	        font-family: $Ubuntu-Regular;
	      }
	    }
	  }
	}
	}
	.sort-selects {
		margin-bottom: 0;
		.select2-container {
			width: 200px;
		}
	}
	.list-preloader-wrap {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
    	align-items: center;
    	position: absolute;
    	left: 0;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	padding-top: 200px;
    	&.no-list-item {
    		padding: 0 0 20px 0;
    		position: relative;
    	}
	}

    .pre-info-block {
      width: 550px;
      height: auto;
      display: inline-block;
      text-align: center;
      background-color: rgba(0,0,0,.4);
      padding: 20px 35px;
      border: 1px solid #636363;
      .pre-info-text {
        color: #fff;
        font-family: $Ubuntu-Regular;
        font-size: 24px;
        margin: 20px 0 30px 0;
        line-height: 1.4em;
      }
    }
    .customInput {
    	margin-top: 15px;
    } 
}
@media screen and (max-width: 991px) {
	.lists-wrap {
		padding: 0 40px;
	}
}