.login-page {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at 0 0, #393939, #181818), radial-gradient(circle at 0 0, #37383c, #1e2021);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .login-window-wrap {
    margin-top: 5.5%;
  }
  input {
    background-color: rgba(0,0,0,.2);
    font-family: $Ubuntu-Regular;
    font-size: 18px;
    border: 1px solid #777777;
    height: 44px;
    padding: 0 10px;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    max-width: 415px;
    color: #fff;
    &.has-error {
      border: 2px solid #c40000;
      background: rgba(136, 0, 0, 0.2) url(../../dist/images/error-cross.svg) no-repeat;
      background-size: 6%;
      background-position: 98% center;
    }
  }
  label {
    font-family: $Ubuntu-Light;
    font-size: 18px;
    color: rgba(255, 255, 255, .9)
  }
  .has-error-input {
    transition: .3s ease;
    border: 1px solid #777777 !important;
    color: #777777 !important;
    background-color: rgba(0,0,0,.2) !important;
    cursor: not-allowed !important;
    &:hover {
      border-color: #944545 !important;
      color: #944545 !important;
    }
  }
  .login-button {
    display: inline-block;
    font-family: $Ubuntu-Regular;
    cursor: pointer;
    font-size: 17px;
    color: #f5e100;
    background-color: rgba(0,0,0,.2);
    border: solid 1px #f5e100;
    height: 44px;
    width: 100%;
    max-width: 415px;
    transition: .3s ease;
    margin-top: 15px;
    &:hover {
      background-color: #f5e100;
      color: #000;
    }
  }
  .login-blackbird {
    font-size: 17px;
  }
  .login-top {
    text-align: center;
    color: transparentize(#f5e100, .1);
    margin-bottom: 40px;
  }
  .window-title {
    text-align: center;
    margin-bottom: 30px;
    font-family: $Ubuntu-Regular;
    color: #fff;
  }
  .create-btn-wrap {
    display: block;
    text-align: center;
    color: #e1cf04;
    font-family: $Ubuntu-Regular;
    font-size: 20px;
    margin-top: 35px;
  }
  .create-account-btn {
    transition: .3s ease;
    display: inline-block;
    text-align: center;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    outline: none !important;
    &:hover {
      border-color: #e1cf04;
    }
  }
  .login-window {
    display: block;
    .login-input-wrap {
      position: relative;
    }
    .login-error-message {
      color: #fff;
      font-family: $Ubuntu-Regular;
      font-size: 16px;
      background-color: #5f0101;
      display: inline-block;
      padding: 7px 15px;
      border: 2px solid #c40000;
      position: absolute;
      visibility: hidden;
      right: -240px;
      opacity: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 2px;
      transition: .3s ease;
      &.error-active {
        visibility: visible;
        opacity: 1;
        right: -215px;
      }
      &::before {
        content: "";
        position: absolute;
        left: -8.7px;
        display: block;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        background-color: #5f0101;
        top: 50%;
        margin-top: -7.5px;
        border-bottom: 2px solid #c40000;
        border-left: 2px solid #c40000;
      }
    }
    .email-login {
      display: flex;
      justify-content: center;
    }
    .error-message {
      transition: all .3s ease;
      width: 90%;
      max-width: 780px;
      opacity: 0;
      position: fixed;
      top: -70px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      text-align: center;
      min-height: 65px;
      align-items: center;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      padding: 10px 20px;
      font-size: 21px;
      z-index: 10;
      border: 2px solid transparent;
      border-top: none;
      &.active {
        border-color: #b20000;
        background-color: rgba(0, 0, 0, 0.35);
        opacity: 1;
        top: -2px;
      }
    } 
    .social-login {
      padding-left: 35px;
    }
    .email-login-wrap {
      width: 95%;
      max-width: 415px;
    }
  }

  .login-messages {
    max-width: 500px;
    font-family: $Ubuntu-Light;
    color: #fff;
    .loading-message {
      transition: all .3s ease;
      width: 90%;
      max-width: 780px;
      opacity: 0;
      position: fixed;
      top: -70px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      text-align: center;
      min-height: 65px;
      align-items: center;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      padding: 10px 20px;
      font-size: 21px;
      z-index: 10;
      border: 2px solid transparent;
      border-top: none;
      &.active {
        border-color: #FF6600;
        background-color: rgba(0, 0, 0, 0.35);
        opacity: 1;
        top: -2px;
      }
      img {
        width: 25px;
        height: 25px;
        margin-left: 20px;
        margin-bottom: -3px;
      }
    }
    .twitter-error-message {
      transition: all .3s ease;
      width: 90%;
      max-width: 780px;
      opacity: 0;
      position: fixed;
      top: -70px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      text-align: center;
      min-height: 65px;
      align-items: center;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      padding: 10px 20px;
      font-size: 21px;
      z-index: 10;
      border: 2px solid transparent;
      border-top: none;
      &.active {
        border-color: #b20000;
        background-color: rgba(0, 0, 0, 0.35);
        opacity: 1;
        top: -2px;
      }
    }
    .twitter-redirecting-message {
      transition: all .3s ease;
      width: 90%;
      max-width: 780px;
      opacity: 0;
      position: fixed;
      top: -70px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      text-align: center;
      min-height: 65px;
      align-items: center;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      padding: 10px 20px;
      font-size: 21px;
      z-index: 10;
      border: 2px solid transparent;
      border-top: none;
      &.active {
        border-color: #4BB543;
        background-color: rgba(0, 0, 0, 0.35);
        opacity: 1;
        top: -2px;
      }
      img {
        width: 25px;
        height: 25px;
        margin-left: 20px;
        margin-bottom: -3px;
      }
    }
  }
  
  .registration-window {
    display: block;
    text-align: center;
    .sign-in {
      display: block;
      outline: none !important;
    }
    .registration-form {
      text-align: left;
      input {
        max-width: none;
      }
    }
    .login-button {
      margin-top: 30px !important;
      display: block;
      margin: 0 auto;
    }
    .password-input-wrap {
      input {
        margin-bottom: 0;
      }
      .strength-level-wrap {
        display: none;
        &.active {
          display: block;
        }
        .text-strength {
          text-align: left;
          color: #ccc;
          font-size: 15px;
          font-family: $Ubuntu-Regular;
          margin-top: 5px;
          margin: 8px 0 -5px 0;
          padding-left: 0;
          span {
            margin-left: 5px;
            text-transform: capitalize;
            color: #fff;
          }
        }
        .strength-level-parent {
          display: inline-block;
          height: 4px;
          width: 100%;
          background-color: #444;
          .strength-level-child {
            transition: .3s ease;
            display: block;
            height: 4px;
            background-color: transparent;
            &.weak {
              width: 20%;
              background-color: #F44336;
            }
            &.medium {
              width: 40%;
              background-color: #E65100;
            }
            &.good {
              width: 60%;
              background-color: #FF9800;
            }
            &.strong {
              width: 80%;
              background-color: #8BC34A;
            }
            &.excellent {
              width: 100%;
              background-color: #87FF14;
            }
          }
        }
      }
    }
  }

  .approval-window {
    margin-top: 10%;
    text-align: center;
    display: block;
    .window-text {
      color: #fff;
      font-family: $Ubuntu-Regular;
      font-size: 20px;
      max-width: 700px;
      margin: 0 auto;
      .email-text {
        transition: .3s ease;
        color: #e1cf04;
        font-family: $Ubuntu-Regular;
        border-bottom: 1px solid transparent;
        padding-bottom: 3px;
        &:hover {
          text-decoration: none;
          border-color: #e1cf04;
        }
      }
    }
  }
}