.gm-style-iw {
  overflow: visible !important;
  text-align: center;
}
.gm-style-iw * {
  overflow: visible !important;
}
img {
  &.blur {
    filter: blur(2px);
  }
}
.show-posts-btn {
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  display: flex;
  height: 44px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  position: absolute;
  top: -10px;
  border-radius: 25px !important;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 150;
  border: 2px solid #f5e100;
  color: #f5e100;
  font-size: 18px;
  text-align: center;
  line-height: 44px;
  font-family: $Ubuntu-Regular;
  cursor: pointer;
  padding: 0 40px;
  box-shadow: 0 0 0 2px transparent;
  &:hover {
    background-color: #f5e100;
    border-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0 2px #f5e100;
    color: #000;
  }
  &.active {
    opacity: 1;
    visibility: visible;
    top: 10px;
  }
}
.infowindow {
  max-width: 320px;
  background-color: #252525;
  border: solid 1px #959595;
  font-family: $Ubuntu-Regular;
  min-height: 150px;
  position: relative;
  bottom: -15px;
  color: #fff;
  padding: 13px 10px 17px;
  display: block;
  &::after {
    content: "";
    position: absolute;
    bottom: -4.5%;
    left: 50%;
    margin-left: -7.5px;
    display: block;
    background-color: #252525;
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    border: solid 1px #959595;
    border-left: none;
    border-top: none;
  }
  .user-avatar {
    display: inline-block;
    border: 2px solid rgba(245, 225, 0, 0.81);
    border-radius: 50%;
    margin-bottom: 5px;
    position: relative;
    width: 50px;
    height: 50px;
    & img {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
    }
    .platform-icon {
      position: absolute;
      bottom: -8px;
      right: -8px;
      display: block;
      width: 25px;
      height: 25px;
      & img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .user-name {
    font-size: 16px;
    display: block;
    margin: 0 auto;
    max-width: 90%;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: $Ubuntu-Bold;
  }
  .infowindow-content {
    $font-size: 13px;
    $line-height: 1.4;
    $lines-to-show: 2;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    padding: 0 4px;
    max-height: $font-size * $line-height * $lines-to-show; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-bottom: 7px;
  }
  .infowindow-content-image {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 73px;
    overflow: hidden !important;
    .map-show-full-img {
      color: #fde900;
      padding: 3px;
      position: absolute;
      cursor: pointer;
      &:hover {
        color: #000;
      }
    }
    &.yes {
      display: block;
    }
    &.no {
      display: none;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .hotspot-wrapper {
    font-family: $Ubuntu-Regular;
    font-size: 18px;
    min-width: 270px;
    .hotspot-id {
      margin-bottom: 17px;
      display: block;
      margin-top: 3px;
    }
    .count-number {
      font-size: 22px;
      margin: 0 4px;
      font-family: $Ubuntu-Bold;
      &.twitter {
        color: #58aceb;
      }
      &.instagram {
        color: #4013f3;
      }
    }
    .view-hotspot-btn {
      font-family: $Ubuntu-Regular;
      color: #fde900;
      transition: .3s ease;
      padding-bottom: 3px;
      border-bottom: 2px solid transparent;
      &:hover {
        color: #fde900;
        border-color: #fde900;
      }
    }
    .twitter-line,
    .instagram-line {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .twitter-line {
      margin-bottom: 8px;
    }
    .instagram-line {
      margin-bottom: 20px;
    }
    .social-icon {
      display: inline-block;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      margin-right: 10px;
      &.twitter {
        background: url('../images/TwitterPlatformIcon.png') no-repeat;
        background-size: cover;
      }
      &.instagram {
        background: url('../images/PlatormInstagramIcon.png') no-repeat;
        background-size: cover;
      }
    }
  }
}
.ad-window {
 height: 349px;
 position: relative;
 display: -webkit-box;
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
 width: 100%;
 background-color: #000;
 border: 1px solid #636363;
 overflow: hidden;
	/* &:hover {
    // border: 1px solid rgba(49, 50, 54, .9);
    .hover-menu-wrap {
        visibility: visible;
      opacity: 1;
      top: 0;
    }
  } */
	.pin-zoom-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.showPin, .resetMap {
			width: 48% !important;
			margin-bottom: 10px !important;
		}
	}
	.categoryIcons {
		float: right;
		width: 25px;
	}
	.post-date {
		margin-bottom: 3px;
		font-size: 12px;
    padding: 0 10px;
		.date,
		.time {
			font-family: $OpenSans-LightItalic;
			color: rgba(255, 255, 255, 0.75);
		}
		.calender-icon {
			width: 20px;
			margin-right: 3px;
		}
		.time {
			margin-right: 3px;
			font-family: $OpenSans-Semibold;
			font-style: italic; 
		}
	}
	.post-image-wrap {
		max-width: 100%;
    margin-bottom: 5px;
    max-height: 153px;
    overflow: hidden;
    padding: 0 10px;
    .full-img-icon {
      color: #fde900;
      padding: 3px;
      position: absolute;
      cursor: pointer;
      &:hover {
        color:#000;
      }
    }
		img {
      margin-top: -8%;
			width: 100%;
			height: auto;
		}
	}
	.post-content {
		font-family: $OpenSans-Light;
		font-size: 14px;
		line-height: 18px;
		color: rgba(255,255,255,.65);
		margin-bottom: auto;
		display: block;
		display: -webkit-box;
		max-height: 146px;
		-webkit-line-clamp: 8;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		word-wrap: break-word;
    padding: 0 10px;
    &.with-img {
      height: 36px !important;
      -webkit-line-clamp: 2 !important;
    }
	}
  .post-info-and-rate {
    margin-top: auto;
    padding: 0 10px 5px;
  }
	.user-info-wrap {
		display: flex;
		margin-bottom: 5px;
		margin-top: 5px;
		.user-avatar-wrap-twitter {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 2px solid #00aeef;
			position: relative;
			.user-avatar {
				border-radius: 50%;
				width: 100%;
				overflow: hidden;
			}
			&::after {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				background: url(../images/twitterPlatform.png) center center no-repeat;
				position: absolute;
				bottom: -4px;
				right: -9px;
				background-size: 100%;
			}
		}
		.user-avatar-wrap-instagram {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 2px solid #ff5678;
			position: relative;
			.user-avatar {
				border-radius: 50%;
				width: 100%;
				overflow: hidden;
			}
			&::after {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				background: url(../images/instagramPlatform.png) center center no-repeat;
				position: absolute;
				bottom: -4px;
				right: -9px;
				background-size: 100%;
			}
		}
		.post-user-info {
      display: inline-block;
      margin-left: 20px;
      max-width: 60%;
			.post-user-name {
				font-family: $OpenSans-Light;
				font-size: 13px;
				color: rgba(255, 255, 255, .75);
				margin-bottom: 5px;
        padding-top: 10px;
				.TweetAuthor-name {
					font-family: $OpenSans-Semibold;
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
				}
        .TweetAuthor-screenName {
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
			}
		}
      } // user-info-wrap
      .post-rate {
      	.circle-mark-wrap {
      		display: inline-flex;
      	}
      	.circle {
      		display: inline-block;
      		border-radius: 50%;
      		width: 10px;
      		height: 10px;
      		margin-top: 12px;
      		margin-right: 5px;
      		&.positive {
      			background-color: #15ef39;
      		}
      		&.negative {
      			background-color: #ef4d15;
      		}
      		&.neutral {
      			background-color: #9b9b9b;
      		}
      	}
      	.mark {
      		font-family: $Ubuntu-Regular;
      		font-size: 18px;
      		background: transparent;
          display: inline-block;
      		&.positive {
      			color: #15ef39;
      		}
      		&.negative {
      			color: #ef4d15;
      		}
      		&.neutral {
      			color: #9b9b9b;
      		}
      	}
      	.message {
      		font-family: $Ubuntu-Light;
      		font-size: 18px;
      		display: inline-block;
      		float: right;
      		margin-right: 0;
      		margin-top: 4px;
      		&.positive {
      			color: #15ef39;
      		}
      		&.negative {
      			color: #ef4d15;
      		}
      		&.neutral {
      			color: #9b9b9b;
      		}
      	}
      	.hot-spot {
      		height: 10px;
      		border-radius: 7.2px;
      		font-family: $Ubuntu-Medium;
      		font-size: 12px;
      		text-transform: uppercase;
      		color: #171717;
      		padding: 5px 8px;
      		align-items: center;
      		line-height: 10px;
      		display: inline-flex;
      		border: 2px solid;
      		&.positive {
      			background-color: rgb(21, 239, 57);
      			border-color: rgb(46, 137, 10);
      		}
      		&.negative {
      			background-color: #ef4d15;
      			border-color: rgb(137, 10, 10);
      		}
      		&.neutral {
      			background-color: #9b9b9b;
      			border-color: rgb(88, 87, 87);
      		}
      	}
      } // post-rate

      .post-category-wrapper {
        padding: 3px 6px;
        margin-bottom: 5px;
        border-bottom: 1px solid #636363;
        justify-content: flex-end;
        display: flex;
        color: rgba(255, 255, 255, .7);
        align-items: center;
        .category-label {
          display: block;
          font-family: $OpenSans-Regular;
          font-style: italic;
          font-size: 13px;
          margin-right: auto;
          overflow: hidden;
          max-height: 20px;
        }
        .post-category {
          display: inline-flex;
          align-items: center;
          .change-category {
            margin-right: 5px;
            &:hover {
              cursor: pointer;
            }
          }
          .category-text {
            &.category-text-generic {
              font-family: $OpenSans-Regular;
              color: rgba(255, 255, 255, 0.65);
              &:hover {
                cursor: pointer;
              }
            }
            display: inline-block;
            font-family: $OpenSans-Semibold;
            font-size: 15px;
            text-transform: uppercase;
            color: #fde900;
            margin-right: 3px;
          }
          .category-icon {
            display: inline-block;
            width: 21px;
            height: 21px;
            img {
              max-width: 100%;
              height: auto;
            }
          }
        }
        .change-category-list {
          position: absolute;
          width: 100%;
          margin-left: 0;
          padding-left: 0;
          left: 0;
          text-align: right;
          padding-right: 10px;
          z-index: 9999;
          list-style: none;
          top: 24px;
          text-transform: uppercase;
          right: 0;
          border-bottom: 1px solid #636363;
          display: none;
          background: black;
          .change-category-list-item:hover {
            cursor: pointer;
            color: white;
          }
        }
      }

      .hover-menu-wrap {
      	transition: .3s ease;
      	display: flex;
      	justify-content: center;
      	align-items: center;
      	position: absolute;
      	top: -10px;
      	left: 0;
      	width: 100%;
        visibility: hidden;
      	opacity: 0;
      	height: 100%;
      	background-color: rgba(49, 50, 54, .9);
      	z-index: 10;
        .hover-item-icon {
          display: inline-block;
          width: 20px;
          height: 20px;
          vertical-align: middle;
          margin-right: 10px;
          background-size: cover !important;
          &.show-pin {
            background: url('../images/show-pin-icon.png') no-repeat;
          }
        }
        .hover-select {
          select {
            width: 170px;
            height: 41px;
            border: solid 1px #f5e100;
            background-color: transparent;
            appearance: none;
            -webkit-appearance: none;
            border-radius: 0;
            font-family: $Ubuntu-Regular;
            color: #f5e100;
            text-align: center;
            text-align-last: center;
            font-size: 18px;
            cursor: pointer;
            margin-top: 10px;
            padding-left: 10px;
            transition: .3s ease;
            &:focus {
              outline: none;
            }
            &:hover {
              color: #000;
              background-color: #f5e100;
            }
          }
        }
      	.hover-menu {
      		a {
      			transition: .3s ease;
      			display: block;
      			font-size: 18px;
      			font-family: $Ubuntu-Regular;
      			color: #f5e100;
      			padding: 7px 0;
            cursor: pointer;
      			width: 170px;
      			text-align: center;
      			border: solid 1px #f5e100;
      			background-color: transparent;
      			margin-bottom: 10px;
      			&:hover {
      				text-decoration: none;
      				color: #000;
      				background-color: #f5e100;
      			}
      			&:last-child {
      				margin-bottom: 0;
      			}
            .fa-map-marker {
              margin-right: 10px;
            }
          }
      	}
      }
    }
    
    // Fresh post menu layout added

    .post-menu {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      border-top: 1px solid darken(#636363, 25%);
      a {
        transition: .3s ease;
        display: inline-block;
        font-size: 16px;
        font-family: $Ubuntu-Regular;
        height: 38px;
        color: #636363;
        padding: 7px 0;
        cursor: pointer;
        width: 27%;
        text-align: center;
        background-color: transparent;
        position: relative;
        &:after {
          content: '';
          width: 1px;
          height: 25px;
          top: 50%;
          transform: translateY(-50%);
          background-color: darken(#636363, 25%);
          position: absolute;
          right: 0;
        }
        &:hover {
          text-decoration: none;
          color: #f5e100;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      .bigger-icon {
        font-size: 18px;
      }
      .annotation-icon {
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
      }
      .menu-select {
        position: relative;
        width: 20%;
        &:hover {
          &::after {
            color: #f5e100;
          }
        }
        &::after {
          content: '+';
          display: inline-block;
          position: absolute;
          top: 0px;
          left: 50%;
          z-index: 1;
          transform: translateX(-50%);
          font-weight: bold;
          font-size: 24px;
          color: #636363;
          transition: .3s ease;
          line-height: 1.4;
        }
      }
      select {
        width: 100%;
        height: 38px;
        border: none;
        z-index: 2;
        background-color: transparent;
        appearance: none;
        font-size: 18px;
        line-height: .9;
        display: inline-block;
        -webkit-appearance: none;
        border-radius: 0;
        font-family: $Ubuntu-Regular;
        color: transparent;
        font-weight: bold;
        text-align: center;
        text-align-last: center;
        cursor: pointer;
        transition: .3s ease;
        position: relative;
        &:focus {
          outline: none;
        }
      }
    }

		.today-date-button {
			margin-left: auto;
		}

    .social-line {
    	padding: 0 0 0 10px;
    	height: 75px;
    	display: flex;
    	align-items: center;
      .date-and-category-filter {
        width: 20%;
        margin-left: auto;
        text-align: center;
      }
      .searchbar {
        width: 75%;
        margin-left: 10px;
        user-select: none;
        transition: .3s ease;
        display: inline-block;
        .selectize-control {
          pointer-events: none;
        }
        .selectize-input {
          margin: 0;
          padding-left: 44px !important;
          pointer-events: none;
          height: 45px;
          input {
            width: 220px !important;
          }
          .item {
            pointer-events: auto;
          }
        }
      }
    }
    .social-check-wrap {
      .news-check {
        position: relative;
        .news-popup {
          position: absolute;
          left: 0;
          top: 0;
          width: 200px;
          height: auto;
          background: #323232;
          border: 1px solid #5a5a5a;
          z-index: 10;
          margin-top: 30px;
          padding: 5px 10px 0 10px;
          .social-check {
            display: flex;
            margin-bottom: 5px;
            .social-icon {
              max-width: 60px !important;
              height: auto !important;
              width: auto !important;
              &.fox-news-icon {
                max-width: 35px !important;
              }
              img {
                border-radius: 0 !important;
              }
            }
          }
        }
      }
    	.social-check {
    		position: relative;
    		display: inline-flex;
    		align-items: center;
    		margin-right: 12px;
    		input[type=checkbox].css-checkbox {
    			position: absolute;
    			display: inline-block;
    			width: 19.5px;
    			height: 19.5px;
    			-webkit-appearance: none;
    			appearance: none;
    			top: -2px;
    			cursor: pointer;
    			&:focus {
    				outline: none;
    			}
    		}

    		input[type=checkbox].css-checkbox ~ label.css-label {
    			height: 19.5px;
    			width: 19.5px;
    			display: inline-block;
    		}

    		input[type=checkbox].css-checkbox:checked ~ label.css-label {
    			background-position: 0 -20px;
    		}
    		label.css-label {
    			cursor: pointer;
    			background-image: url('../images/checkbox_sprite.png');
    			-webkit-touch-callout: none;
    			-webkit-user-select: none;
    			-khtml-user-select: none;
    			-moz-user-select: none;
    			-ms-user-select: none;
    			user-select: none;
    			margin-top: 5px;
    			margin-right: 5px;
    		}
    		.social-name {
    			color: #fff;
    			font-family: $Ubuntu-Light;
    			font-size: 18px;
    		}
    		.social-icon {
    			display: inline-block;
    			width: 28px;
    			height: 28px;
    			border-radius: 50%;
    			margin-right: 5px;
    			img {
    				max-width: 100%;
    				height: auto;
    				border-radius: 50%;
    			}
    		}
    	}
    }
    .map-gallery-wrap {
      ::-webkit-scrollbar { 
        display: none;
      }
    	height: calc(100vh - 186px);
      &.pagination-margin {
        margin-bottom: 60px;
      }
      &.pagination-margin-dashboard {
        margin-bottom: 40px;
      }
      .preloader-wrap {
        display: none;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        &.preloader-wrap-active {
          display: flex;
        }
      }
      .pre-info-wrap {
        display: flex;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        &.pre-info-wrap-active {
          display: none;
        }

        .pre-info-block {
          width: 550px;
          height: auto;
          display: inline-block;
          text-align: center;
          background-color: rgba(0,0,0,.4);
          padding: 20px 35px;
          border: 1px solid #636363;
          .pre-info-text {
            color: #fff;
            font-family: $Ubuntu-Regular;
            font-size: 24px;
            margin: 20px 0 30px 0;
            line-height: 1.4em;
          }
        }
      }
      .no-post-wrap-wrap {
        display: none;
        height: 100%;
        align-items: center;
        justify-content: center;
        &.no-post-wrap-active {
          display: flex;
        }
        .pre-info-block {
          width: 550px;
          height: auto;
          display: inline-block;
          text-align: center;
          background-color: rgba(0,0,0,.4);
          padding: 20px 35px;
          border: 1px solid #636363;
          .pre-info-text {
            color: #fff;
            font-family: $Ubuntu-Regular;
            font-size: 24px;
            margin: 20px 0 30px 0;
            line-height: 1.4em;
          }
        }
      }
      .pre-info-error {
        display: none;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        &.pre-info-error-active {
          display: flex;
        }
        .pre-info-block {
          width: 550px;
          height: auto;
          display: inline-block;
          text-align: center;
          background-color: rgba(136, 0, 0, 0.2);
          padding: 20px 35px;
          border: 1px solid #c40000;
          .pre-info-text {
            color: #fff;
            font-family: $Ubuntu-Regular;
            font-size: 24px;
            margin: 20px 0 30px 0;
            line-height: 1.4em;
          }
        }
      }
    	.gallery-navbar {
    		height: 31px;
    		display: flex;
    		justify-content: space-between;
    		align-items: center;
    		background-color: rgba(0, 0, 0, .3);
    		padding-left: 23px;
    		margin-bottom: 10px;
        .examine-link {
          text-decoration: none;
        }
    		.record-status {
    			display: inline-flex;
    			align-items: center;
    			font-family: $Roboto-Regular;
    			font-size: 20px;
    			color: rgba(255, 255, 254, 0.8);
    			padding-right: 15px;
    			.status-dot {
    				margin-left: 10px;
    				display: inline-block;
    				width: 20px;
    				height: 20px;
    				border-radius: 50%;
    				&.red {
    					background-color: red;
    				}
    				&.green {
    					background-color: green;
    				}
            &.orange {
              background-color: orange;
            }
    			}
    		}
    		.tab-item {
    			color: #fff;
    			cursor: pointer;
    			padding: 0 5px;
    			border-bottom: 2px solid transparent;
    			transition: .3s ease;
    			text-transform: uppercase;
    			font-size: 20px;
    			font-family: $Roboto-Thin;
    			padding-bottom: 1px;
    			margin-right: 40px;
          user-select: none;
          &.disabled-recorded {
            color: #b8b0b0;
            pointer-events: none; 
          }
    			&:hover {
            text-decoration: none;
    				color: #ccc;
    			}
          &:focus {
            outline: none;
            text-decoration: none;
          }
    			&.active {
    				border-color: #fde900;
    				font-family: $Roboto-Regular;
    			}
          .tab-item-img {
            width: 16px;
            height: 16px;
            vertical-align: top;
            margin-top: 7px;
            margin-right: 5px;
          }
    		}
    	}
    	.gallery-wrap {
    		display: block;
    		height: 70vh;
    		overflow-y: scroll;
    		.galleryFeed {
          display: block;
          width: 100%;
    			.gallery-item {
            margin-bottom: 15px;
            display: block;
            float: left;
            width: 31.98%;
            margin-right: 2%;
            &.small {
              max-width: 19.18%;
              margin-right: 1%;
              &:nth-child(3n) {
                margin-right: 1%;
              }
              &:nth-child(5n) {
                margin-right: 0;
              }
              &:last-child {
                margin-right: 0;
              }
            }
            &:nth-child(3n) {
              margin-right: 0;
            }
    			}
    		}
    	}		
    }
    .map-wrap {
    	background-color: #ccc;
    	display: block;
    	position: relative;
    	.overmap {
    		display: block;
    		width: 98%;
    		margin: 0 auto;
    		height: 124px;
    		background-color: rgba(0, 0, 0, .7);
    		border: solid 1px #636363;
    		position: absolute;
    		top: 5px;
    		left: 7px;
    		z-index: 1;
        &.over-map-event {
          height: 76px;
          width: 70%;
          .event-name {
            color: #fff;
            font-size: 24px;
            font-family: $Ubuntu-Light;
            padding: 8px 15px 0 12px;
            display: block;
          }
          .location-name {
            color: #fff;
            font-size: 16px;
            font-family: $Ubuntu-Light;
            padding: 0 12px;
            display: inline-block;
            max-width: 95%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        &.small {
          width: 48%;
        }
    		.minus-padding {
    			padding: 0;
    		}
    		.zero-right-padding {
    			padding-right: 0;
    			padding-left: 10px;
    		}
    		.radius-size-wrap {
    			width: 50%;
    			text-align: center;
    			font-size: 18px;
    			color: #ffffff;
    		}
    		.radius-size{
    			display: inline-block;
    			font-family: 'Ubuntu-Light';
    			margin: 0;
    		}
    		.radius-unit {
    			margin-left: 2px;
    		}
    		.map_img_wrap {
    			display: inline-block;
    			width: 20px;
    			height: 25px;
    			margin-top: 10px;
    		}
    		.map_img_wrap img{
    			max-width: 100%;
    			height: auto;
    			display: block;
    		}
    		.map_icon_overmap {
    			width: 3%;
    			height: auto;
    			display: inline-block;
    			text-align: left;
    			box-sizing: border-box;
    			float: left;
    			padding: 0 10px 0 13px;
    		}
    		.over_map_bottom {
    			width: 100%;
    			height: auto;
    			display: inline-block;
    			text-align: center;
          user-select: none;
    		}
    		.overmap_bottom_wrap {
    			width: 53%;
    			height: auto;
    			display: inline-block;
    			text-align: left;
    			box-sizing: border-box;
    			padding: 3px 20px 0 20px;
    			float: left;
    		}
    		.map_location_text {
    			font-family: 'Ubuntu-Regular';
    			font-size: 14px;
    			color: rgba(255, 255, 255, 0.6);
    			padding: 0;
    			margin: 0;
    		}
    		.map_location_name {
    			font-family: 'Ubuntu-Light';
    			font-size: 16px;
    			color: #ffffff;
    			max-width: 309px;
    			overflow: hidden;
    			overflow:hidden;
    			white-space:nowrap;
    			text-overflow: ellipsis;
    		}
    		.btn_control_container {
    			width: 40%;
    			height: auto;
    			display: inline-block;
    			float: right;
    			text-align: right;
    			padding-right: 10px;
    		}
    		.btn_control_container input {
    			width: 45% !important;
    			float: right;
    			margin-left: 10px;
    			border: solid 1px #f5e100;
    			font-family: 'Ubuntu-Regular' !important;
    			color: #f5e100;
    			font-size: 13px;
    			background-color: transparent;
    			height: 45px;
    			transition: .3s ease;
    		}
    		.btn_control_container input:hover {
    			background: #f5e100;
    			color: #000;
    			opacity: 1;
    		}
        .ng-hide.ng-hide-animate{
          display: none !important;
        }
        .active-move-radius {
          box-shadow: 0 0 0 2px #f5e100;
          background: #f5e100 !important;
          border: 2px solid #000 !important;
          color: #000 !important;
        }
				 .setRadiusDisable {
          display: none;
				 	background: #deddb7 !important;
				 	border: 1px solid #deddb7 !important;
				 	color: #000 !important;
				 	opacity: 1;
				 }
				 .checkbox_toogle_wrap {
				 	float: right;
				 }
				 .locationbar {
				 	font-family: 'Ubuntu-Light';
				 	font-size: 18px;
				 	color: #ffffff;
				 	width: 100%;
				 	padding: 10px 15px;
				 	margin: 10px 0;
				 	background-color: #000;
				 	border: 1px solid #636363;
				 	box-sizing: border-box;
				 }
				 .locationbar:focus{
				 	outline-offset: 0px !important;
				 	outline: -webkit-focus-ring-color auto 0px !important;
				 }
				 .circle-option-wrap {
				 	width: 100%;
				 	height: auto;
				 	display: inline-block;
				 	position: relative;
				 }
				 .option_zoom {
				 	cursor: pointer;
				 	width: 100%;
				 	-webkit-appearance: none;
				 	-webkit-border-radius: 0px;
				 	height: 48px;
				 	display: inline-block;
				 	font-family: 'Ubuntu-Light';
				 	font-size: 18px;
				 	color: #ffffff;
				 	padding: 11px 15px 12px 33px;
				 	margin: 10px 0;
				 	background-color: #000;
				 	border: 1px solid #636363;
				 	box-sizing: border-box;
				 	-webkit-padding: 11px 15px 12px 33px;
				 	-webkit-margin: 10px 0;
				 	-webkit-background-color: #000;
				 	-webkit-border: 1px solid #636363;
				 	-webkit-box-sizing: border-box;
				 }
				 .circle-select {
				 	position: absolute;
				 	left: 0;
				 	top: 0;
				 	z-index: 99;
				 	margin-top: 22px;
				 	margin-left: 10px;
				 }
				 .circle-select i {
				 	color: #fff;
				 	font-size: 24px;
				 }
				 .zoom_btn_wrap {
				 	width: 95.5%;
				 	height: 47px;
          user-select: none;
				 	display: inline-flex;
				 	justify-content: center;
				 	align-items: center;
				 	margin: 10px 0;
				 	background-color: #000;
				 	border: 1px solid #636363;
				 	box-sizing: border-box;
				 	position: relative;
				 }
				 .zoom_btn {
				 	box-shadow: none;
				 	border: none;
				 	background: transparent;
				 	color: #fff;
				 	&:focus {
				 		outline: none;
				 	}
				 	&:hover {
				 		color: #ccc;
				 	}
          &.disabled {
            color: #555;
          }
				 }
				.circle_zoom {
					margin-right: 5px;
					width: auto;
				}
			}
		}

.display-none {
  display: none !important;
}


/* white background and box outline */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div
{
    /* we have to use !important because we are overwritng inline styles */
    background-color: transparent !important;
    box-shadow: none !important;
    width: auto !important;
    height: auto !important;
}

/* arrow colour */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div > div > div
{
    display: none !important;
}

/* close button */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child
{
    display: none;
}

.highlighted {
  background: #fffc7f;
  color: #000;
  padding: 0 1px;
}

@media screen and (max-width: 1300px) {
  
}

@media screen and (max-width: 1200px) {
  .pre-info-block {
    width: 450px !important;
  }
  .map-wrap .overmap .overmap_bottom_wrap {
    width: 45%;
  }
  .map-wrap .overmap .btn_control_container {
    width: 48%;
  }
  .today-date-button {
    width: 300px;
  }
  .map-wrap .overmap .circle_zoom {
    font-size: 15px;
  }
  .map-wrap .overmap .circle_zoom {
    margin-right: 0;
  }
  .ad-window .user-info-wrap .post-user-info {
    margin-left: 12px;
  }
  .ad-window .user-info-wrap .post-user-info {
    max-width: 51%; 
  }
}

@media screen and (max-width: 1080px) {
  .ad-window .post-rate .circle {
    margin-right: 0;
  }
  .ad-window .post-rate .mark {
    font-size: 16px;
  }
  .ad-window .post-rate .message {
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  .gallery-show-wrap {
    max-height: 600px;
  }
  .map-show-wrap {
    max-height: 400px;
  }
  .gallery-wrap {
    height: calc(100vh - 815px) !important;
  }
  .dashboard-wrap .oversized-row .gallery-show-wrap .gallery-wrap {
    height: calc(100vh - 640px) !important;
  }
  .oversized-row {
    height: calc(100vh - 319px) !important;
  }
  .map-wrap .overmap .zoom_btn_wrap {
    width: 96.5%;
  }
}
