.notifications-wrap {
	.notifications-wrap {
	  width: 100%;
	  height: auto;
	  display: inline-block;
	  text-align: left;
	  .notifications-p {
	    width: 100%;
	    font-family: $Ubuntu-Regular;
	    font-size: 18px;
	    color: #fff;
	    margin: 0;
	    padding: 30px 0 0 0;
	    .total-notification {
	      color: rgba(255, 255, 255, 0.65);
	      margin-left: 7px;
	    }
	    .unread-notification {
	      color: rgba(253, 233, 0, 0.65);
	    }
	    .total-count {
	      display: inline-flex;
	      -webkit-box-align: center;
	      -ms-flex-align: center;
	      align-items: center;
	      font-size: 18px;
	      color: #000;
	      height: 28px;
	      padding: 0 10px;
	      text-align: center;
	      font-family: Ubuntu-Bold,Arial,sans-serif;
	      border-radius: 14px;
	      margin-left: 10px;
	      margin-right: 50px;
	      background-color: #e1e1e1;
	    }
	    .unread-count{
	      background-color: #fdba46;
	    }
	  }
	}
	.notifications-list {
	  padding: 20px;
	  padding-bottom: 0;
	  margin-top: 20px;
	  margin-bottom: 50px;
	  background-color: rgba(0, 0, 0, 0.15);
	  .locations-item {
		  position: relative;
		  transition: .3s ease;
		  margin: 0 auto;
		  width: 100%;
		  display: flex;
		  color: #fff;
		  text-decoration: none;
		  font-size: 18px;
		  padding: 20px;
		  min-height: 187px;
		  background-color: rgba(0, 0, 0, .3);
		  border: solid 1px rgba(93, 93, 93, .4);
		  margin-bottom: 18px;
		  font-family: $OpenSans-Light;
		  cursor: pointer;
		  .yellow-unread-dot {
		    margin-right: 10px;
		    display: inline-block;
		    width: 18px;
		    height: 18px;
		    background-color: #f5e100;
		    border-radius: 50%;
		    margin-bottom: -4px;
		  }
		  &:hover {
		    background-color: rgba(0, 0, 0, .5);
		    border: solid 1px rgba(93, 93, 93, .8);
		 }
		 .item-image {
		  flex-basis: 100%;
		  max-width: 210px;
		  height: 146px;
		  .map-screenshot {
		    width: 100%;
		    height: 100%;
		  }
		}
		.item-info {
		  padding-left: 20px;
		  .item-title {
		    display: flex;
		    text-transform: uppercase;
		    font-family: $Ubuntu-Regular;
		    line-height: 16px;
		    margin-bottom: 20px;
		    padding-bottom: 4px;
		  }
		  .item-location {
		    span {
		      display: inline-flex;
		      font-size: 15px;
		      color: rgba(255, 255, 255, 0.65);
		      margin-bottom: 11px;
		    }
		    .pin-icon {
		      width: 20px;
		      width: 14.3px;
		      height: 21.2px;
		      margin-right: 7px;
		      position: relative;
		      top: -2px;
		    }
		    .msg-icon {
		      width: 18px;
		    }
		    .address {
		      font-size: 19px;
		      font-family: $Ubuntu-Light;
		      margin-bottom: 15px;
		      margin-left: 7px;
		      line-height: 21px;
		      max-width: 500px;
		      line-height: 1.4em; 
		    }
		  }
		  .info-total {
		    color: rgba(255, 255, 255, 0.65);
		    font-size: 16px;
		    .total-posts,
		    .total-hotspots {
		      display: inline-block;
		    }
		    .total-posts {
		      margin-right: 42px;
		    }
		    .total-bubble {
		      display: inline-flex;
		      align-items: center;
		      font-size: 18px;
		      color: #000;
		      height: 28px;
		      padding: 0 10px;
		      text-align: center;
		      font-family: $Ubuntu-Bold;
		      border-radius: 14px;
		      margin-left: 10px;
		      &.posts {
		        background-color: #e1e1e1;
		      }
		      &.hotspots {
		        background-color: #fff568;
		      }
		    }
		    .not-item-wrap {
		      width: 100%;
		      height: auto;
		      display: inline-block;
		      text-align: left;
		      .not-item {
		        width: 100%;
		        height: auto;
		        display: inline-flex;
		        align-items: center;
		        text-align: left;
		        margin: 5px 0;
		        img {
		          width: 18px;
		          height: 18px;
		          float: left;
		          margin-top: 3px;
		          margin-right: 5px;
		        }
		        .notif-search-icon {
		          width: 16px;
		        }
		        p {
		          color: #fff;
		          span {
		            font-family: $Ubuntu-Regular;
		          }
		        }
		      }
		    }
		  }
		}
	  } 
	}
	.item-menu {
	  display: flex;
	  flex-flow: column nowrap;
	  align-items: flex-end;
	  margin-left: auto;
	  min-width: 380px;
	  .recording-state {
	    text-transform: uppercase;
	    font-size: 24px;
	    line-height: 24px;
	    font-family: $Ubuntu-Medium;
	    img {
	      display: inline-block;
	      width: 37px;
	      height: 37px;
	      margin-right: 5px;
	    }
	    .recording-paused {
	      display: none;
	      &.active {
	        display: block;
	      }
	    }
	    .recording-started {
	      display: none;
	      color: red;
	      &.active {
	        display: block;
	      }
	    }
	  }
	  .menu-buttons {
	    margin-top: auto;
	    padding: 10px 0;
	    i {
	      display: inline-block;
	      font-size: 33px;
	      line-height: 33px;
	      user-select: none;
	      position: relative;
	      top: 7px;
	      color: #fff;
	    }
	    .recording-toggle {
	      margin-right: 10px;
	      cursor: pointer;
	      .recording-start {
	        display: none;
	        &.active {
	          display: inline-block;
	        }
	      }
	      .recording-stop {
	        display: none;
	        &.active {
	          display: inline-block;
	        }
	      }
	      img {
	        display: inline-block;
	        width: 37px;
	        height: 37px;
	        transition: .3s ease;
	        &:hover {
	        transform: scale(1.1);
	        }
	      }
	    }
	    .delete-button {
	      cursor: pointer;
	    }
	  }
	  .item-date {
	    font-size: 18px;
	    color: rgba(255, 255, 255, 0.65);
	    span {
	      font-size: 18px;
	      color: #fff;
	      font-family: $Ubuntu-Light;
	      margin-left: 10px;
	    }
	  }
	  .view-alert-btn {
	    padding: 10px 25px;
	    background-color: transparent;
	    border: 1px solid #f5e100;
	    transition: all .3s ease;
	    font-family: $Ubuntu-Regular;
	    color: #f5e100;
	    text-decoration: none;
	    &:hover {
	      background-color: #f5e100;
	      color: #000;
	    }
	    &:first-child {
	      margin-right: 10px;
	    }
	  }
	}

	.sort-selects {
		margin-bottom: 0;
		.select2-container {
			width: 200px;
		}
	}
}
@media screen and (max-width: 991px) {
  .notifications-wrap {
    padding: 0 40px;
  }
}