.recorded-wrap {
	width: 100%;
	height: 100%;
	.oversized-row {
		height: calc(100vh - 310px);
		.map-show-wrap {
			height: 100%;
			.map-wrap {
				height: 97%;
			}
		}
		.gallery-show-wrap {
			height: 100%;
			.gallery-wrap {
				height: calc(100vh - 420px);
			}
		}
	}
	.pagination-wrapper {
		position: absolute;
		bottom: 14px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 96%;
		.pagination-arrow {
			font-size: 14px;
			display: inline-flex;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			align-items: center;
			justify-content: center;
			color: #fff;
			position: absolute;
			cursor: pointer;
			i {
				margin: 0;
				padding: 0;
			}
			&.first {
				left: 10px;
			}
			&.last {
				right: 10px;
			}
			&:hover {
				background-color: darken(#707070, 10%);
			}
		}
		.pagination-list {
			margin-bottom: 0;
			padding-left: 0;
			.pagination-item {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				height: 22px;
				padding: 0 6px;
				color: #fff;
				font-size: 14px;
				font-family: $Roboto-Regular;
				margin: 0 4.5px;
				&:hover {
					cursor: pointer;
					background-color: darken(#707070, 10%);
				}
				&.active {
					border: 1px solid #707070;
					background-color: #000;
				}
			}
		}
	}

	.hotspot-tag {
		font-family: $Ubuntu-Light;
		.hotspot-id {
			font-family: $Ubuntu-Regular;
			margin-left: 5px;
		}
		&.positive {
			background-color: rgba(21,221,54, .4) !important;
			color: #fff !important;
		}
		&.negative {
			background-color: rgba(221,72,20, .8) !important;
			color: #fff !important;
		}
	}

	.searchbar {
		position: relative;
	}
	.category-tag-image {
		width: 20px;
		height: auto;
		margin-right: 10px;
	}
	.gallery-show-wrap {
		position: relative;
		.over-feed-btn {
			position: absolute;
			margin: 0 3px;
			display: inline-flex;
			transition: .2s ease;
			width: 60px;
			height: 60px;
			border: solid 2px #707070;
			background-color: rgba(0, 0, 0, .8);
			justify-content: center;
			align-items: center;
			z-index: 70;
			border-radius: 50%;
			cursor: pointer;
			top: 50%;
			margin-top: -30px;
			&:hover {
				background-color: #000;
				border-color: lighten(#707070, 40%);
				transform: scale(1.08);
			}
			&:active {
				transform: scale(1.03);
			}
			.feed-arrow {
				margin-top: 0;
			}
			img {
				user-select: none;
			}
		}
		.over-feed-left {
			left: 0;
		}
		.over-feed-right {
			right: 0;
		}
	}
	.social-line {
		.sort-selects {
			margin-bottom: 0;
			margin-left: auto;
			width: auto;
			.select2-container {
				width: 220px;
			}
		}
		.today-date-button {
			margin-left: 20px;
			&.event {
				margin-left: auto;
			}
		}
	}
	.category-selector {
		cursor: pointer;
		position: absolute;
		top: 50%;
		left: 1px;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 44px;
		height: 90%;
		z-index: 3;
		background: rgb(21, 21, 21);
		img {
			width: 29px;
			height: 29px;
		}
	}
	.category-dropdown {
		z-index: 3;
		height: 56px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		position: absolute;
		bottom: -60px;
		left: -450px;
		background-color: #171717;
		padding: 0 7px;
		border-radius: 42px;
		visibility: hidden;
		opacity: 0;
		transition: .2s ease;
		border: 2px solid #fff;
		&.active {
			opacity: 1;
			visibility: visible;
			left: -400px;
		}
	}
	.map-gallery-wrap {
		height: calc(100vh - 276px);
	}
	.reset-all-btn {
		width: 32%;
		margin-right: 0;
	}
	.progress-bar-container {
		height: 4px;
		margin-bottom: 9px;
		position: relative;
		.progress-bar-body {
			display: inline-block;
			height: 100%;
			width: 94%;
			background-color: transparent;
			position: absolute;
			top: 0;
			z-index: 1;
			.progress-bar-inner {
				position: absolute;
				top: 0;
				display: inline-block;
				//width: 30%;
				height: 100%;
				z-index: 100;
				background-color: #f5e100;
			}
			&::after {
				content: "";
				height: 2px;
				display: block;
				width: 100%;
				background-color: #4b4b4b;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.progress-number-status {
			cursor: default;
			font-family: $Ubuntu-Regular;
			color: rgba(255, 255, 254, 0.8);
			display: inline-block;
			width: 6%;
			text-align: right;
			float: right;
			font-size: 13px;
			line-height: 4px;
			font-weight: bold;
		}
	}

	.social-line-separator {
	  display: inline-block;
	  margin: 2px 0;
	}

	@media screen and (min-width: 1600px) {
		.social-line .date-and-category-filter {
			width: 30%;
		}
	}

	@media screen and (min-width: 2000px) {
		.social-line .date-and-category-filter {
			width: 40%;
		}
		.gallery-wrap {
			height: calc(100vh - 410px);
		}
	}

	@media screen and (max-width: 1336px) {
		.social-line .date-and-category-filter {
			width: 40%;
		}
		.today-date-button {
			width: 280px;
		}
	}

	@media screen and (max-width: 1090px) {
		.nav-item {
			padding-right: 10px;
		}
		.map-wrap .overmap.over-map-event {
			width: 85%;
		}
	}
}

