.straming-page-wrap {
	padding: 30px 20px 50px 20px;
	.yellow-b {
	    border: solid 1px #f5e100;
	    font-family: $Ubuntu-Regular;
	    color: #f5e100;
	    font-size: 13px;
	    background-color: transparent;
	    height: 45px;
	    transition: .3s ease;
	    &:hover {
	    	background: #f5e100;
		    color: #000;
		    opacity: 1;
	    }
	}
	.streaming-left-wrap {
		width: 100%;
		height: auto;
		display: inline-block;
		.create-new-loc-wrap {
			width: 100%;
			height: auto;
			justify-content: flex-start;
			.create-new-btn {
				font-size: 16px;
				padding: 0 20px;
			}	
		}
		.saved-locations-wrap {
			width: 100%;
			height: auto;
			justify-content: flex-start;
			.saved-locations-title {
				text-align: left;
				margin-top: 40px;
				h3 {
					font-family: $Ubuntu-Regular;
				    font-size: 37px;
				    color: #fff;
				    line-height: 30px;
				}
			}
			.saved-location-preloader {
				width: 100%;
				height: auto;
				display: flex;
			    align-items: center;
				justify-content: center;
				padding: 50px 0;
				.no-saved-location-text {
					font-family: $Ubuntu-Regular;
				    font-size: 20px;
				    color: #fff; 
				}
			}
			.saved-locations-list-wpapper {
				width: 100%;
				height: auto;
				justify-content: flex-start;
				padding: 15px 0;
				.saved-locations-item {
					width: 100%;
					height: auto;
				    transition: .3s ease;
				    display: inline-block;
				    padding: 20px;
				    background-color: rgba(0, 0, 0, 0.3);
				    border: solid 1px rgba(93, 93, 93, 0.4);
				    margin-bottom: 18px;
				    cursor: pointer;
				    justify-content: flex-start;
				    &:hover {
				    	background-color: rgba(0, 0, 0, 0.5);
    					border: solid 1px rgba(93, 93, 93, 0.8);
				    }
				    .saved-location-item-top {
				    	width: 100%;
				    	height: auto;
				    	display: inline-flex;
						.saved-location-img-wrap {
							max-width: 210px;
	    					height: 146px;
	    					img {
	    						max-width: 100%;
	    						height: auto;
	    					}
					    }
					    .saved-location-content {
					    	max-width: 80%; //280px;
					    	height: auto;
					    	display: inline-block;
					    	padding: 0 0 0 15px;
					    	.saved-location-content-item {
					    		width: 100%;
					    		height: auto;
					    		display: inline-block;
					    		text-align: left;
					    		margin-bottom: 12px;
					    		&.two-lines {
					    			width: 35%;
					    			float: left;
					    		}
					    		.location-name {
					    			font-size: 20px;
					    			color: #fff;
					    			font-family: $Ubuntu-Light;
					    		}
					    		.location-text {
					    			display: block;
								    font-size: 13px;
								    color: rgba(255, 255, 255, 0.65);
								    .loc-created-icon {
								    	color: #fff;
								    	font-size: 16px;
								    }
								    img {
								    	width: 10px;
	    								height: 15px;
	    								margin-right: 4px;
	    								margin-top: -3px;
								    }
					    		}
					    		.location-title {
					    			width: 100%;
					    			height: auto;
					    			display: inline-block;
								    //max-width: 265px;
								    //overflow: hidden;
								    //text-overflow: ellipsis;
								    //white-space: nowrap;
								    color: #fff;
					    			.total-post-bubble {
					    				display: inline-flex;
									    align-items: center;
									    font-size: 14px;
									    color: #000;
									    height: 21px;
									    text-align: center;
									    font-family: $Ubuntu-Bold;
									    border-radius: 14px;
									    background-color: #e1e1e1; 
									    padding: 0 7px;
									    margin-top: 5px;
					    			}
					    			span {
					    				font-size: 16px;
									    font-family: $Ubuntu-Light;
									    color: #fff;
					    			}
					    		}
					    	}
					    }
				    }
				    .saved-location-item-bottom {
						width: 100%;
						height: auto;
						display: block;
						margin-top: 20px;
						.view-btn {
							font-size: 14px;
							text-decoration: none;
							margin-right: 15px;
							padding: 10px 15px;
						}
				    }
				}
				.view-all-btn-wrap {
					a {
						background: 0 0;
					    color: #fcf701;
					    font-family: $Roboto-Light;
					    display: inline-block;
					    transition: .2s ease;
					    border-bottom: 1px solid transparent;
					    cursor: pointer;
					    padding: 0 2px;
					    i {
					    	margin-right: 5px;
					    }
					    &:hover {
					    	border-color: #fcf701;
					    }
					}
				}
			}
		}
	}
	.streaming-right-wrap {
		width: 100%;
		height: auto;
		display: inline-block;
		padding-top: 20px; 
		.lists-preloader {
			width: 100%;
			height: auto;
			display: flex;
		    align-items: center;
			justify-content: center;
			padding: 50px 0;
			.no-list-text {
				font-family: $Ubuntu-Regular;
			    font-size: 20px;
			    color: #fff; 
			}
		}
		.lists-title {
			text-align: left;
			h3 {
				font-family: $Ubuntu-Regular;
			    font-size: 37px;
			    color: #fff;
			    line-height: 37px;
			    margin: 0;
			}
		}
		.saved-lists-wrap {
			width: 100%;
			height: auto;
			justify-content: flex-start;
			padding: 15px 0;
			.saved-list-item {
				width: 100%;
				height: auto;
			    transition: .3s ease;
			    display: inline-flex;
			    padding: 20px;
			    background-color: rgba(0, 0, 0, 0.3);
			    border: solid 1px rgba(93, 93, 93, 0.4);
			    margin-bottom: 18px;
			    cursor: pointer;
			    justify-content: space-between;
			    &:hover {
			    	background-color: rgba(0, 0, 0, 0.5);
					border: solid 1px rgba(93, 93, 93, 0.8);
			    }
			    .saved-list-item-left {
					max-width: 220px;
					height: auto;
					display: inline-block;
					h4 {
						font-size: 19px;
					    font-family: $Ubuntu-Light;
					    color: #fff;
					    margin: 0;
					}
				}
				.saved-list-item-right {
					display: inline-block;
					text-align: right;
					.total-posts-bubble {
						display: inline-flex;
					    align-items: center;
					    font-size: 14px;
					    color: #000;
					    height: 21px;
					    text-align: center;
					    font-family: $Ubuntu-Bold;
					    border-radius: 14px;
					    background-color: #e1e1e1; 
					    padding: 0 7px;
					}
					.view-list-btn {
						background: 0 0;
					    color: #fcf701;
					    font-family: $Roboto-Light;
					    display: inline-block;
					    transition: .2s ease;
					    border-bottom: 1px solid transparent;
					    cursor: pointer;
					    padding: 0 2px;
					    margin-left: 10px;
					    &:hover {
					   		border-color: #fcf701;
					    }
					}
				}
			}
			.view-all-btn-wrap {
				a {
					background: 0 0;
				    color: #fcf701;
				    font-family: $Roboto-Light;
				    display: inline-block;
				    transition: .2s ease;
				    border-bottom: 1px solid transparent;
				    cursor: pointer;
				    padding: 0 2px;
				    i {
				    	margin-right: 5px;
				    }
				    &:hover {
				    	border-color: #fcf701;
				    }
				}
			}
		}
	}
}