.trainer-page-wrap {
	.trainer-logo-wrap {
		margin-top: 25px;
	}
	.trainer-menu {
		padding-top: 20px;
		.help-btn {
			float: right;
		}
		.select-category-wrap {
			display: block;
			float: left;
			text-align: center;
			margin-left: 55px;
			.select-cat {
				color: #fff;
			    font-family: $Ubuntu-Regular;
			    font-size: 24px;
			    margin-bottom: 20px;
			    line-height: 1.4em;
			    display: block;
			}
		}
	}
	.sort-selects {
		text-align: left;
		margin-bottom: 0;
		.select2-container {
			width: 250px;
		}
	}
	.loader-wrapper {
		position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    top: auto;
	    width: 100%;
	    height: auto;
	    text-align: center;
	    .prealoader-container {
		    width: 400px;
		    height: 60px;
		    margin: 0 auto;
		    padding: 7px 0;
		    background: rgba(0,0,0,.4);
		    border: 2px solid #4bb543;
		    border-bottom: none;
		    border-radius: 10px 10px 0 0;
		    .preloader-gallery-img {
		    	width: 40px;
    			height: 40px; 
		    }
		}
	}
}