// Project variables

$HelveticaNeue-Bold:    'HelveticaNeue-Bold', Arial, sans-serif;
$HelveticaNeue:         'HelveticaNeue', Arial, sans-serif;
$HelveticaNeue-Thin:    'HelveticaNeue-Thin', Arial, sans-serif;

$OpenSans-Regular:      'OpenSans-Regular', Arial, sans-serif;
$OpenSans-Light:        'OpenSans-Light', Arial, sans-serif;
$OpenSans-LightItalic:  'OpenSans-LightItalic', Arial, sans-serif;
$OpenSans-Semibold:     'OpenSans-Semibold', Arial, sans-serif;

$Roboto-Regular:        'Roboto-Regular', Arial, sans-serif;
$Roboto-Thin:           'Roboto-Thin', Arial, sans-serif;
$Roboto-Light:          'Roboto-Light', Arial, sans-serif;

$Ubuntu-Regular:        'Ubuntu-Regular', Arial, sans-serif;
$Ubuntu-Medium:         'Ubuntu-Medium', Arial, sans-serif;
$Ubuntu-Light:          'Ubuntu-Light', Arial, sans-serif;
$Ubuntu-Bold:           'Ubuntu-Bold', Arial, sans-serif;
