<div ng-class="examineShow" ng-show="examineShowStatus" class="examine-show-wrap">
	<div class="preloader-container hidden">
		<div class="pre-info-wrap">
			<div class="pre-info-block">
				<img src="../../dist/images/green-preloader.gif" class="green-preloader">
			</div>
		</div>
	</div>
	<div class="pre-info-container">
		<div class="pre-info-wrap">
			<div class="pre-info-block">
				<p class="pre-info-text">No posts yet. <br> Set radius on Split View to see analytics.</p>
			</div>
		</div>
	</div>
	<div class="info-wrap hidden">
		<div class="histogram-row">
			<div id="postsHistogramWrap" class="histogram-wrap">
				<h3>All Posts</h3>
			</div>
			<div class="total-wrap">
				<h3>
					<div id="totalUsers"></div>
					People talking
				</h3>
				<h3>
					<div id="totalPosts"></div>
					Conversations
				</h3>
				<h3 id="histogramLegendTitle">Legend</h3>
				<div id="histogramLegend">
				</div>
			</div>
		</div>
		<div class="histogram-row">
			<div id="categoryHistogramWrap" class="histogram-wrap">
				<h3>All Classified Posts</h3>
			</div>
			<div class="total-wrap">
				<h3>&nbsp;</h3>
				<canvas id="categoryPie" width="250" height="250"></canvas>
			</div>
		</div>
	</div>
</div>