<div ui-view="header"></div>

<div class="alerts-list" ng-class="{'active': showAlertsList}">
  <div class="alerts-wrap container-fluid">
    <div class="row" id="alertsMenu">
        <div class="alerts-list-menu col-md-10 col-md-offset-1 active">
          <div class="menu-wrap">
          <h2 class="page-title">Alerts</h2>
            <div class="sort-select-wrap">
              <div class="sort-selects">
                <span class="arrows-icon"><i class="fa fa-exchange"></i></span>
                <select ui-select2="{positionDropdown : true}" ng-model="select1" data-placeholder="Sort by Date">
                  <option value=""></option>
                  <option value="rec-frst">Recent first</option>
                  <option value="old-frst">Old first</option>
                </select>
              </div>
          </div>

          <div class="sort-select-wrap">
            <div class="sort-selects">
              <span class="arrows-icon"><i class="fa fa-exchange"></i></span>
              <select ui-select2="{positionDropdown : true}" ng-model="select2" data-placeholder="Sort by Name">
                <option value=""></option>
                <option value="z-a">A - Z</option>
                <option value="a-z">Z - A</option>
              </select>
            </div>
          </div>
          
          <!-- <span class="view-option grid-view"><i class="fa fa-th"></i></span>
          <span class="view-option list-view"><i class="fa fa-bars"></i></span> -->
          
          <input type="button" id="clearAllFilters" value="Reset All" class="reset-all-btn">
          <a id="createNewAlert" class="reset-all-btn create-alert" ng-click="
          showAlertsList = false;
          showAlertPickList = true;
          showAddAlertTitle = false;
          showAlertOptions = false;">Create alert</a>
          </div> <!-- menu-wrap -->
        </div>
      </div> <!-- row -->

      <div class="row">
        <div class="col-md-10 col-md-offset-1" id="alertsList">

          <div class="alerts-preloader" ng-show="showNoAlerts">
            <p class="no-alerts-text">No Alerts Available. List refresh every 10 seconds.</p>
          </div>

          <div class="alerts-preloader" ng-show="showAlertsPreloader">
            <img src="../../dist/images/green-preloader.gif" class="green-preloader">
          </div>


          <div class="alerts-list-wpapper" ng-show="showAlerts">
            <div class="alerts-item" ng-repeat="alert in userAlerts track by $index">
              <div class="item-image">
                <img src="//maps.googleapis.com/maps/api/staticmap?center={{ alert.location.lat }},{{ alert.location.lng }}&zoom=15&size=210x146&maptype=satellite&key=AIzaSyBrVvh-fxPXkqjFl1sA8NAbjYeNTkOpEZg" alt="">
              </div> <!-- item-image -->
              <div class="alerts-item-info">
              <div class="title-wrap">
                <div class="alerts-item-title">{{alert.title}}</div>
                <!--<span class="tooltip-button" id="tooltipButton"><img src="../../dist/images/tooltip-icon.png"></span>-->
                <!--<div class="hidden-tooltip">-->
                    <!--<p class="tooltip-text">This is hidden tooltip for alert!</p>-->
                <!--</div>-->
              </div>
                <div class="alerts-item-location" ng-if="alert.location.location_name !== null">
                  <span><img class="pin-icon" src="../../dist/images/location-pin_tiny@2x.png" alt=""></i>Location</span>
                  <div class="address" id="alertsSavedAddress">{{alert.location.location_name}}</div>
                </div>
                <div class="alerts-item-categories" ng-if="alert.categories.length > 0">
                  <span><img class="pin-icon" src="../../dist/images/cat-icon.png" alt=""></i>Categories</span>
                  <div class="categories">{{alert.categories}}</div>
                </div>
                <div class="alerts-item-query" ng-if="alert.query.length > 0">
                  <span><img class="pin-icon" src="../../dist/images/search_alert@2x.png" alt=""></i>Keywords</span>
                  <div class="categories">{{alert.query}}</div>
                </div>
                <div class="alerts-info-total">
                  <!--<div class="alerts-total-posts">Total posts-->
                    <!--<span class="alerts-total-bubble alerts-posts" id="totalPosts">{{alert.posts}}</span>-->
                  <!--</div>-->
                  <div class="alerts-total-notifications">Total notifications
                    <span class="alerts-total-bubble alerts-notifications" id="totalNotifications">{{alert.total_notifications}}</span>
                  </div>
                </div> <!-- alerts-info-total -->
              </div> <!-- alerts-item-info -->
              <div class="alerts-item-menu">
                <div class="alerts-item-date">Created on: <span id="alertsSavedDate">{{alert.created_at | localDateTime}}</span></div>
                <div class="alert-buttons">
                    <!--<span class="edit-button" id="editAlert"><img src="images/edit-icon.png" alt="" /></span>-->
                    <!--<a href="#" id="alertNotifications" class="reset-all-btn view-not">View Notifications</a>-->
                    <span class="delete-button" id="deleteAlert" ng-click="callDeleteAlertModal(alert.id, $event)"><i class="fa fa-trash"></i></span>
                </div>
              </div> <!-- alerts-item-menu -->
            </div>
          </div>

        </div> <!-- alerts-list -->
      </div> <!-- row -->
  </div>
</div>

<!-- -->

<div class="alert-pick-list" ng-class="{'active': showAlertPickList}">
  <div class="alert-select-list container">
    <div class="row top-nav-container">
          <div class="col-md-12 alert-title"><a ng-click="showAlertsList = true; showAlertPickList = false; showAddAlertTitle = false; showAlertOptions = false;" class="alert-breadcrumbs">Alert</a> &nbsp; > &nbsp; <a>Choose Location</a></div>
      </div>

      <div class="row loc-select-wrap">
          <div class="col-md-4">
              <h2 class="select-loc-title">Select a Location</h2>
          </div>
          <div class="col-md-8">
              <div class="sort-select-wrap selectLocationWrap">
                  <div class="sort-selects">
                    <select ui-select2="{positionDropdown: true}" ng-model="select2" data-placeholder="Pick a location" ng-change="onSelectLocation()">
                      <option selected="selected"></option>
                      <option ng-repeat="location in savedLocations" value="{{location.resource_uri}}">{{location.note}}</option>
                    </select>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8 selectLocationHelpText">
          You must be Recording a Location for an Alert to be Triggered. Go to the Locations tab to confirm the location you select is not Paused.
        </div>
      </div>
      <div class="row buttons-row">
          <div class="col-md-12 next-btn-wrap">
              <button ng-click="onPickLocation()" class="yellow-link" ng-class="{'disabled': disableNext}" ng-disabled="disableNext">Next</button>
          </div>
      </div>
  </div>
</div>

<!-- -->

<div class="add-alert-title" ng-class="{'active': showAddAlertTitle}">
  <div class="alert-create-title container">
    <div class="row top-nav-container">
          <div class="col-md-8 col-sm-7 alert-title"><a ng-click="showAlertsList = true; showAlertPickList = false; showAddAlertTitle = false; showAlertOptions = false;" class="alert-breadcrumbs">Alert</a> &nbsp; > &nbsp; <a ng-click="showAlertsList = false; showAlertPickList = true; showAddAlertTitle = false; showAlertOptions = false;">Choose Location</a> &nbsp; > &nbsp; <a>Add Title</a></div>
          <div class="col-md-4 col-sm-5 location-name-wrap">
              <img src="../../dist/images/shape.png" class="pin-shape">
              <p class="location-line">Location: <span id="addressLine" class="address-line">112 Sinatra Dr Hoboken</span></p>
              <span class="location-date" id="locationTime">2017-05-16</span> 
          </div>
      </div>
      
      <form name="alertTitleForm" class="alert-title-form forms">

        <div class="row search-wrap">
            <div class="col-md-12">
                <input type="text" class="search-box" id="txt_alert_name" placeholder="Title your alert" name="alertTitle" value="" ng-model="newAlertTitle" required>
            </div>
        </div>

        <div class="row buttons-row">
            <div class="col-md-6 col-sm-6 back-btn-wrap">
                <a class="yellow-link" ng-click="showAlertsList = false; showAlertPickList = true; showAddAlertTitle = false; showAlertOptions = false;">Previous</a>
            </div>
            <div class="col-md-6 col-sm-6 next-btn-wrap">
                <a ng-click="onSetName()" class="yellow-link" ng-class="{'disabled': alertTitleForm.$invalid || vm.dataLoading}" ng-disabled="alertTitleForm.$invalid || vm.dataLoading">Next</a>
            </div>
        </div>
            
      </form>
  </div>
</div>

<!-- -->

<div class="alert-options" ng-class="{'active': showAlertOptions}">
  <div class="alert-options-wrap container">
    <div class="row top-nav-container">
    <div class="col-md-8 col-sm-8 alert-title"><a ng-click="showAlertsList = true; showAlertPickList = false; showAddAlertTitle = false; showAlertOptions = false;" class="alert-breadcrumbs">Alert</a> &nbsp; > &nbsp; <a ng-click="showAlertsList = false; showAlertPickList = true; showAddAlertTitle = false; showAlertOptions = false;">Choose Location</a> &nbsp; > &nbsp; <a ng-click="showAlertsList = false; showAlertPickList = false; showAddAlertTitle = true; showAlertOptions = false;">Add Title</a>  &nbsp; > &nbsp; <a>Create Alert</a></div>
      <div class="col-md-4 location-name-wrap">
        <img src="../../dist/images/shape.png" class="pin-shape">
        <p class="location-line">Location: <span id="addressLine2" class="address-line">112 Sinatra Dr Hoboken</span></p>
        <span class="location-date" id="locationTime2">2017-05-16</span>
      </div>
    </div>

    <div class="options-wrap row">

      <div class="options-item interval-option col-md-12">
        <div class="icon-wrap"><div class="option-icon"><img src="../../dist/images/interval.png" alt=""></div></div>
        <p class="option-text">
          Set your interval for
        </p>
        <div class="input-wrap">
          <input type="number" id="intervalNumber" name="intervalNumber" ng-model="newAlertIntervalNumber">
        </div>

        <div class="option-selects-wrap">
          <div class="select-wrap">
            <select id="intervalType" name="intervalType" class="option-select" ng-model="newAlertIntervalType">
              <option class="selectInput" value="" disabled selected>TYPE</option>
              <option class="selectInput" value="1">MINUTES</option>
              <option class="selectInput" value="60">HOURS</option>
            </select>
          </div>
        </div>
      </div> <!-- interval-option -->

      <div class="options-item posts-number-option col-md-12">
        <div class="icon-wrap"><div class="option-icon"><img src="../../dist/images/set_post.png" alt=""></div></div>
        <p class="option-text">
          Set your # Posts   <b>at least</b>
        </p>
        <div class="input-wrap">
          <input type="number" value="1" id="postsNumber" ng-model="newAlertPostsNumber">
        </div>
      </div> <!-- posts-number-option -->

      <div class="options-item keywords-option col-md-12" ng-show="keywordsShow">
        <div class="icon-wrap"><div class="option-icon"><img src="../../dist/images/search.png" alt=""></div></div>
        <span class="if-word">if</span>
        <div class="keywords-input">
          <selectize options='myOptions' name='keywordsInput' config="myConfig" ng-model="newAlertKeywords" ng-disabled='disable' required='true'></selectize>
        </div>
        <span class="close-option" id="closeOption"><i class="fa  fa-times" aria-hidden="true" ng-click="keywordsShow = false"></i></span>
      </div> <!-- keywords-option -->

      <div class="options-item hotspots-count-option col-md-12" ng-show="hotspotsShow">
        <div class="icon-wrap"><div class="option-icon"><img src="../../dist/images/map_s.png" alt=""></div></div>
        <span class="if-word">if</span>
        <p class="option-text">Location contains <span class="orange-text">more than</span></p>
        <div class="input-wrap">
          <input type="number" value="1" id="hotspotsNumber">
        </div>
        <p class="option-text">hotspots</p>
        <span class="close-option" id="closeOption"><i class="fa  fa-times" aria-hidden="true" ng-click="hotspotsShow = false"></i></span>
      </div> <!-- hotspots-count-option -->

      <div class="options-item category-option col-md-12" ng-show="categoryShow">
        <div class="icon-wrap"><div class="option-icon"><img src="../../dist/images/cat-icon.png" alt=""></div></div>
        <span class="if-word">if</span>
        <div class="category-wrap">
          <!--<div class="category-item" category-value="weather" ng-click="chooseCategory($event)"><img src="../../dist/images/Weather.png" class="category-icon">Weather</div>-->
          <!--<div class="category-item" category-value="drugs" ng-click="chooseCategory($event)"><img src="../../dist/images/Drugs.png" class="category-icon">Drugs</div>-->
          <!--<div class="category-item" category-value="trafficking" ng-click="chooseCategory($event)"><img src="../../dist/images/Trafficking.png" class="category-icon">Trafficking</div>-->
          <!--<div class="category-item" category-value="protest" ng-click="chooseCategory($event)"><img src="../../dist/images/Protest.png" class="category-icon">Protest</div>-->
          <div class="category-item" category-value="ActiveShooter" ng-click="chooseCategory($event)"><img src="../../dist/images/ActiveShooter.png" class="category-icon">ActiveShooter</div>
          <div class="category-item" category-value="Shooting" ng-click="chooseCategory($event)"><img src="../../dist/images/Shooting.png" class="category-icon">Shooting</div>
          <div class="category-item" category-value="Violence" ng-click="chooseCategory($event)"><img src="../../dist/images/Violence.png" class="category-icon">Violence</div>
          <div class="category-item" category-value="Terrorism" ng-click="chooseCategory($event)"><img src="../../dist/images/Terrorism.png" class="category-icon">Terrorism</div>
          <div class="category-item" category-value="Disaster" ng-click="chooseCategory($event)"><img src="../../dist/images/Disaster.png" class="category-icon">Disaster</div>
        </div>
        <span class="close-option" id="closeOption" ng-click="categoryShow = false"><i class="fa  fa-times" aria-hidden="true"></i></span>
      </div> <!-- category-option -->

      <div class="options-item add-email-option col-md-12" ng-show="emailShow = true">
        <div class="icon-wrap"><div class="option-icon"><img src="../../dist/images/message-op2.png" alt=""></div></div>
        <span class="if-word">then</span>
        <p class="option-text">
          Email
        </p>
        <div class="input-wrap">
          <input type="email" placeholder="example@examle.com" id="emailTo" ng-model="newAlertEmail">
        </div>
        <span class="close-option" id="closeOption" ng-click="emailShow = false"><i class="fa  fa-times" aria-hidden="true"></i></span>
      </div> <!-- add-email-option -->

    </div>
    <div class="row nav-btn-wrap">

      <nav class="menu-left">
        <input type="checkbox" href="#" class="menu-open-left" name="menu-open-left" id="menu-open-left" ng-checked="menuLeftCheckbox" ng-click="menuLeftCheckbox = true"/>
        <label class="menu-open-button-left" for="menu-open-left">
          <img src="../../dist/images/bell.svg" class="plus-icon">
        </label>
        
        <a href="#" class="menu-item-left" ng-click="emailShow = true; menuLeftCheckbox = false; menuCheckbox = false"><img src="../../dist/images/email-icon.svg" class="menu-item-icon"></a>
      </nav>
      
      <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" ng-checked="menuCheckbox" ng-click="menuCheckbox = true"/>
        <label class="menu-open-button" for="menu-open">
          <img src="../../dist/images/plus-icon.svg" class="plus-icon">
        </label>
        
        <a href="#" class="menu-item" ng-click="keywordsShow = true; menuCheckbox = false; menuLeftCheckbox = false"><img src="../../dist/images/search_big@1x.svg" class="menu-item-icon"></a>
        <!--<a href="#" class="menu-item" ng-click="hotspotsShow = true; menuCheckbox = false; menuLeftCheckbox = false"><img src="../../dist/images/location-pin_tiny@1x.svg" class="menu-item-icon"></a>-->
        <a href="#" class="menu-item" ng-click="categoryShow = true; menuCheckbox = false; menuLeftCheckbox = false"><img src="../../dist/images/cat-icon.png" class="menu-item-icon"></a>
      </nav>

    </div>
    <div class="row buttons-row">
      <div class="col-md-6 col-sm-6 back-btn-wrap no-side-paddings">
      <a class="yellow-link" ng-click="showAlertsList = false; showAlertPickList = false; showAddAlertTitle = true; showAlertOptions = false;">Previous</a>
      </div>
      <div class="col-md-6 col-sm-6 next-btn-wrap no-side-paddings">
        <a href="#" class="yellow-link pull-right" id="" ng-click="callSuccessCreateAlert($event)">Save Alert</a>
      </div>
    </div>
  </div>
</div>
