<div ui-view="header"></div>

<div class="dashboard-wrap container-fluid">
	<div class="social-line">
		<div class="social-check-wrap">
			<div class="social-check twitter-check">
				<input type="checkbox" name="checkboxG5" id="twitToggleCheckbox" class="css-checkbox" checked="checked">
				<label for="" class="css-label"></label>
				<div class="social-icon">
					<img src="../../dist/images/twitterPlatform.png" alt="">
				</div>
				<span class="social-name css-label">Twitter</span>
			</div>
			<div class="social-check instagram-check">
				<input type="checkbox" name="checkboxG5" id="twitToggleCheckbox" class="css-checkbox">
				<label for="" class="css-label"></label>
				<div class="social-icon">
					<img src="../../dist/images/instagramPlatform.png" alt="">
				</div>
				<span class="social-name css-label">Instagram</span>
			</div>
			<div class="social-check facebook-check">
				<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkFacebookPins" ng-click="displayFacebookPins($event)">
				<label for="" class="css-label"></label>
				<div class="social-icon">
					<img src="../../dist/images/facebook.png" alt="">
				</div>
				<span class="social-name css-label">Facebook</span>
			</div>
			<div class="social-check news-check" ng-mouseover="socialNewsPopup = true" ng-mouseleave="socialNewsPopup = false">
				<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPins" ng-click="displayNewsPins($event)">
				<label for="" class="css-label"></label>
				<div class="social-icon">
					<img src="../../dist/images/news.png" alt="">
				</div>
				<span class="social-name css-label">News</span>

				<div class="news-popup" ng-show="socialNewsPopup" ng-mouseover="socialNewsPopup = true" ng-mouseleave="socialNewsPopup = false">
					<div class="social-check cctv-check">
						<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop1Pins" ng-click="checkNewsPop1Pins($event)">
						<label for="" class="css-label"></label>
						<div class="social-icon">
							<img src="../../dist/images/cnn.jpg" alt="">
						</div>
					</div>
					<div class="social-check cctv-check">
						<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop2Pins" ng-click="checkNewsPop2Pins($event)">
						<label for="" class="css-label"></label>
						<div class="social-icon">
							<img src="../../dist/images/wapo.jpg" alt="">
						</div>
					</div>
					<div class="social-check cctv-check">
						<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop3Pins" ng-click="checkNewsPop3Pins($event)">
						<label for="" class="css-label"></label>
						<div class="social-icon">
							<img src="../../dist/images/npr.jpg" alt="">
						</div>
					</div>
					<div class="social-check cctv-check">
						<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop4Pins" ng-click="checkNewsPop4Pins($event)">
						<label for="" class="css-label"></label>
						<div class="social-icon">
							<img src="../../dist/images/nytimes.jpg" alt="">
						</div>
					</div>
					<div class="social-check cctv-check">
						<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop5Pins" ng-click="checkNewsPop5Pins($event)">
						<label for="" class="css-label"></label>
						<div class="social-icon">
							<img src="../../dist/images/msnbc.jpg" alt="">
						</div>
					</div>
					<div class="social-check cctv-check">
						<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop6Pins" ng-click="checkNewsPop6Pins($event)">
						<label for="" class="css-label"></label>
						<div class="social-icon">
							<img src="../../dist/images/bbc.jpg" alt="">
						</div>
					</div>
					<div class="social-check cctv-check">
						<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop7Pins" ng-click="checkNewsPop7Pins($event)">
						<label for="" class="css-label"></label>
						<div class="social-icon fox-news-icon">
							<img src="../../dist/images/fox.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="social-check cctv-check">
				<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkCctvPins" ng-click="displayCctvPins($event)">
				<label for="" class="css-label"></label>
				<div class="social-icon">
					<img src="../../dist/images/CCTV.png" alt="">
				</div>
				<span class="social-name css-label">CCTV</span>
			</div>
			<div class="social-check deepweb-check">
				<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkDeepwebPins" ng-click="displayDeepwebPins($event)">
				<label for="" class="css-label"></label>
				<div class="social-icon">
					<img src="../../dist/images/darkweb.png" alt="">
				</div>
				<span class="social-name css-label">Deep Web</span>
			</div>
		</div>
		<div class="toggleWrapper">
			<label class="label_stream" for="streamToggleCheck"><span class="data-on" ng-class="{'active': streamToggleCheck}">Data<br>On</span><span class="data-off" ng-class="{'active': streamToggleCheck == false}">Data<br>Off</span></label>
			<label class="switch">
				<input type="checkbox" id="toggleStream" checked="" ng-model="streamToggleCheck">
				<div class="slider round"></div>
			</label>
		</div>
		<md-button class="today-date-button" id="todayDate" ng-click="callDatePickerModal($event)">Today, {{ nowDate | date:'MM/dd/yyyy' }}</md-button>
	</div> <!-- social-line -->

	<div class="map-gallery-wrap">
		<div class="row">
			<div class="col-md-12">
				<div class="gallery-navbar">
					<div class="navbar-tabs">
						<span class="tab-item" ng-click="callMapShowFull(); callChangeTab('map')" ng-class="{'active': tabIndex == 'map'}">Map</span>
						<span class="tab-item" ng-click="callGalleryShowFull(); callChangeTab('gallery')" ng-class="{'active': tabIndex == 'gallery'}">Gallery</span>
						<span class="tab-item" ng-click="callSplitView(); callChangeTab('split-view')" ng-class="{'active': tabIndex == 'split-view'}">Split view</span>
						<a class="tab-item" href="/examine">Examine</a>
						<a class="tab-item" href="/recorded">Recorded</a>
					</div>
					<div class="record-status">
						LIVE MODE <span class="status-dot green"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div ng-class="mapShow" ng-show="mapShowStatus">
				<ng-map class="map-wrap">
					<div class="overmap" id="over-map">
						<div class="col-md-12 minus-padding">
							<div class="col-md-12">
								<input id="pac-input" placeholder="Find Location" class="locationbar" type="text"/>
							</div>
						</div>
						<div class="over_map_bottom">
							<div class="map_icon_overmap">
								<div class="map_img_wrap">
									<img src="../../dist/images/location-pin_tiny@2x.png">
								</div>
							</div>
							<div class="overmap_bottom_wrap">
								<p class="map_location_text">Address Match Found:</p>
								<p class="map_location_name"><span id="address"></span></p>
							</div>
						</div>
					</div>
				</ng-map>
			</div>

			<div ng-class="galleryShow" ng-show="galleryShowStatus">
				<div class="gallery-wrap">
					<div class="galleryFeed">

<div class="gallery-item" ng-class="{'small': smallGalleryItem}">
							<div class="ad-window ad-image">
								<div class="post-date">
									<img src="../../dist/images/calendar-icon.png" alt="" class="calender-icon">
									<span class="time">12:45:10</span>
									<span class="date">09/12/17</span>
								</div>

									<div class="post-content">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ab iusto doloremque suscipit minus deserunt libero distinctio nobis officiis eius quo, molestiae repellendus eveniet amet, tempore, excepturi nulla pariatur inventore?
									</div>
								
								<div class="post-info-and-rate">
									<div class="user-info-wrap">
										<div class="user-avatar-wrap-twitter">
											<img class="user-avatar" src="">
										</div>
										<div class="post-user-info">
											<div class="post-user-name">
												<div class="TweetAuthor-name Identity-name customisable-highlight">Username DSADAS</div>
												<div class="TweetAuthor-screenName Identity-screenName">@usernameDSADAS</div>
											</div>
										</div>
									</div> <!-- user-info-wrap -->


									<div class="post-rate">
										<div class="circle-mark-wrap">
											<div class="circle positive"></div>
											<div class="mark positive">
												1.5
											</div>
										</div>
										<div class="message positive">
											POSITIVE
										</div>
									</div> <!-- post-rate -->
								</div> <!-- post-info-and-rate -->

								<div class="hover-overlay">
									<div class="hover-menu-wrap">
										<div class="hover-menu">
											<div class="pin-zoom-wrap">
												<a class="showPin" pin-center-lat="<%- rc.place.location[0] %>" pin-center-lng="<%- rc.place.location[1] %>"><i class="fa fa-map-pin"></i></a>
												<a class="resetMap"><i class="fa fa-map"></i></a>
											</div>
											<a class="annotation-btn" annot-userid="<%- rc.es_id %>" annot-indexid="<%- rc._index %>">Annotate</a>
											<a class="showPinOnMapBtn" data-userid="<%- rc.post_id %>">Show pin</a>
											<div class="hover-select">
												<select name="" id="">
													<option value="" disabled selected>Add to list...</option>
													<option value="">List 1</option>
													<option value="">List 2</option>
													<option value="">List 3</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> <!-- gallery-item -->

						<div class="gallery-item" ng-class="{'small': smallGalleryItem}">
							<div class="ad-window ad-image">
								<div class="post-date">
									<img src="../../dist/images/calendar-icon.png" alt="" class="calender-icon">
									<span class="time">12:45</span>
									<span class="date">09/12/17</span>
								</div>

								<div class="post-image-wrap">
									<a href="#">
										<img src="http://iphone6papers.com/wp-content/uploads/papers.co-au58-skyrim-dragon-illustration-art-bw-33-iphone6-wallpaper-250x444.jpg">
									</a>
								</div>

								<div class="post-content with-img">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ab iusto doloremque suscipit minus deserunt libero distinctio nobis officiis eius quo, molestiae repellendus eveniet amet, tempore, excepturi nulla pariatur inventore?
								</div>

								<div class="post-info-and-rate">
									<div class="user-info-wrap">
										<div class="user-avatar-wrap-twitter">
											<img class="user-avatar" src="">
										</div>
										<div class="post-user-info">
											<div class="post-user-name">
												<div class="TweetAuthor-name Identity-name customisable-highlight">Username DSADAS</div>
												<div class="TweetAuthor-screenName Identity-screenName">@usernameDSADAS</div>
											</div>
										</div>
									</div> <!-- user-info-wrap -->


									<div class="post-rate">
										<div class="circle-mark-wrap">
											<div class="circle positive"></div>
											<div class="mark positive">
												1.5
											</div>
										</div>
										<div class="message positive">
											POSITIVE
										</div>
									</div> <!-- post-rate -->
									<div class="post-category">
										<!-- <div class="category-icon">
											<img src="../../dist/images/{{item.category}}.png" class="post-category-img">
										</div> -->
										<div class="category-text">{{ item.category }}</div>
									</div> <!-- post-category -->
								</div> <!-- post-info-and-rate -->

								<div class="hover-overlay">
									<div class="hover-menu-wrap">
										<div class="hover-menu">
											<div class="pin-zoom-wrap">
												<a class="showPin" pin-center-lat="<%- rc.place.location[0] %>" pin-center-lng="<%- rc.place.location[1] %>"><i class="fa fa-map-pin"></i></a>
												<a class="resetMap"><i class="fa fa-map"></i></a>
											</div>
											<a class="annotation-btn" annot-userid="<%- rc.es_id %>" annot-indexid="<%- rc._index %>">Annotate</a>
											<a class="showPinOnMapBtn" data-userid="<%- rc.post_id %>">Show pin</a>
											<div class="hover-select">
												<select name="" id="">
													<option value="" disabled selected>Add to list...</option>
													<option value="">List 1</option>
													<option value="">List 2</option>
													<option value="">List 3</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> <!-- gallery-item -->

					</div>
				</div>
			</div>
		</div>
	</div> <!-- gallery-map-wrap -->
</div> <!-- dashboard-wrap -->