<div class="container-fluid login-page">
  <row>
    <div class="login-window-wrap col-lg-8 col-lg-offset-2">
      <div class="login-top">
        <img src="../../dist/images/Blackbird-logo.png" alt="Blackbird" width="200" height="88" class="login-logo">
        <div class="login-blackbird text-center">
          <strong>BLACKBIRD</strong>
        </div>
      </div> <!-- login-top -->

        <div class="approval-window row">
			<h2 class="window-title">Approval</h2>
			<p class="window-text">Waiting for approval from Admin. If you haven’t talked to anyone at SocialTrendly yet, please send an email to <a href="mailto:info@socialtrendly.com?subject=Approval%20account" class="email-text">info@socialtrendly.com</a> explaining your use case.</p>
		</div> <!-- approval-window -->

    </row>

    <div class="login-messages">
      <div class="loading-message" ng-class="{'active': showLoadingMessage}">
        Logging in...<img src="../../dist/images/orange-preloader.gif" alt="">
      </div>

      <div class="twitter-error-message" ng-class="{'active': showErrorMessage}">
        Error with authentication. Please try again later!
      </div>

      <div class="twitter-redirecting-message" ng-class="{'active': showRedirectMessage}">
        Redirecting...<img src="../../dist/images/green-preloader.gif" alt="">
      </div>

      <div class="twitter-error-message" ng-class="{'active': showInvalidMessage}">
        Invalid username or password. Please try again!
      </div>
    </div>
  </div> <!-- container-fluid -->