<div class="container-fluid login-page">
  <row>
    <div class="login-window-wrap col-lg-8 col-lg-offset-2">
      <div class="login-top">
        <img src="../../dist/images/Blackbird-logo.png" alt="Blackbird" width="200" height="88" class="login-logo">
        <div class="login-blackbird text-center">
          <strong>BLACKBIRD</strong>
        </div>
      </div> <!-- login-top -->

        <div class="login-window row">
          <div class="email-login col-md-12">
            <div class="email-login-wrap">
              <h2 class="window-title">Login</h2>

              <form name="form" ng-submit="login()" role="form">

                <label for="email-login">Username or Email:</label>
                <div class="login-input-wrap">
                  <input type="text" name="username" id="usernameInput" ng-model="user.username" required ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }" ng-change="hideMessages()" autofocus>
                  <span class="login-error-message" ng-class="{'error-active': form.username.$dirty && form.username.$error.required}">Username is required!</span>
                </div>

                <label for="email-password">Password:</label>
                <div class="login-input-wrap">
                  <input type="password" name="password" id="passwordInput" ng-model="user.password" required ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }" ng-change="hideMessages()">
                  <span class="login-error-message" ng-class="{'error-active': form.password.$dirty && form.password.$error.required}">Password is required!</span>
                </div>

                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="login-button" ng-class="{ 'has-error-input': form.$invalid || vm.dataLoading}">Login</button>

                <div class="create-btn-wrap">
                  <span class="create-account-btn" ui-sref="registration">
                    Create an account
                  </span>
                </div>

              </form>
            </div>
          </div> <!-- email-login -->
        </div> <!-- login-window-wrap  -->

    </row>

    <div class="login-messages">
      <div class="loading-message" ng-class="{'active': showLoadingMessage}">
        Logging in...<img src="../../dist/images/orange-preloader.gif" alt="">
      </div>

      <div class="twitter-error-message" ng-class="{'active': showErrorMessage}">
        Error with authentication. Please try again later!
      </div>

      <div class="twitter-redirecting-message" ng-class="{'active': showRedirectMessage}">
        Redirecting...<img src="../../dist/images/green-preloader.gif" alt="">
      </div>

      <div class="twitter-error-message" ng-class="{'active': showInvalidMessage}">
        Invalid username or password. Please try again!
      </div>
    </div>
  </div> <!-- container-fluid -->