<div class="container-fluid login-page">
  <row>
    <div class="login-window-wrap col-lg-8 col-lg-offset-2">
      <div class="login-top">
        <img src="../../dist/images/Blackbird-logo.png" alt="Blackbird" width="200" height="88" class="login-logo">
        <div class="login-blackbird text-center">
          <strong>BLACKBIRD</strong>
        </div>
      </div> <!-- login-top -->

        
      <div class="registration-window row">
        <h2 class="window-title">Registration</h2>
        <form class="registration-form" name="formReg" ng-submit="registration()" role="form">
          <div class="row">
            <div class="col-md-6">
              <label >Your name: *</label>
              <input type="text" name="name" ng-model="registrationUser.first_name" required ng-class="{ 'has-error': formReg.name.$dirty && formReg.name.$error.required }" ng-change="hideMessages()">
              <label >Email: *</label>
              <input type="email" name="email" ng-model="registrationUser.email" required  ng-class="{ 'has-error': formReg.email.$dirty && formReg.email.$error.required }" ng-change="hideMessages()">
            </div>

            <div class="col-md-6">
              <label>Last name: *</label>
              <input type="text" name="last_name" ng-model="registrationUser.last_name" required ng-class="{ 'has-error': formReg.last_name.$dirty && formReg.last_name.$error.required }" ng-change="hideMessages()">
              <label>Password: *</label>
              <div class="password-input-wrap">
                <input type="password" name="regPassword" ng-model="registrationUser.password" required ng-class="{ 'has-error': formReg.regPassword.$dirty && formReg.regPassword.$error.required }" ng-change="hideMessages(); passwordStrength(registrationUser.password); hideStrengthLevel();">
                <div class="strength-level-wrap" ng-class="{'active': showLevel}">
                  <p class="text-strength">Password strength: <span>{{ passwordStrengthValue }}</span></p>
                  <div class="strength-level-parent">
                    <span class="strength-level-child {{ passwordStrengthValue }}"></span>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-6 col-md-offset-3">
              <label>Company name: </label>
              <input type="text" name="company_name" ng-model="registrationUser.company_name" ng-change="hideMessages()">
            </div>
            
            <div class="col-md-12">
              <button type="submit" ng-disabled="formReg.$invalid || vm.dataLoading" class="login-button" ng-class="{ 'has-error-input': formReg.$invalid || vm.dataLoading}">Create an account</button>
              <div class="create-btn-wrap">
                Already have an account?<br>
                <span class="create-account-btn" ui-sref="login">
                 <span class="sign-in">Sign in</span>
               </span>
             </div>
           </div>
         </div> <!-- row -->
       </form>
      </div> <!-- registration-window -->


    </row>

    <div class="login-messages">
      <div class="loading-message" ng-class="{'active': showLoadingRegMessage}">
        Loading...<img src="../../dist/images/orange-preloader.gif" alt="">
      </div>

      <div class="twitter-error-message" ng-class="{'active': showErrorMessage}">
        Error with authentication. Please try again later!
      </div>

      <div class="twitter-redirecting-message" ng-class="{'active': showRedirectMessage}">
        Redirecting...<img src="../../dist/images/green-preloader.gif" alt="">
      </div>

      <div class="twitter-error-message" ng-class="{'active': showInvalidMessage}">
        Invalid username or password. Please try again!
      </div>
    </div>
  </div> <!-- container-fluid -->