<div class="modal-dialog show-full-image-wrap">
  <div class="modal-content">
  	<form name="form" role="form">
  		<div class="modal-body">
	    	<div class="add-instagram-wrapper">
	    		<div class="inst-header">
	    			<h3>Add Instagram account</h3>
	    		</div>
	    		<div class="inst-container">
	    			<div class="input-cont">
	    				<label for="instUsername">Username:</label>
	    				<input type="text" name="instusername" ng-model="$root.instAccount.username" required value="" id="instUsername">
	    			</div>
	    			<div class="input-cont">
	    				<label for="instPass">Password:</label>
	    				<input type="password" name="instpass" ng-model="$root.instAccount.pass" required value="" id="instPass">
	    			</div>
	    		</div>
	    	</div>
	    </div>
	    <div class="modal-footer">
	      <button ng-click="cancel()" type="button" class="btn modal-yellow-button right-btn">Cancel</button>
	      <button ng-click="answer('true')" ng-disabled="form.$invalid || vm.dataLoading" type="button" class="btn modal-yellow-button">Add</button>
	    </div>
  	</form>
  </div>
</div>