<div class="modal-dialog modal-save-location-two">
  <div class="modal-content">
    <div class="modal-body save-location-body">
     <h4 class="modal-title">
      <p id="modal-address">Choose the list first:</p>
     </h4>
     <div class="modal-input-wrap">
      <form class="modal-input-form">
      <div class="list-select-wrapper">
          <select ng-model="dasboardUserList" ng-change="addPostToList(item.post_id, dasboardUserList)" class="modal-list-select">
            <option value="" disabled selected>Add to list...</option>
            <option ng-repeat="list in $root.userListData" value="{{list.id}}">{{list.name}}</option>
          </select>
        </div>
      </form>
     </div>
    </div>
    <div class="modal-footer">
      <button ng-click="answer('true')" type="button" class="btn modal-yellow-button right-btn">Next</button>
      <button ng-click="cancel()" type="button" class="btn modal-yellow-button">Cancel</button>
    </div>
  </div>
</div>