<div class="modal-dialog modal-save-location-two">
  <div class="modal-content">
    <div class="modal-body save-location-body">
     <h4 class="modal-title">
      <p id="modal-address">Choose the list first:</p>
    </h4>
    <div class="modal-input-wrap">
      <form class="modal-input-form">
      <textarea name="" class="annotation-desription"></textarea>
      <input type="checkbox"> <span class="mark-critical-sign">Mark as critical</span>
      </form>
     </div>
    </div>
    <div class="modal-footer">
      <button ng-click="answer('true')" type="button" class="btn modal-yellow-button right-btn">Next</button>
      <button ng-click="cancel()" type="button" class="btn modal-yellow-button">Cancel</button>
    </div>
  </div>
</div>