<div class="modal-dialog modal-save-location-two">
  <div class="modal-content">
    <div class="modal-body save-location-body">
     <h4 class="modal-title">
      Please enter list title
     </h4>
     <div class="modal-input-wrap">
      <form class="modal-input-form">
       <input type="text" name="" value="" class="modal-input" id="createListInput" ng-model="$root.listTitle" autofocus>
      </form>
     </div>
    </div>
    <div class="modal-footer">
      <button ng-click="cancel()" type="button" class="btn modal-yellow-button right-btn">Cancel</button>
      <button ng-click="answer('true')" type="button" class="btn modal-yellow-button">Save List</button>
    </div>
  </div>
</div>