<div class="modal-dialog">
  <div class="modal-content error-popup list-rerror">
    <div class="modal-body">
    <div class="body-text">Error occurred. Please try again!</div>
    </div>
    <div class="modal-footer">
      <button ng-click="cancel()" type="button" class="btn modal-yellow-button">Ok</button>
    </div>
  </div>
</div>