<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
    <div class="body-text">List "{{$root.listTitle}}" successfully created!</div>
    </div>
    <div class="modal-footer">
      <button ng-click="cancel()" type="button" class="btn modal-yellow-button">Ok</button>
    </div>
  </div>
</div>