<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
    	<div class="body-text">Filtering by Date Range is Not Available on Pilot!</div>
    </div>
    <div class="modal-footer">
      <button ng-click="cancel()" type="button" class="btn modal-yellow-button right-btn">Close</button>
      <button ng-click="answer('useful')" type="button" class="btn modal-yellow-button">Upgrade</button>
    </div>
  </div>
</div>