<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
    	<div class="body-text">If you want to open another page, live streaming will be stopped.</div>
    </div>
    <div class="modal-footer">
      <button ng-click="answer('false')" type="button" class="btn modal-yellow-button right-btn">Go to page</button>
      <button ng-click="answer('true')" type="button" class="btn modal-yellow-button">Open in new tab</button>
    </div>
  </div>
</div>