<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-body">
			<div class="bootbox-body">Do you want to delete this post?</div>
		</div><div class="modal-footer">
		<button ng-click="cancel()" type="button" class="btn modal-yellow-button right-btn">No</button>
		<button ng-click="answer('true')" type="button" class="btn modal-yellow-button">Yes</button>
	</div>
</div>
</div>