<div class="modal-dialog modal-save-location-two">
  <div class="modal-content">
    <div class="modal-body save-location-body">
     <h4 class="modal-title">
      <div class="map_img_wrap"><img src="../../dist/images/location-pin_tiny@2x.png"></div>
      <p id="modal-address">{{$root.addressName}}</p>
      <br>
      <span class="custom-location-title">Enter custom location title:</span>
     </h4>
     <div class="modal-input-wrap">
      <form class="modal-input-form">
       <input type="text" name="" value="" class="modal-input" ng-model="$root.saveLocationTitle">
      </form>
     </div>
    </div>
    <div class="modal-footer">
      <button ng-click="cancel()" type="button" class="btn modal-yellow-button right-btn">Cancel</button>
      <button ng-click="answer('true')" type="button" class="btn modal-yellow-button">Save Location</button>
    </div>
  </div>
</div>