<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
    <div class="body-text">Saving a location will stop Live Stream.<br>Do you want to continue?</div>
    </div>
    <div class="modal-footer">
      <button ng-click="cancel()" type="button" class="btn modal-yellow-button right-btn">No</button>
      <button ng-click="answer('yes')" type="button" class="btn modal-yellow-button">Yes</button>
    </div>
  </div>
</div>