<div class="modal-dialog show-full-image-wrap">
  <div class="modal-content">
    <div class="modal-body">
    	<div class="show-full-image-wrapper">
    		<i class="fa fa-times close-full-img-icon" aria-hidden="true" ng-click="cancel()"></i>
    		<img src="{{$root.showFullImage.image}}">
    		<div class="post-content-text">
	    		<span>{{$root.showFullImage.post}}</span>
	    	</div>
    	</div>
    </div>
  </div>
</div>