<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-body">
			<div class="bootbox-body">Creating a new radius without saving a location will clear all data from this search. <br>  Do you want to continue?</div>
		</div>
		<div class="modal-footer">
			<button ng-click="cancel()" type="button" class="btn modal-yellow-button right-btn">No</button>
			<button ng-click="answer('true')" type="button" class="btn modal-yellow-button delete-success">Yes</button>
		</div>
	</div>
</div>