<div class="modal-dialog" style="height: 190px;">
	<div class="modal-content">
		<div class="modal-body">
			<div class="bootbox-body">User has exceeded the number of locations to monitor. <br> Stop one of the locations first before streaming a new one.</div>
		</div>
		<div class="modal-footer">
			<button ng-click="cancel()" type="button" class="btn modal-yellow-button delete-success">Close</button> <!--ng-click="answer('true')" -->
			<button ng-click="answer('false')" type="button" class="btn modal-yellow-button right-btn">Upgrade Account</button>
		</div>
	</div>
</div>