<div ui-view="header"></div>

<div class="straming-page-wrap container">
	<div class="col-md-12">
		<div class="streaming-left-wrap">
			<div class="create-new-loc-wrap">
				<button class="yellow-b create-new-btn" ng-click="createNewLocation()">Create new location</button>
			</div>
			<div class="saved-locations-wrap">
				<div class="saved-locations-title">
					<h3>Saved locations</h3>
				</div>

				<div class="saved-location-preloader" ng-show="noLocations">
					<p class="no-saved-location-text">No saved locations.</p>
				</div>

				<div class="saved-location-preloader" ng-show="savedLocationPreloader">
					<img src="../../dist/images/green-preloader.gif" class="green-preloader">
				</div>

				<div class="saved-locations-list-wpapper" ng-show="savedLocation">

					<div class="saved-locations-item" ng-repeat="location in savedLocationList | limitTo: 5">
						<div class="saved-location-item-top">
							<div class="saved-location-img-wrap">
								<img src="//maps.googleapis.com/maps/api/staticmap?center={{ location.lat }},{{ location.lng }}&zoom=15&size=210x146&maptype=satellite&key=AIzaSyBrVvh-fxPXkqjFl1sA8NAbjYeNTkOpEZg" alt="">
							</div>
							<div class="saved-location-content">
								<div class="saved-location-content-item">
									<span class="location-name">{{location.note}}</span>
								</div>
								<div class="saved-location-content-item">
									<span class="location-text">
										<img class="pin-icon" src="../../dist/images/location-pin_tiny@2x.png" alt="">Location
									</span>
									<div class="location-title">
										<span>{{location.location_name}}</span>
									</div>
								</div>
								<div class="saved-location-content-item two-lines">
									<span class="location-text">
										<i class="fa fa-clock-o loc-created-icon" aria-hidden="true"></i> Created
									</span>
									<div class="location-title">
										<span>{{location.created | formatDate}} {{location.created | formatTime}}</span>
									</div>
								</div>
								<div class="saved-location-content-item two-lines">
									<span class="location-text">
										Total posts
									</span>
									<div class="location-title">
										<span class="total-post-bubble">{{location.posts_count}}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="saved-location-item-bottom">
							<a class="yellow-b view-btn" ng-click="goToLive(location.radius, location.uom, location.lat, location.lng, location.zoom, location.id, location.is_active)">View Live</a>
							<a class="yellow-b view-btn" href="/locations/{{location.id}}">View Recorded</a>
						</div>
					</div>

					<!-- View all btn -->
					<div class="view-all-btn-wrap" ng-if="savedLocationList.length > 5">
						<a ui-sref="locations"><i class="fa fa-caret-down" aria-hidden="true"></i>View all</a>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="streaming-right-wrap">
			<div class="lists-title">
				<h3>Saved lists</h3>
			</div>

			<div class="lists-preloader" ng-show="noLists">
				<p class="no-list-text">No saved lists.</p>
			</div>

			<div class="lists-preloader" ng-show="listsPreloader">
				<img src="../../dist/images/green-preloader.gif" class="green-preloader">
			</div>

			<div class="saved-lists-wrap" ng-show="savedList">
				 
				<div class="saved-list-item" ng-repeat="item in listsData | limitTo: 5">
					<div class="saved-list-item-left">
						<h4>{{item.name}}</h4>
					</div>
					<div class="saved-list-item-right">
						<span class="total-posts-bubble">{{ item.posts_count }}</span>
						<a href="lists/{{item.id}}" class="view-list-btn">View</a>
					</div>
				</div>

				<!-- View all btn -->
				<div class="view-all-btn-wrap" ng-if="listsData.length > 5">
					<a ui-sref="lists"><i class="fa fa-caret-down" aria-hidden="true"></i>View all</a>
				</div>

			</div>
		</div>

		<!-- <div class="streaming-right-wrap">
			<div class="lists-title">
				<h3>Saved alerts</h3>
			</div>
			<div class="saved-lists-wrap">
				 
				<div class="saved-list-item">
					<div class="saved-list-item-left">
						<h4>Test alert</h4>
					</div>
					<div class="saved-list-item-right">
						<span class="total-posts-bubble">20</span>
						<span class="view-list-btn">View</span>
					</div>
				</div>
				<div class="saved-list-item">
					<div class="saved-list-item-left">
						<h4>Test alert</h4>
					</div>
					<div class="saved-list-item-right">
						<span class="total-posts-bubble">20</span>
						<span class="view-list-btn">View</span>
					</div>
				</div>
		
			</div>
		</div> -->
	</div>	
</div> <!-- recorded-wrap -->

<div ui-view="footer"></div>
