<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Register</h2>
        <form name="form" ng-submit="register()" role="form" autocomplete="off">
            <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                <label for="username">First name</label>
                <input type="text" name="firstName" id="firstName" class="form-control" ng-model="user.firstName" autocomplete="off" required />
                <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': (form.email.$dirty && form.email.$error.email) || (form.email.$dirty && form.email.$error.required) }">
                <label for="username">Email</label>
                <input type="email" name="email" id="email" class="form-control" ng-model="user.email" autocomplete="off" required />
                <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Email is invalid</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                <label for="username">Username (Login)</label>
                <input type="text" name="username" id="username" class="form-control" ng-model="user.username" autocomplete="off" required />
                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="user.password" autocomplete="off" required />
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Register</button>
                <a href="login" class="btn btn-link">Cancel</a>
            </div>
        </form>
        <br>
    </div>
  </div>
</div>
