<div class="container-fluid footer-main-container">    
  <div class="footer-row-wrap">
    <p>Blackbird.AI is a SocialTrendly Inc. Product. All Rights Reserved 2017. <a href="http://www.socialtrendly.com/terms-of-service" target="_blank">TERMS OF SERVICE</a> <a href="http://www.socialtrendly.com/privacy" target="_blank">PRIVACY POLICY</a> <a href="http://www.socialtrendly.com/eula" target="_blank">EULA</a></p>
  </div>    
</div> <!-- container -->