<div class="container-fluid header-container">
      <div class="header row">
        <div class="col-md-3 text-center">
          <a href="/" class="main-link">
           <img class="header-logo" src="../dist/images/Blackbird-logo-header.png" alt="Logo" draggable="false">
          </a>
        </div>
        <div class="col-md-7">
          <nav class="navbar navbar-light">
            <ul class="nav navbar-nav">
              <li class="nav-item">
                <a class="nav-link" ui-sref="dashboardInfo" ng-class="getClass('/info')">Dashboard<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ui-sref="locations" ng-class="getClass('/locations')">Locations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ui-sref="lists" ng-class="getClass('/lists')">Lists</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ng-class="getClass('/alert')" ui-sref="alerts">Alerts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ng-class="getClass('/demo')" ui-sref="demo">Demo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ng-class="getClass('/loop-demo')" ui-sref="demoLopp">Looped Demo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ui-sref="dashboard" ng-class="getClass('/dashboard')">Streaming</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-2 nav-left">
          <nav class="navbar navbar-light">
            <ul class="header-right">
              <li class="notif-popup-wrap">
                <a class="nav-link" id="notifPopupToggle" ng-click="showNotificationPopup = !showNotificationPopup; showSignOutPopup = false; $event.stopPropagation();">Notifications</a>
                <div class="yellow-oval" id="notification-count"><span>7</span></div>
                <div class="notif-popup" id="notifPopup" ng-class="{'active': showNotificationPopup}">
                  <div id="unreadNotificationWrap">
                    <a>My new alert</a>
                    <a>My new alert</a>
                    <a>My new alert</a>
                    <a>My new alert</a>
                    <a class="no-alerts-popup">No unread notifications.</a>
                  </div>
                  <a ui-sref="notifications" class="notif-popup-btn" id="not-btn">See all notifications</a>
                </div>
              </li>
              <li class="user-info" ng-click="showSignOutPopup = !showSignOutPopup; showNotificationPopup = false; $event.stopPropagation();">
                <a href="">
                  <img class="user-image" src="../../dist/images/user.png">
                  <span class="user-name">Settings</span>
                </a>
                <div class="sign-out-popup" ng-class="{'active': showSignOutPopup}">
                  <a ng-click="callInstagramPopUp($event)">Add Instagram</a>
                  <a href="/login" id="logout">Sign out</a>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div> <!-- header -->
</div> <!-- container -->