<div ui-view="header"></div>

<div class="recorded-wrap container-fluid">
	<div class="searchbar">
		<selectize placeholder='Search...' options='optionsSearchBarRecorded' name='myName' config="configSearchbarRecorded" ng-model="searchbarModelRecorded" ng-change="gallerySearch()" ng-disabled='disable' required='true'></selectize>
		<!-- <span class="category-selector" ng-click="showCategorySelector = !showCategorySelector">
			<img src="../../dist/images/share-icon.png" class="share-icon">
		</span>
		<div class="category-dropdown" ng-class="{'active': showCategorySelector}">
			<div class="category-item" category-value="weather" ng-click="chooseCategory($event)"><img src="../../dist/images/Weather.png" class="category-icon">Weather</div>
			<div class="category-item" category-value="drugs" ng-click="chooseCategory($event)"><img src="../../dist/images/Drugs.png" class="category-icon">Drugs</div>
			<div class="category-item" category-value="violence" ng-click="chooseCategory($event)"><img src="../../dist/images/Violence.png" class="category-icon">Violence</div>
			<div class="category-item" category-value="trafficking" ng-click="chooseCategory($event)"><img src="../../dist/images/Trafficking.png" class="category-icon">Trafficking</div>
			<div class="category-item" category-value="protest" ng-click="chooseCategory($event)"><img src="../../dist/images/Riot.png" class="category-icon">Riot</div>
			<div class="category-item" category-value="terrorism" ng-click="chooseCategory($event)"><img src="../../dist/images/Terrorism.png" class="category-icon">Terrorism</div>
			<div class="category-item" category-value="shooting" ng-click="chooseCategory($event)"><img src="../../dist/images/Shooting.png" class="category-icon">Shooting</div>
		</div> -->
	</div>

	<div class="social-line">
		<div class="social-check-wrap">
			<div class="social-line-separator">
				<div class="social-check twitter-check">
					<input type="checkbox" name="checkboxG5" id="twitToggleCheckbox" class="css-checkbox" ng-model="checkTwitterPins" ng-click="displayTwitterPins($event)">
					<label for="" class="css-label"></label>
					<div class="social-icon">
						<img src="../../dist/images/twitterPlatform.png" alt="">
					</div>
					<span class="social-name css-label">Twitter</span>
				</div>
				<!-- <div class="social-check instagram-check">
					<input type="checkbox" name="checkboxG5" id="twitToggleCheckbox" class="css-checkbox" ng-model="checkInstagramPins" ng-click="displayInstagramPins($event)">
					<label for="" class="css-label"></label>
					<div class="social-icon">
						<img src="../../dist/images/instagramPlatform.png" alt="">
					</div>
					<span class="social-name css-label">Instagram</span>
				</div>
				<div class="social-check facebook-check">
					<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkFacebookPins" ng-click="displayFacebookPins($event)">
					<label for="" class="css-label"></label>
					<div class="social-icon">
						<img src="../../dist/images/facebook.png" alt="">
					</div>
					<span class="social-name css-label">Facebook</span>
				</div> -->
			</div>
			<div class="social-line-separator">
				<div class="social-check news-check" ng-mouseover="socialNewsPopup = true" ng-mouseleave="socialNewsPopup = false">
					<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPins" ng-click="displayNewsPins($event)">
					<label for="" class="css-label"></label>
					<div class="social-icon">
						<img src="../../dist/images/news.png" alt="">
					</div>
					<span class="social-name css-label">News</span>
					<div class="news-popup" ng-show="socialNewsPopup" ng-mouseover="socialNewsPopup = true" ng-mouseleave="socialNewsPopup = false">
						<div class="social-check cctv-check">
							<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop1Pins" ng-click="checkNewsPop1Pins($event)" ng-checked="checkNewsPins">
							<label for="" class="css-label"></label>
							<div class="social-icon">
								<img src="../../dist/images/cnn.jpg" alt="">
							</div>
						</div>
						<div class="social-check cctv-check">
							<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop2Pins" ng-click="checkNewsPop2Pins($event)" ng-checked="checkNewsPins">
							<label for="" class="css-label"></label>
							<div class="social-icon">
								<img src="../../dist/images/wapo.jpg" alt="">
							</div>
						</div>
						<div class="social-check cctv-check">
							<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop3Pins" ng-click="checkNewsPop3Pins($event)" ng-checked="checkNewsPins">
							<label for="" class="css-label"></label>
							<div class="social-icon">
								<img src="../../dist/images/npr.jpg" alt="">
							</div>
						</div>
						<div class="social-check cctv-check">
							<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop4Pins" ng-click="checkNewsPop4Pins($event)" ng-checked="checkNewsPins">
							<label for="" class="css-label"></label>
							<div class="social-icon">
								<img src="../../dist/images/nytimes.jpg" alt="">
							</div>
						</div>
						<div class="social-check cctv-check">
							<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop5Pins" ng-click="checkNewsPop5Pins($event)" ng-checked="checkNewsPins">
							<label for="" class="css-label"></label>
							<div class="social-icon">
								<img src="../../dist/images/msnbc.jpg" alt="">
							</div>
						</div>
						<div class="social-check cctv-check">
							<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop6Pins" ng-click="checkNewsPop6Pins($event)" ng-checked="checkNewsPins">
							<label for="" class="css-label"></label>
							<div class="social-icon">
								<img src="../../dist/images/bbc.jpg" alt="">
							</div>
						</div>
						<div class="social-check cctv-check">
							<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkNewsPop7Pins" ng-click="checkNewsPop7Pins($event)" ng-checked="checkNewsPins">
							<label for="" class="css-label"></label>
							<div class="social-icon fox-news-icon">
								<img src="../../dist/images/fox.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="social-check cctv-check">
					<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkCctvPins" ng-click="displayCctvPins($event)">
					<label for="" class="css-label"></label>
					<div class="social-icon">
						<img src="../../dist/images/CCTV.png" alt="">
					</div>
					<span class="social-name css-label">CCTV</span>
				</div>
				<div class="social-check deepweb-check">
					<input type="checkbox" name="checkboxG5" id="" class="css-checkbox" ng-model="checkDeepwebPins" ng-click="displayDeepwebPins($event)">
					<label for="" class="css-label"></label>
					<div class="social-icon">
						<img src="../../dist/images/darkweb.png" alt="">
					</div>
					<span class="social-name css-label">Deep Web</span>
				</div>
			</div>
		</div>
		<div class="date-and-category-filter">
			<!-- date-filter -->
	      <div class="date-filter-wrapper">
	        <span class="filter-trigger" ng-click="filterPopup = !filterPopup; showCategorySelector = false;"><i class="fa fa-clock-o"></i></span>
	        <div class="date-filter-popup" ng-class="{'active': filterPopup}">
	          <div class="filter from">
	            <span class="filter-label">From:</span>
	            <div class="date-inputs-wrapper"> 
	              <input kendo-date-time-picker
	               ng-model="eventDateTimeFrom"
	               k-ng-model="eventDateTimeFromObj"
	               placeholder="mm/dd/yyyy hh:mm"
	               style="width: 100%;"/>
	            </div>
	          </div>
	          <div class="filter to">
	            <span class="filter-label">To:</span>
	            <div class="date-inputs-wrapper"> 
					<input kendo-date-time-picker
	               		ng-model="eventDateTimeTo"
	               		k-ng-model="eventDateTimeToObj"
	               		placeholder="mm/dd/yyyy hh:mm"
	               		style="width: 100%;" />
	            </div>
	          </div>
	          <a class="date-filter-popup-btn" ng-click="timestampFilter()">Filter</a>
	        </div>
	      </div>
			<!-- date-filter -->
			<div class="searchbar">
				<selectize placeholder='Choose Classifier' options='optionsCategoryBarRecorded' name='categorySelectize' config="configSearchbarRecorded" ng-model="searchCategoryRecordedModel" ng-change="gallerySearch()" ng-disabled='disable' required='true'></selectize>

				<span class="category-selector" ng-click="showCategorySelector = !showCategorySelector; filterPopup = false;">
					<img src="../../dist/images/share-icon.png" class="share-icon">
				</span>
				<div class="category-dropdown" ng-class="{'active': showCategorySelector}">
					<div class="category-item" ng-click="chooseCategory($event)"><img src="../../dist/images/ActiveShooter.png" class="category-icon">Active Shooter</div>
					<div class="category-item" ng-click="chooseCategory($event)"><img src="../../dist/images/Shooting.png" class="category-icon">Shooting</div>
					<div class="category-item" ng-click="chooseCategory($event)"><img src="../../dist/images/Violence.png" class="category-icon">Violence</div>
					<div class="category-item" ng-click="chooseCategory($event)"><img src="../../dist/images/Terrorism.png" class="category-icon">Terrorism</div>
					<div class="category-item" ng-click="chooseCategory($event)"><img src="../../dist/images/Disaster.png" class="category-icon">Disaster</div>
				</div>
			</div> <!-- searchbar -->
		</div> <!-- date-and-category-filter -->

		<md-button class="today-date-button" id="todayDate">Today, {{ nowDate | date:'MM/dd/yyyy' }}</md-button> <!-- ng-click="callDatePickerModal($event)" -->
	</div> <!-- social-line -->

	<div class="map-gallery-wrap pagination-margin">
		<div class="row">
			<div class="col-md-12">
				<div class="gallery-navbar">
					<div class="navbar-tabs">
						<span class="tab-item" ng-click="callMapShowFull(); callChangeTab('map')" ng-class="{'active': tabIndex == 'map'}"><img src="../../dist/images/map-tab.png" class="tab-item-img">Map</span>
						<span class="tab-item" ng-click="callGalleryShowFull(); callChangeTab('gallery')" ng-class="{'active': tabIndex == 'gallery'}"><img src="../../dist/images/layout.png" class="tab-item-img">Gallery</span>
						<span class="tab-item" ng-click="callSplitView(); callChangeTab('split-view')" ng-class="{'active': tabIndex == 'split-view'}"><img src="../../dist/images/split-browser.png" class="tab-item-img">Split view</span>
						<span class="tab-item" ng-click="callExamineView(); callChangeTab('examine')" ng-class="{'active': tabIndex == 'examine'}">Examine</span>
						<a class="tab-item" href="/dashboard">Live</a>
					</div>
					<div class="record-status">
						REC MODE <span class="status-dot red"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row oversized-row">
			<div ng-class="mapShow" ng-show="mapShowStatus" class="map-show-wrap">
				<ng-map class="map-wrap" id="mapRecorded">
					<div class="overmap over-map-event" id="over-map" ng-class="{'small': makeOvermapSmall}" style="overflow: hidden;">
			            <span class="location-name" style="margin-top: 7px;" ng-cloak>Recorded Session:</span>
			            <span class="event-name" style="margin-top: -6px; width: 445px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap; font-size: 20px;" ng-cloak>{{initRecordedData.location}}</span>
			          </div>
				</ng-map>
			</div>

			<div class="gallery-show-wrap" ng-class="galleryShow" ng-show="galleryShowStatus">
				<div class="sort-selects">
					<select ui-select2="{positionDropdown : true}" ng-model="eventSortByDate" data-placeholder="Sort by Date" ng-change="sortByDate()" >
						<option value=""></option>
						<option value="timestamp">OLDEST FIRST</option>
						<option value="-timestamp">NEWEST FIRST</option>
					</select>
					<select ui-select2="{positionDropdown : true}" ng-model="eventSortBySentiment" data-placeholder="Sentiment" ng-change="sortBySentiment()">
						<option value=""></option>
						<option value="*">ALL</option>
						<option value="positive">POSITIVE</option>
						<option value="negative">NEGATIVE</option>
					</select>
					<select ui-select2="{positionDropdown : true}" ng-model="postTypeSelect" data-placeholder="Select Post Type" ng-change="sortByPostType()">
						<option value=""></option>
						<option value="">ALL</option>
						<option value="&media_url__ne">TEXT</option>
						<option value="&media_url__exact">MEDIA</option>
					</select>
					<!-- <button class="reset-all-btn">Reset All</button> -->
				</div>

				<div class="progress-bar-container">
					<div class="progress-bar-body">
						<div class="progress-bar-inner" style="width: {{progressBarValue +'%'}}"></div>
					</div> <!-- progress-bar-body -->
					<div class="progress-number-status">{{progressBarValue}}%</div>
				</div> <!-- progress-bar-container -->

				<!-- Pagination buttons -->
				<div class="over-feed-btn over-feed-left" ng-class="{'display-none': leftBtn}" ng-click="paginationLeft()"><img src="../../dist/images/left-arrow.png" class="feed-arrow"></div>

				<div class="over-feed-btn over-feed-right" ng-class="{'display-none': rightBtn}" ng-click="paginationRight()"><img src="../../dist/images/right-arrow.png" class="feed-arrow"></div>

				<!-- Pagination -->
				<div class="pagination-wrapper" ng-show="paginationShow">
					<span class="pagination-arrow first" ng-click="goToPage(1); paginationPageNum = 10;"><i class="fa fa-angle-double-left"></i></span>
					<span class="pagination-arrow last" ng-click="goToPage(paginationPages); paginationPageNum = paginationPages; markLastPage(paginationPages)"><i class="fa fa-angle-double-right"></i></span>
					<ul class="pagination-list">
						<li class="pagination-item" ng-repeat="page in paginationPagesArray | limitTo: paginationPageNum | limitTo: -10" ng-click="goToPage(page.pageNum)" ng-class="{'active': page.pageNum == 1 && nextValue == 0}" id="pageId-{{page.pageNum}}">{{page.pageNum}}</li> <!-- active -->
					</ul>
				</div>

				<div class="gallery-wrap">

					<div class="preloader-wrap" ng-class="{'preloader-wrap-active': eventPreloader}">
						<img src="../../dist/images/green-preloader.gif" class="green-preloader">
					</div>

					<div class="pre-info-error" ng-class="{'pre-info-error-active': eventErrorMsg}">
						<div class="pre-info-block">
							<p class="pre-info-text">Error occurred. <br> Please try again later.</p>
						</div>
					</div>

					<div class="no-post-wrap-wrap" ng-class="{'no-post-wrap-active': noPostsMsg}">
						<div class="pre-info-block">
							<p class="pre-info-text">No posts here.</p>
						</div>
					</div>

					<div class="galleryFeed">

						<div class="gallery-item" ng-repeat="item in recordedData" ng-class="{'small': smallGalleryItem}">
							<div class="ad-window ad-image">
								<div class="post-category-wrapper">
									<span class="category-label">Sounds like:</span>
									<div class="post-category" ng-if="item.category == ''">
										<div class="change-category">▼</div>
										<span class="category-text category-text-generic">Generic</span>
									</div>
									<div class="post-category" ng-if="item.category == 'Generic'">
										<div class="change-category">▼</div>
										<span class="category-text category-text-generic">{{ item.category }}</span>
									</div>
									<div class="post-category" ng-if="item.category != 'Generic'">
										<div class="change-category">▼</div>
										<span class="category-text">{{ item.category }}</span>
										<div class="category-icon">
											<img ng-if="item.category != 'Generic'" ng-hide="item.category == ''" src="../../dist/images/{{item.category}}.png" img-error="../../dist/images/empty-img.png" class="post-category-img">
										</div>
									</div> <!-- post-category -->
									<ul class="change-category-list">
										<li class="change-category-list-item" post-id="{{ item.post_id }}" ng-repeat="category in categories" ng-if="item.category != category">{{category}}</li>
									</ul>
								</div> <!-- post-category-wrapper -->
								<div class="post-date">
									<img src="../../dist/images/calendar-icon.png" alt="" class="calender-icon">
									<span class="time">{{ item.timestamp_db | formatTime }}</span>
									<span class="date">{{ item.timestamp_db | formatDate }}</span>
								</div>

								<div ng-if="item.media_url.length > 1" class="post-image-wrap">
									<a href="#">
									    <i class="fa fa-search full-img-icon" aria-hidden="true" ng-click="showFullImg('', item.media_url, item.text)"></i>
										<img src="{{item.media_url}}">
									</a>
								</div>

								<div ng-if="item.media_url.length > 1" class="post-content with-img" ng-bind-html="item.text | highlight:searchbarModelRecorded">
									<!-- {{ item.text }} -->
								</div>

								<div ng-if="item.media_url.length < 1" class="post-content" ng-bind-html="item.text | highlight:searchbarModelRecorded">
									<!-- {{ item.text }} -->
								</div>
								
								<div class="post-info-and-rate">
									<div class="user-info-wrap">
										<div ng-if="item.platform == 'twitter'" class="user-avatar-wrap-twitter">
											<img class="user-avatar blur" src="{{ item.user_profile_image_url }}" img-error="../../dist/images/no-user-img.png">
										</div>
										<div ng-if="item.platform == 'instagram'" class="user-avatar-wrap-instagram">
											<img class="user-avatar blur" src="{{ item.user_profile_image_url }}" img-error="../../dist/images/no-user-img.png">
										</div>
										<div class="post-user-info">
											<div class="post-user-name">
												<div class="TweetAuthor-name Identity-name customisable-highlight">Twitter User</div> <!-- {{item.user_screen_name | limitTo: 14 }} -->
												<div class="TweetAuthor-screenName Identity-screenName">@twitter_user</div> <!-- {{ item.user_name | limitTo: 17 }} -->
											</div>
										</div>
									</div> <!-- user-info-wrap -->


									<div class="post-rate">
										<div class="circle-mark-wrap">
											<div ng-if="item.sentiment > '0.5'">
												<div class="circle positive"></div>
												<div class="mark positive">
													{{ item.sentiment | number : 1 }}
												</div>
											</div>
											<div ng-if="item.sentiment < '-0.5'">
												<div class="circle negative"></div>
												<div class="mark negative">
													{{ item.sentiment | number : 1 }}
												</div>
											</div>
											<div ng-if="item.sentiment > '-0.5' && item.sentiment < '0.5'">
												<div class="circle neutral"></div>
												<div class="mark neutral">
													{{ item.sentiment | number : 1 }}
												</div>
											</div>
										</div>
										<div class="message positive" ng-if="item.sentiment_tag == 'positive'">
											POSITIVE
										</div>
										<div class="message negative" ng-if="item.sentiment_tag == 'negative'">
											NEGATIVE
										</div>
										<div class="message neutral" ng-if="item.sentiment_tag == 'neutral'">
											NEUTRAL
										</div>
									</div> <!-- post-rate -->
								</div> <!-- post-info-and-rate -->

								<div class="post-menu">
									<a class="showPinOnMapBtn" ng-click="showPinOnMap(item.post_id, 'mapRecorded')"><i class="fa fa-map-marker bigger-icon" aria-hidden="true"></i></a>
									<a class="showPin" ng-click="zoomToPostPin(item.location, 'mapRecorded')"><i class="fa fa-map-pin"></i></a>
									<a class="resetMap" ng-click="zoomToMap('mapRecorded')"><i class="fa fa-map"></i></a>
									<!-- <a class="annotation-btn" ng-click="annotatePost()"><span class="annotation-icon">!</span></a> -->
									<div class="menu-select">
										<select ng-model="eventUserList" ng-change="addPostToList(item.post_id, eventUserList)" ng-click="getListData();">
											<option style="color: #000" ng-repeat="list in userListData" value="{{list.id}}">{{list.name}}</option>
										</select>
									</div>
								</div> 

								<!-- <div class="hover-overlay">
									<div class="hover-menu-wrap">
										<div class="hover-menu">
											<a class="showPinOnMapBtn" ng-click="showPinOnMap(item.post_id, 'mapRecorded')"><i class="fa fa-map-marker" aria-hidden="true"></i>Show pin</a>
											<div class="pin-zoom-wrap">
												<a class="showPin" ng-click="zoomToPostPin(item.location, 'mapRecorded')"><i class="fa fa-map-pin"></i></a>
												<a class="resetMap" ng-click="zoomToMap('mapRecorded')"><i class="fa fa-map"></i></a>
											</div>
											<a class="annotation-btn" ng-click="annotatePost()">Annotate</a>
											<div class="hover-select">
												<select ng-model="dasboardUserList" ng-change="addPostToList(item.post_id, dasboardUserList)">
													<option value="" disabled selected>Add to list...</option>
													<option ng-repeat="list in $root.userListData" value="{{list.id}}">{{list.name}}</option>
												</select>
											</div>
										</div>
									</div>
								</div> -->
	
							</div>
						</div> <!-- gallery-item -->

					</div>
				</div>
			</div>

			<!-- Examine view -->
			<div ng-include="'views/examine/examine.html'"></div>

		</div>
	</div> <!-- gallery-map-wrap -->
</div> <!-- recorded-wrap -->

<div ui-view="footer"></div>